extend /partials/layout

block append config
  - var datapath = "static/charts/pandemic-response/charts/data"
  - _.extend(page, data.getOne(datapath))
  - toPercent = (n) => (n * 100).toFixed(2) + "%"

block page
  - charts = page.charts
  each chart, i in charts
    .wrapper.flex(id=`chart-${i}` class=(i==0 ? "active" : ""))
      .txt-center.flex.flex-grow.flex-col
        .chart-title.ptr(onclick="this.classList.toggle('visible');")
          li.ptr.top= chart.axes[0].title
            svg.btn(width="20" height="20" viewBox="0 0 24 24")
              path(d="M8.586 5.586c-.781.781-.781 2.047 0 2.828l3.585 3.586-3.585 3.586c-.781.781-.781 2.047 0 2.828.39.391.902.586 1.414.586s1.024-.195 1.414-.586l6.415-6.414-6.415-6.414c-.78-.781-2.048-.781-2.828 0z")
          ul
            each c, k in charts
              li.ptr(
                onclick=`updateChart(${k})`
                style=(k==i ? 'display: none' : "")
              )= c.axes[0].title
        .chart-subtitle.txt-muted.txt-sm.p-sm!= chart.subtitle
        .chart.flex-grow: .chart-content
          - scale = chart.scale
          - ln = chart.axes[1].values.length
          - fx = (i) => (i + 0.32) / (ln + 0.5)
          - fy = (y) => (y - scale.minY) / (scale.maxY - scale.minY)
          svg(height="100%" width="100%")        
            
            svg(height="100%" x="0" y="50%")
              text(text-anchor="middle" transform="rotate(-90) translate(0 -50)")= chart.axes[3].title
              
            svg(height="100%")
              - let vn = 3
              - let min = 0
              - let max = 75
              for n, i in new Array(vn+1)
                - y = 1 - (i / vn)
                svg(y=toPercent(y))
                  text(text-anchor="end" transform="translate(-8 4)")
                    = min + (i/vn) * (max - min) + "%"
                    
            svg(height="100%")
              for n, i in new Array(vn)
                - y = (i / vn)
                svg
                  line(
                    x1="0%"
                    y1=toPercent(y)
                    x2="100%"
                    y2=toPercent(y)
                    stroke=(i==1 ? "#5552" : "#5552")
                    stroke-dasharray=(i==1 ? "" : 5)
                  )

            g
              for y1, i in chart.axes[1].values
                - y2 = chart.axes[2].values[i]
                - label = chart.axes[0].values[i]
                svg(
                  x=toPercent(fx(i))
                  y=toPercent(0)
                  width="20%"
                  height="100%"
                )
                  g.bars
                    rect.value-bg(
                      y=toPercent(fy(chart.scale.maxY - y1))
                      height="26px"
                      width="45%"
                      transform="translate(0 -26)"
                      fill="#fff"
                    )
                    rect.value-bg(
                      y=toPercent(fy(chart.scale.maxY - y2))
                      x="50%"
                      height="26px"
                      width="45%"
                      transform="translate(0 -26)"
                      fill="#fff"
                    )                    
                    text.chart-value(
                      x="22.5%"
                      y=toPercent(fy(chart.scale.maxY - y1))
                      text-anchor="middle"
                      transform="translate(0 -8)"
                    )
                      = y1 + "%"
                    text.chart-value(
                      x="72.5%"
                      y=toPercent(fy(chart.scale.maxY - y2))
                      text-anchor="middle"
                      transform="translate(0 -8)"
                    )
                      = y2 + "%"

                    rect(
                      width="45%"
                      y=toPercent(fy(chart.scale.maxY - y1))
                      height=toPercent(fy(y1))
                      fill="#002b45"
                    )
                    rect(
                      width="45%"
                      x="50%"
                      y=toPercent(fy(chart.scale.maxY - y2))
                      height=toPercent(fy(y2))
                      fill="#ff1f2f"
                    )

                  svg(x="50%" y="100%")
                    text.x-label(
                      text-anchor="middle"
                      transform="rotate(0) translate(-8 24)"
                    )
                      =label

        .row
          ul.legend.list-bare.txt-left.flex.flex-ch
            li.legend-item
              span.legend-item-box(style="background:#002a45")
              span.legend-item-label= chart.axes[1].title
            li.legend-item
              span.legend-item-box(style="background:#ff1f2f")
              span.legend-item-label= chart.axes[2].title


block append css
  style
    :sass
      .wrapper
        height: 500px
        display: none
        
      .wrapper.active
        display: flex

      .chart
        box-sizing: border-box
        position: relative

      .chart-content
        position: absolute
        top: 20px
        left: 50px
        right: 20px
        bottom: 40px

      .chart-content > svg
        border-bottom: 1px solid #bbb

      .chart-title
        margin: auto
        max-height: 37px
        overflow: hidden
        width: fit-content
        z-index: 1
        font-size: 20px
        user-select: none
        
      .visible
        overflow: visible

      .btn
        float: right
        padding: 4px 0 8px 8px
        transform: rotate(90deg) translate(-5px, 0)
        fill: #4b4f56
      .ptr
        cursor: pointer
      .rel
        position: relative
      ul
        padding: 0
        box-shadow: 0px 20px 20px 0px #3332
        li
          background: white
      li
        list-style: none
        margin: 0
        padding: 4px 16px 4px 24px
        &.top
          background: #f5f5f5
          &:hover
            background: #f8f8f8
        &:hover
          background: #eee
          
      .chart-subtitle
        height: 0

      .legend
        font-size: 15px

      .legend-item
        margin: 4px 8px 0
        padding-right: 0
        position: relative

      .legend-item-box
        position: absolute
        left: 0
        top: 4px
        height: 1em
        width: 1em
        background: black

      text
        font-size: 14px
        fill: currentColor

      svg
        overflow: visible

      .chart-source
        font-size: 14px

      @media (max-width: 600px)
        .chart-content
          left: 40px
          right: 5px
          bottom: 80px
          top: 30px
        .chart-value
          transform: translateX('5%')
        .x-label
          transform: rotate(-40deg) translate(-8px, 14px)
          text-anchor: end
        rect
          width: 50%
        text
          font-size: 13px
          
      @media (max-width: 450px)
        .legend-item
          width: min-content
        .chart-subtitle
          font-size: 15px
  
  script.
    function updateChart(d) {
      document.querySelector('.active').classList.toggle('active');
      document.querySelector('#chart-'+d).classList.toggle('active');
      document.addEventListener('click', function(e) {
        let titles = document.querySelectorAll('.visible');
        e.target.matches('li') || e.target.matches('.btn') || e.target.matches('path')
         ? "" : Array.prototype.forEach.call(titles, (el => el.classList.remove('visible')));
      });
    }
