extend /partials/layout

block append config
  - var chart  = data.getOne("static/charts/mapping-aid-in-the-pacific/presentation/assets/data")
  - var byValue = function(e){return e.grant ? -e.grant[0] : 0};
  - var inOrder = _.sortBy(chart.items, byValue);
  - page.title = "Foreign Assistance Spending to the Pacific (US current)"

block page
  - chart.keys = ["loan", "grant"]
  - chart.scaleFactor = 1000

  for item in chart.items
    - item.grant = item.grant || [0, 0, 0, 0, 0, 0, 0, 0]
    - item.loan  = item.loan  || [0, 0, 0, 0, 0, 0, 0, 0]
    - item.all = []

    for key in chart.keys
      - prev = 0
      for val, i in item[key]
        - item[key][i] = val + prev
        - prev += val

    for val, i in item.grant
      - item.grant[i] = item.grant[i] / 1000000
      - item.loan[i] = item.loan[i] / 1000000
      - item.all[i] = item.grant[i] + item.loan[i]

  script
    != `window.chart = ${JSON.stringify(chart)};`
  #wrapper(data-view="time-series" data-values="items")
    #chart-title
      h1.chart-title-main= page.title
      .chart-title-small Cumulative, 2011-2017

    ul#axis-items.list-bare
      for item in chart.items
        - var p = item.grant[0] / inOrder[0].grant[0];
        - var r = inOrder.indexOf(item);
        li.item(
          style=`transform: translate3d(0, ${r * 100}%, 0)`
          class=`item-${written.hyphenCase(item.aka || item.name)}`
        )
          label.item-name= item.aka || item.name
          .item-bar
            for key, i in chart.keys
              .item-bar-block(
                style=`transform: translate3d(${-100 + p * 100}%, 0, 0)`
                class=key
              )
                .item-bar-label(class=key)

    #ranks
      #rank-list
        for n, i in new Array(chart.limit)
          .rank
            .rank-label(style={
              opacity: ((chart.limit * 2) - i) / (chart.limit * 2)
            })= i + 1

    #scale
      #scale-strokes
        for n, i in new Array(25)
          .scale-stroke(style={opacity: (25 - i) / 25})
            span.scale-stroke-label $#{i}T

    #controls
      a#btn-reset.btn(tabindex="0")
        svg.btn-icon(viewBox="0 0 24 24")
          rect.btn-icon-shape(x="0"  y="0" width="8" height="24")
          polygon.btn-icon-shape(points="24,24 24,0 8,12 ")

      a#btn-play.btn(tabindex="0")
        svg.btn-icon(viewBox="0 0 24 24")
          polygon.btn-icon-shape(points="0,24 0,0 24,12 ")

      a#btn-pause.btn(tabindex="0")
        svg.btn-icon(viewBox="0 0 24 24")
          rect.btn-icon-shape(x="0"  y="0" width="8" height="24")
          rect.btn-icon-shape(x="16" y="0" width="8" height="24")

      a#btn-end.btn(tabindex="0")
        svg.btn-icon(viewBox="0 0 24 24")
          rect.btn-icon-shape(x="16" y="0" width="8" height="24")
          polygon.btn-icon-shape(points="0,0 0,24 16,12 ")

      #axis-years.list-bare
        ul#axis-years-list
          for year, i in chart.scale
            li.year
              a.year-link(data-index=i)= year

    small#chart-source
      | Source: Lowy Institute Pacific Aid Map, September 2019

    a#chart-logo(href="https://www.lowyinstitute.org/")
      img(src="/img/lowyinstitute-logo.png")

    legend#chart-legend
      label.chart-title-label.grant
        | Grant
      label.chart-title-label.loan
        | Loan

block css
  link(
    type="text/css"
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Montserrat:500,700"
    media="all"
  )

  style
    include:sass assets/_style.sass
