//-
  This layout is used to construct the article page. It in turn extends the
  default `layout` defined below.

extend /partials/layout

block append config
  - page.includeFonts = false
  - page.image = "http://interactives.lowyinstitute.org/features/rbo-debate/img/thumbnail.jpg"
  - page.article = __.filepath.match(/([^\/]+)\/index.pug$/)[1]
  - page.feature = data.getOne("static/features/rbo-debate/data")

block prepend head
  - page.url = "https://interactives.lowyinstitute.org/features/rbo-debate/"
  - page.url += "/" + page.article
  - page.metaTitle = `${page.title} - RBO Debates – Lowy Insitute`

block page

  include header
  
  .article-landing(
    style=`background: linear-gradient(0deg, rgba(185, 0, 0, 0.7), rgba(185, 0, 0, 0.7)), url(../../img/${page.attributes.img}) center no-repeat;`
  )
    h1.pg-title.txt-cond.mx-auto.bg-ff= page.attributes.title
    h4.txt-sm.txt-tu.mx-auto.bg-ff!= page.attributes.author + "<br>"
      span= page.attributes.position

  block pullquote
  block content

  include footer

block append css
  style
    include:sass ../_styles.sass
