//-
  This layout is used to construct the article page. It in turn extends the
  default `layout` defined below.

extend /partials/layout

block append config
  - page.includeFonts = false
  - page.image = "http://interactives.lowyinstitute.org/features/rbo-debate/img/thumbnail.jpg"
  - page.article = __.filepath.match(/([^\/]+)\/index.pug$/)[1]
  - page.feature = data.getOne("static/features/rbo-debate/data")

block prepend head
  - page.url = "https://interactives.lowyinstitute.org/features/rbo-debate/"
  - page.url += "/" + page.article
  - page.metaTitle = `${page.title} - RBO Debates – Lowy Insitute`

block page

  include header
  
  .article-landing.flex-cv(
    style=`background: linear-gradient(0deg, rgba(185, 0, 0, 0.7), rgba(185, 0, 0, 0.7)), url(../../img/${page.attributes.img}) center no-repeat;`
  )
    .row(style="min-height: 10vh")
    .pg-title.article-w.txt-center.mx-auto
      h1.txt-cond.bg-ff= page.attributes.title
      h4.pg-author.sm.txt-tu.bg-ff!= page.attributes.author + "<br>"
        span.txt-mute= page.attributes.position
    .row(style="min-height: 20vh")
    .pullquote.article-w.xl.txt-ff.txt-center.txt-semi.mx-auto.flex-cv
      block pullquote

  .content.article-w.mx-auto
    block content

  include footer

block append css
  style
    include:sass ../_styles.sass
