//-
  This layout is used to construct the article page. It in turn extends the
  default `layout` defined below.

extend /partials/layout

block append config
  - page.includeFonts = false
  - page.class = "page-article page-0"
  - page.image = "http://interactives.lowyinstitute.org/features/covid-recovery/img/thumbnail.jpg"
  - page.article = __.filepath.match(/([^\/]+)\/index.pug$/)[1]
  - page.feature = data.getOne("static/features/covid-recovery/data")

block prepend head
  - page.url = "https://interactives.lowyinstitute.org/features/covid-recovery/"
  - page.url += "articles/" + page.article
  - page.metaTitle = `${page.title} - COVID-19 Recovery – Lowy Insitute`

block page
  include header

  mixin item(index)
    .scroll-item(
      id=`scroll-item-${index}`
      class=(index == "index" ? "active" : null)
    )
      block

  #scroller(
    data-view="scroller"
    data-pager=".pager-page"
    data-index=".pager-index"
    data-offset="1"
  )
    +item("intro")
      .row
        .col-1-2
          .fill
            .row
              .col-fw.p-md
                .txt-xl.pv-xs.ph-xl.pg-title= page.title
                .txt-sm.txt-tu.pv-sm.ph-lg.txt-expert-author= page.expert
                  <br>
                  span.txt-mt= page.expertrole

            .row.bg-dk
              .col-fw.ph-lg.pv-md.txt-ff.txt-lg-lh
                block intro-description

        .col-1-2.bg-lt.txt-ff
          .col-fw.frame
            .img-pan
              block intro-image
            .caption.txt-ff
              block intro-caption

    block scroller

    +item("links")
      .container
        ul.link-grid.list-bare.txt-ff
          li.col-fw.txt-sm.txt-tu.txt-hl.pv-sm Explore more topics
          for article, i in page.feature.articles
            if i
              if article.href != page.article
                li.col-1-3
                  a.txt-bare.pv-md.ph-xs(
                    href=`/features/covid-recovery/articles/${article.href}`
                  )
                    span.txt-md!= typogr.typogrify(article.title)
              else
                li.col-1-3(id="active")
                  .pv-md.ph-xs
                    span.txt-md!= typogr.typogrify(article.title)

  include footer

block append css
  style
    include:sass ../_styles.sass

//block append scripts
  script
    include:coffee ../coffee/scroller.coffee
