extend /partials/layout

block append config
  - page.title = "Annual Growth of UK Trade (CAGR): 1998-2017"

block page
  .wrapper.flex-center(
    ontouchstart=""
    class=written.hyphenCase(page.title)
  )
    strong.chart-title= page.title
    - bars = [[3.3, 3.4], [0.2, 3.2], [5.6, 4.7], [5.2, 3.0]]
    - yaxis = [0, 1, 2, 4, 5, 6]
    - xaxis = ["Goods: Non-EU", "Goods: EU", "Services: Non-EU", "Services: EU"]
    - yo = 20
    - yh = 40

    .chart(style={height: "244px", width:"100%"})
      .bg
        for label, i in yaxis
          - var y = (yaxis.length - i - 1) * yh
          .bg-y(style={top: yo + y + "px"})
            .label-y #{label}%
            .stroke-y

      .bars
        for group, j in bars
          - var y = (yaxis.length - 1) * yh
          - var x = (100 / (xaxis.length + 1) * (j + 1)) + "%"
          .bar-group(
            style=({left: x, top: yo + y + "px"})
            class=(j === 1 ? "highlight" : "")
          )
            for bar, i in group
              - var d = (_.last(yaxis) - _.first(yaxis))
              - var h = (bar - _.first(yaxis))

              .bar(
                class="bar-" + i
                style={height: (h / d) * y + "px"}
              )
                .bar-label= bar + "%"

            .bar-group-label= xaxis[j]
            if j === 1
              .bar-group-highlight-label The EU<br>Customs Union

    ul.legend.list-bare
      li
        .bar.bar-0
        | Exports
      li
        .bar.bar-1
        | Imports


block append css
  style
    include style.css
