extend /partials/layout

block append config
  - page.title = "Share of World GDP (PPP Ex. Rates)"
  - var chart = { height: 300, width: 640, inset: { x: 20, y: 28 } }

block page
  #wrapper.txt-center(ontouchstart="")
    .label.txt-uppercase
      strong Share of World GDP
      span &nbsp;(PPP ex. Rates)

    svg(
      width=`${chart.width}px`
      height=`${chart.height}px`
      sviewBox=`0 0 ${chart.width} ${chart.height}`
      data-view="match"
    )
      rect(width="100%" height="100%" fill="none")
      g.axis-y

        for n, i in (new Array(6))
          - var y = (chart.inset.y + i * 236 / 5)
          text.tt2.tt3(text-anchor="end" x=chart.inset.x * 2 y=y + 4)
            | #{100 - i * 20}%
          line.st1(
            x1=48
            x2=(chart.width - chart.inset.x)
            y1=y
            y2=y
          )

      g.bars.bars-2018(transform="translate(96 8)")
        - var count = 0
        for n, i in [15,11,14,19,8,10,23]
          - var h = (n / 100 * 236)
          - var y = (count / 100 * 236)
          - count += n;
          g(id=`id${2+ i}` data-link=2 + i data-id=2 + i)
            rect.rect.st2(x=0 y=(20 + y) width="15%" height=h class=`st${2 + i}`)
            text.tt1.tt3(text-anchor="middle" y=(25 + y + h / 2) x="7.5%") #{n}%

        text.tt2.tt3(text-anchor="middle" y=280 x="7.5%") 2018

      
      g.bars.bars-2040(transform="translate(248 8)")
        - var count = 0
        for n, i in [14,8,11,17,15,12,23]
          - var h = (n / 100 * 236)
          - var y = (count / 100 * 236)
          - count += n;
          g(id=`id${2+ i}` data-link=2 + i data-id=2 + i)
            rect.rect.st2(x=0 y=(20 + y) width="15%" height=h class=`st${2 + i}`)
            text.tt1.tt3(text-anchor="middle" y=(25 + y + h / 2) x="7.5%") #{n}%

        text.tt2.tt3(text-anchor="middle" y=280 x="7.5%") 2040


      g.legend(transform="translate(400 0)")
        rect.bg(x=0 y=36 width=300 height=220)
        for l, i in ["US", "Eurozone", "Other advanced economies", "China", "India", "Other emerging markets (Asia)", "Emerging markets outside Asia"]
          g(data-link=2 + i data-id=2 + i transform="translate(12 32)")
            rect.bg(x=-12 y=2 + i * 32 height=32 width=244)
            rect.rect(x=0 y=12 + i * 32 width=12 height=12 class=`st${2 + i}`)
            text.tt2.tt3(x=20 y=23 + i * 32)= l
      
      g.legend-mob(transform="translate(400 0)")
        rect.bg(x=0 y=36 width=300 height=220)
        for l, i in ["US", "Eurozone", "Other adv. economies", "China", "India", "Other EMs (Asia)", "EMs outside Asia"]
          g(data-link=2 + i data-id=2 + i transform="translate(12 32)")
            rect.bg(x=-12 y=2 + i * 32 height=32 width=244)
            rect.rect(x=0 y=12 + i * 32 width=12 height=12 class=`st${2 + i}`)
            text.tt2.tt3(x=20 y=23 + i * 32)= l

      g.source(transform="translate(-20 0)")
        text.tt3.st5(x="100%" y=288 text-anchor="end") Source: Capital Economics

    style
      :sass
        .embed-false
          display: flex
          align-items: center
          justify-content: center
        .wrapper
          height: 320px
        svg
          display: block
          margin: 0
        .bg
          fill: #fff
        .st1 
          fill: none
          stroke: #e4e8ea
        .st2
          fill:#231F20
        .st3
          fill:#5A5758
        .st4
          fill:#7B7979
        .st5
          fill:#9C9A9A
        .st6
          fill:#FF9400
        .st7
          fill:#FFB400
        .st8
          fill:#E6E7E8
        .tt1
          fill: #fff
          opacity: 0
          transition: opacity 300ms
        .tt2
          fill: #666
        .tt3
          font-size: 14px

        .bars
          .st2,.st3,.st4,.st5
            stroke: #fff
            stroke-opacity: 0
            transition: inherit

        .legend-mob
          display: none

        .inactive
          opacity: 0.5
          .rect
            fill: #bbb
            .bars &
              stroke-opacity: 1
        .active
          opacity: 1
          .rect
            .bars &
              stroke-opacity: 1
          .tt1
            opacity: 1

        [data-id]
          transition: all 300ms

        .label
          margin: 12px 0 -12px
          font-size: 14px

        #id8
          text
            fill: #333

        @media (max-width: 640px)
          .bars-2018
            transform: translate(15vw, 8px)
          .bars-2040
            transform: translate(38.75vw, 8px)
          .legend
            transform: translate(58vw, 0)
          .source
            transform: translate(-4px, 0)
      
        @media (max-width: 520px)
          .legend
            display: none
          .legend-mob
            display: initial
          .tt3
            font-size: 12px
            transform: translate(0, -1px)
          .axis-y
            transform: translate(-12px, 0)
            text
              transform: translate(4px, 0)
          .bars-2018
            transform: translate(14vw, 8px)
          .bars-2040
            transform: translate(36vw, 8px)
          .legend-mob
            transform: translate(56vw, 0)
