extend /partials/layout

block append config
  - page.title = "Total disbursements, 2011-2017"
  - var chart = data.getOne("static/charts/ocean-of-debt/figure-5/alternative/data")
  - var f1 = 0.566, f2 = 0.7, gap = 12, donors = Object.keys(chart.donors)
  - var total = _.max(_.map(chart.donors, _.sum))

block page
  #wrapper(data-view="match" data-splitter="!")
    for donor, d in chart.donors
      for value, v in donor
        - donor[v] = value/total * 100

    .chart-title.txt-center=page.title

    .chart
      svg(width=480 height=480)
        - var y = 0, ys1 = [], ys2 = []

        for vals, donor in chart.donors
          - var i = donors.indexOf(donor)
          - var h = vals.reduce(((m, e) => m+e), 0) / f1
          - ys1.push(y)
          - y += h + gap

        - ys1.push(y)

        - y = 0;
        for recipient, i in chart.recipients
          - var vals = donors.reduce((function(m, e) {m.push(chart.donors[e][i]); return m}), [])
          - var h = vals.reduce(((m, e) => m+e), 0) / f2
          - ys2.push(y)
          - y += h + gap

        - ys2.push(y)

        defs
          for donor, i in donors
            for recipient, j in chart.recipients
              linearGradient(
                x1="0%"
                y1="0%"
                x2="100%"
                y2="0%"
                id=written.hyphenCase([donor,recipient].join("").replace(/\W/g, ""))
                data-id=""
                data-list=[recipient, donor].join("!")
              )
                stop(offset="0%"   stop-color=chart.colors.donors[i])
                stop(offset="100%" stop-color=chart.colors.recipients[j])

        g
          - var yy2 = chart.recipients.map(() => 0)
          for vals, donor in chart.donors
            - var j = donors.indexOf(donor)
            - var x1 = 0, x2 = 900;
            - var yy1 = 0;

            svg(
              height="100%"
              style={width:"calc(100% - 24px)"}
              preserveAspectRatio="none"
              viewBox="0 0 900 480"
            )
              for recipient, i in chart.recipients
                if vals[i] > 0
                  - var y1 = ys1[j], y2 = ys2[i];
                  - h1 = vals[i]/f1;
                  - h2 = vals[i]/f2;
                  - C1 = `C ${x1 + 450} ${y1 + yy1 - 0.5}, ${x2 - 450} ${y2 + yy2[i] - 0.5}, ${x2} ${y2 + yy2[i]}`
                  - C2 = `C ${x2 - 450} ${y2 + yy2[i] + h2 + 1}, ${x1 + 450} ${y1 + yy1 + h1 + 1}, ${x1} ${y1 + yy1 + h1}`

                  path(
                    fill=`url(#${written.hyphenCase([donor,recipient].join("").replace(/\W/g, ""))})`
                    opacity=0.2
                    d=`M ${x1} ${y1 + yy1} ${C1} L ${x2} ${y2 + yy2[i] + h2} ${C2} Z`
                    data-id=i
                    data-list=[recipient, donor].join("!")
                  )

                  - yy1 += h1
                  - yy2[i] += h2
        g
          for vals, donor in chart.donors
            - var i = donors.indexOf(donor)
            - var y = ys1[i], h = ys1[i+1] - y - gap
            g(data-id=donor data-link=donor data-list=chart.recipients.join("!"))
              rect.bg(
                x=0 y=y-12
                height=h+12 width="50%"
                fill="#fff"
              )
              rect(
                x=0 y=y
                height=h width=12
                fill=chart.colors.donors[i]
              )

        g(transform="translate(-12 0)")
          for recipient, i in chart.recipients
            - var y = ys2[i], h = ys2[i+1] - y - gap, y0 = 0;
            g(data-id=recipient data-link=recipient data-list=donors.join("!"))
              rect.bg(
                x="50%" y=y-12
                height=h+12 width="50%"
                fill="#fff"
                transform="translate(12 0)"
              )
              rect(
                x="100%" y=y
                height=h width=12
                fill=chart.colors.recipients[i]
              )


      #labels
        #labels-list-donors
          for donor, i in donors
            .label.txt-muted(
              style={top: `${ys1[i]*(100/480)}%`, height: `${(ys1[i+1]-ys1[i])*(100/480)}%`}
              data-id=donor
              data-link=donor
              data-list=chart.recipients.join("!")
            )
              span!= donor.replace(/-/g, "&#8209;").replace("/", " / ")

        #labels-list-recipients
          for recipient, i in chart.recipients
            .label.txt-muted(
              style={top: `${ys2[i]*(100/480)}%`, height: `${(ys2[i+1]-ys2[i])*(100/480)}%`}
              data-id=recipient
              data-link=recipient
              data-list=donors.join("!")
            )
              span!= recipient.replace(/-/g, "&#8209;").replace("/", " / ")



block append css
  style
    :sass
      body
        display: flex
        justify-content: center
        align-items: center

      svg
        margin: 0

      #wrapper, .chart
        position: relative

      .chart-title
        margin-bottom: 20px

      .bg
        opacity: 0

      #labels
        width: 480px
        height: 100%
        position: absolute
        top: 0
        left: 50%
        transform: translateX(-50%)
        line-height: 14px
        font-size: 13px
        pointer-events: none

      #labels-list-donors
        position: absolute
        right: 100%
        height: 100%
        width: 120px
        text-align: right

      #labels-list-recipients
        position: absolute
        left: 100%
        height: 100%
        width: 120px

      .label
        position: absolute
        width: 100%
        padding: 0 4px 12px
        box-sizing: border-box
        display: flex
        flex-direction: column
        justify-content: center
        pointer-events: all

        &.active
          color: inherit

      rect, stop, .label
        transition: all 300ms

      path
        pointer-events: none

      path.inactive
        opacity: 1

      linearGradient.inactive stop
        stop-color: rgba(0,0,0,0.03)

      stop

      path.active
        opacity: 1

      .inactive
        rect
          fill: #ccc

      @media (max-width: 720px)
        svg,
        #labels
          width: 70%
          margin: auto

        #labels-list-donors,
        #labels-list-recipients
          width: calc(50vw - #{(0.35 * 480px)})

      @media (max-width: 520px)
        svg,
        #labels
          width: 33.333%

        #labels-list-donors,
        #labels-list-recipients
          width: 100%
