extend /partials/layout

block append config
  - var datapath = "static/charts/the-interpreter/biden-asia/chart-2/data"
  - var colorpath = "static/charts/templates/colors/data"
  - _.extend(page, data.getOne(datapath))
  - _.extend(page, data.getOne(colorpath))
  - toPercent = (n) => (n * 100).toFixed(2) + "%"
  - isEmpty = (y) => (y === undefined || y == null || y.length <= 0)
  - chart = page
  
block page
  .wrapper.flex
    .flex.flex-grow.flex-col
      .chart-title!= chart.title
      .chart-subtitle.txt-italic.txt-muted.pv-sm!= chart.subtitle
      .chart.flex-grow: .chart-content
        - ln = chart.series[0].values.length
        - axes = chart.axes
        - minY = axes.minY
        - maxY = axes.maxY
        - range = maxY - minY
        - fx = (i) => (i + 0.25) / (ln - 0.4)
        - fy = (y) => (y - minY) / range
        
        svg(height="100%" width="100%")
        
          // Y-Axis labels
          svg(height="100%")
            - let steps = chart.axes.stepsY-1
            for n, i in new Array(steps+1)
              - y = 1 - (i / (steps))
              svg(y=toPercent(y))
                text(text-anchor="end" transform="translate(-8 4)")
                  = minY + range*(i/steps) + (axes.percentage ? "%" : "")
                
          // Y-Axis minor lines
          if chart.axes.minorLines
            svg(height="100%")
              for n, i in new Array(steps)
                - y = (i / steps)
                svg
                  line(
                    x1="0%"
                    y1=toPercent(y)
                    x2="100%"
                    y2=toPercent(y)
                    stroke="#5552"
                    stroke-dasharray=(chart.axes.dotted.includes(steps-i) ? 5 : "")
                  )

          // X-Axis labels
          for x, i in chart.series[0].values
            svg.x-label(x=toPercent(fx(i)) y="100%")
              text(
                text-anchor=axes.rotateX ? "end" : "middle"
                transform=axes.rotateX ? "rotate(-45) translate(-8, 14)" : "translate(0 20)"
              )=x
              
          // OPTIONAL GUIDE LINE
          if !isEmpty(axes.guideLine)
            - var y = 100*fy(maxY + minY - axes.guideLine)+"%"
            line(
              x1="0" y1=y x2="100" y2=y
              stroke="#333"
              stroke-width=.25
              stroke-dasharray=(false ? 1 : "")
            )

          // CHART LINES
          svg(
            height="100%"
            width="100%"
            viewBox="0 0 100 100"
            preserveAspectRatio="none"
          )
            // SERIES LINES
            for item, i in chart.series
              if i
                polyline(
                  fill="none"
                  stroke=chart.colors[chart.series[i].color]
                  stroke-dasharray=(item.dashed ? 10 : "")
                  stroke-width=(item.widen ? 5 : 4)
                  stroke-linejoin=(item.dashed ? "": "round")
                  stroke-linecap=(item.dashed ? "": "round")
                  points=(item.values.map( (y, ix) => {
                    return isEmpty(y) ? "" : [
                      100 * fx(ix),
                      100 * fy(maxY + minY - y)
                    ].join(" ");
                  })).join(",")
                )
      
          for item, i in chart.series
            if i
              g.value-set
                for val, ix in item.values
                  if false
                    circle(
                      r=4
                      cx=toPercent(fx(ix))
                      cy=toPercent(fy(maxY + minY - val))
                      fill=chart.colors[chart.series[i].color]
                      stroke='#fff'
                      stroke-width=0
                    )
                  svg.chart-value(
                    x=toPercent(fx(ix))
                    y=toPercent(fy(maxY + minY - val))
                    style=`color: ${chart.colors[chart.series[i].color]}`
                  )
                    if false
                      rect(
                        y=(i == 1 ? -12 : 24) - 12
                        height=14
                        width=24
                        x=-12
                        fill="#fff"
                      )
                    text(
                      y=(i < 5 ? -9 : 20)
                      text-anchor="middle"
                      fill=chart.colors[chart.series[i].color]
                    )
                      = val + "%"
      
      .row
        ul.legend.list-bare.txt-left.flex.flex-ch
          for ax, i in new Array(chart.series.length)
            if i
              li.legend-item
                span.legend-item-box(style=`background: ${chart.colors[chart.series[i].color]}`)
                span.legend-item-label= chart.series[i].title

      .chart-source.txt-right.txt-muted!= chart.source

      .tooltip
      
      script.
        /* --- USER TO UPDATE --- */
        const enableTooltips = true;
        const nCategories = 8;
        /* --------------------- */
        
        const wrap = document.querySelector('.wrapper');
        const chart = document.querySelectorAll('.chart-content');
        const lines = document.querySelectorAll('polyline');
        const vals = document.querySelectorAll('.value-set');
        const series = document.querySelectorAll('.x-label');
        const tooltip = document.querySelector('.tooltip');
        const legendItems = document.querySelectorAll('.legend-item-label');
        
        var hover = false
        
        if (enableTooltips) {
        window.addEventListener('DOMContentLoaded', () => {
          lines.forEach( (rect, i) => addHoverEventListeners(rect, i) );  
        });
        wrap.addEventListener('mouseover', () => {
          if (hover) {
            tooltip.style.opacity = 0;
            rects.forEach( r => r.style.opacity = 1 )
            hover = false
          }
        });
        }
          
        function addHoverEventListeners(el, i) {
        el.addEventListener('mouseover', (e) => {
          
          lines.forEach( r => r.style.opacity = 0.1 )
          el.style.opacity = 1
          
          vals[i].style.opacity = 1
          
          let cat = legendItems[i%nCategories].innerHTML;
          
          tooltip.style.left = e.pageX - 40 + 'px';
          tooltip.style.top  = e.pageY + 10 + 'px';
          tooltip.style.opacity = 1;
          
          tooltip.innerHTML = cat;
          
          hover = true
          e.stopPropagation()
          
        });
        el.addEventListener('mousemove', (e) => {
          tooltip.style.left = e.pageX - 40 + 'px';
          tooltip.style.top  = e.pageY + 10 + 'px';
          tooltip.style.opacity = 1;
        });
        el.addEventListener('mouseleave', () => { 
          tooltip.style.opacity = 0;
          lines.forEach( r => r.style.opacity = 1 )
          vals[i].style.opacity = 0
          hover = false
        });
        }  
  
block append css
  style
    :sass
    
      .wrapper
        height: 500px
        max-width: 700px

      .chart
        box-sizing: border-box
        position: relative

      .chart-content
        position: absolute
        top: 20px
        left: 40px
        right: 20px
        bottom: 40px

      .chart-content > svg
        border-bottom: 1px solid #bbb

      .chart-title
        font-size: 24px
        text-align: left
        font-weight: 600
        
      .chart-subtitle
        height: 10px
        margin-top: -10px
        font-size: 15px
        
      .tooltip
        position: absolute
        left: 0
        background: #fffe
        padding: .75em
        opacity: 0
        border-radius: .2em
        box-shadow: 0 0 5px 0 #0004
        transition-duration: 0.4s
        pointer-events: none
        font-size: 14px
        max-width: 180px
        box-sizing: border-box

      li
        list-style: none
        margin: 0
        padding: 4px 16px 4px 24px

      .legend
        font-size: 15px
        margin-bottom: .75em
        flex-wrap: wrap

      .legend-item
        margin: 4px 8px 0
        padding-right: .5em
        position: relative
        white-space: nowrap

      .legend-item-box
        position: absolute
        left: -2px
        top: 13px
        height: .2em
        width: 1.4em
        background: black
        border-radius: 3px

      polyline
        vector-effect: non-scaling-stroke
        transition-duration: .2s
        &:hover
          stroke-width: 5px
        
      text
        font-size: 14px
        fill: currentColor

      svg
        overflow: visible
        
      .chart-notes, .chart-source
        margin-left: 2em
        font-size: 13px
        
      .value-set
        opacity: 0
        transition-duration: .2s
        pointer-events: none
          
      @media (max-width: 550px)
        .chart-content
          bottom: 20px
        text
          font-size: 12px
        .legend
          margin: 1em auto
        .legend-item
          font-size: 13px
        .chart-title
          font-size: 18px
        .chart-subtitle
          font-size: 14px
        .chart-notes,
        .chart-source
          text-align: center
          margin-top: .5em
