extend /partials/layout

block append config
  - page.includeFonts = false
  - page.url = "https://interactives.lowyinstitute.org/features/rules-based-order/"
  - page.class = ""
  - page.title = "Rules Based Order"
  - page.metaTitle = `${page.title} - Lowy Institute`
  - page.description = ""
  - page.image = ""
  
  - var cards = data.getOne("static/features/rules-based-order/data").cards
  
block page
  include partials/header
  include partials/subheader 
  include partials/intro
  div.txt-l(style="background:white;") Get started 
  .card.wrap
    for card in cards
      if card.type == "anchor"
        if card.year == 2015
          .anchor(id=`${card.year}`)= "2014 - 2015"
        else
          .anchor(id=`${card.year}`)= card.year
      else
        .card.row(class=`${card.type}`)
          .card.item
            if card.type == "excerpt" 
              .date.txt-sm!= card.date
              .heading.txt-l!= card.title
              .subheading.txt-ml!= card.subtitle 
              .content
                include partials/content
                    
            else if card.type == "history"
              .cardtype.txt-sm Historical Context
              .heading.txt-l!= card.title 
              .subheading.txt-ml!= card.subtitle
              .content
                include partials/content
                    
            else if card.type == "opinion"
              .cardtype.txt-sm Expert Opinion
              .expert
                img.expert.image(src=card.expert.image)
                .txt-xl!= card.expert.name
                  .txt-ml!= card.expert.credentials
              include partials/content
            
            else if card.type == "quote"
              .top
                img.image(src="img/quotations.svg")
                .bar
              .quotation.txt-l!= card.quotation
              .name.txt-l!= card.name
              .supp.txt-m!= card.supp
              include partials/social 
              .footer

            else if card.type == "highlight" 
              .heading.txt-l!= card.title
              .subheading.txt-ml!= card.subtitle
              .content
                include partials/content   
          if card.media != undefined
            include partials/media
            
  
block append css
  style
    include:sass _styles.sass
    
block append scripts
  script(type="text/javascript" src="script/nav.js")
