mixin interpreter-bar-chart(data)
  - var height = data.height || (data.yaxis.length - 1) * (data.yh || 48) + 120
  - data.highlights = data.highlights || {}
  - data.tooltips   = data.tooltips   || []

  .chart-wrap(style={height: height + "px"})
    if data.title
      strong.chart-title!= typogr.typogrify(data.title)
    if data.subtitle
      .chart-subtitle!= typogr.typogrify(data.subtitle)

    .chart
      .bg
        for label, i in data.yaxis
          - var y = (1 - i / (data.yaxis.length - 1)) * 100
          .bg-y(style={top: y + "%"})
            .label-y #{label}#{data.unit || ""}
            .stroke-y

      .bars.flex-cv.flex-row
        for group, j in data.values
          - var w = 100 / (data.xaxis.length + 1) + "%"
          .bar-group(
            style={width: w}
            class=(data.highlights[j] ? "highlight" : "")
          )

            .bar-frame.flex-row.flex-cv
              for bar, i in group
                - var ho = (_.last(data.yaxis) - _.first(data.yaxis))
                - var hi = (bar - _.first(data.yaxis))

                .bar(
                  class="bar-" + i
                  style={height: (hi / ho) * 100 + "%"}
                )
                  .bar-rect
                  .bar-label
                    = data.precision ? bar.toFixed(data.precision) : bar
                    = data.unit || ""

                if data.confidence
                  - var c0 = data.confidence[j][i][0] - _.first(data.yaxis)
                  - var c1 = data.confidence[j][i][1] - _.first(data.yaxis)
                  .bar-confidence(
                    style={
                      height: ((c1 - c0) / ho) * 100 + "%",
                      bottom: (c0 / ho) * 100 + "%"
                    }
                  )



              .bar-group-label= data.xaxis[j]

              if data.highlights[j]
                .bar-group-highlight-label!= data.highlights[j]


    if data.legend || data.source
      .chart-footer
        if data.legend
          ul.legend.list-bare
            for label, i in data.legend
              li
                .bar(class="bar-" + i)
                != label

        if data.source
          .source.txt-muted.txt-xs
            | Source:
            = data.source

block append css
  style
    include:sass bar-chart.sass
