extend /partials/layout

block append config
  - page.title = "Figure 1: East Asia’s exports are now driven by non-Western demand"
  - var chart = { height: 320, width: 560, inset: { x: 20, y: 28 } }

block page
  .wrapper
    svg(
      width=`${chart.width}px`
      height=`${chart.height}px`
      viewBox=`0 0 ${chart.width} ${chart.height}`
      data-view="match"
    )
      rect(width="100%" height="100%" fill="none")
      g
        text.tt2.tt3(
          text-anchor="end"
          transform=[
            `translate(${16} ${(chart.height - chart.inset.y - 80) / 2})`,
            "rotate(-90)"
          ].join(" ")
        ) US$ Millions

        for n, i in (new Array(7))
          - var y = (chart.inset.y + i * (chart.height - chart.inset.y - 56) / 6)
          text.tt2.tt3(text-anchor="end" x=40 y=y + 4)
            = written.prettyNumber((6 - i))
          line.st1(
            x1=48
            x2=(chart.width - chart.inset.x)
            y1=(y - 0.5)
            y2=(y - 0.5)
          )

      g(transform="translate(0 8)")
        polygon.st2(
          data-link="2"
          data-id="2"
          points="48,231.79 69.7,231.79 92.85,230.28 114.56,230.28 137.72,227.26 159.42,224.23 182.58,227.26 204.28,225.74 227.43,221.21 249.14,213.64 270.84,207.59 293.99,201.54 315.71,193.97 338.86,190.95 360.56,203.05 383.72,192.46 405.42,184.9 428.57,183.38 450.28,183.38 471.99,177.33 495.14,177.33 516.85,178.85 540,171.28 540,256 516.85,256 495.14,256 471.99,256 450.28,256 428.57,256 405.42,256 383.72,256 360.56,256 338.86,256 315.71,256 293.99,256 270.84,256 249.14,256 227.43,256 204.28,256 182.58,256 159.42,256 137.72,256 114.56,256 92.85,256 69.7,256 48,256"
        )
        polygon.st3(
          data-link="3"
          data-id="3"
          points="48,215.15 69.7,213.64 92.85,212.13 114.56,216.67 137.72,213.64 159.42,204.56 182.58,210.62 204.28,207.59 227.43,200.03 249.14,186.41 270.84,178.85 293.99,169.77 315.71,157.67 338.86,148.59 360.56,166.74 383.72,144.05 405.42,125.9 428.57,122.87 450.28,119.85 471.99,110.77 495.14,113.79 516.85,119.85 540,104.72 540,171.28 516.85,178.85 495.14,177.33 471.99,177.33 450.28,183.38 428.57,183.38 405.42,184.9 383.72,192.46 360.56,203.05 338.86,190.95 315.71,193.97 293.99,201.54 270.84,207.59 249.14,213.64 227.43,221.21 204.28,225.74 182.58,227.26 159.42,224.23 137.72,227.26 114.56,230.28 92.85,230.28 69.7,231.79 48,231.79"
        )
        polygon.st4(
          data-link="4"
          data-id="4"
          points="48,207.59 69.7,206.08 92.85,204.56 114.56,209.1 137.72,204.56 159.42,197 182.58,203.05 204.28,198.51 227.43,189.44 249.14,172.79 270.84,162.21 293.99,147.08 315.71,127.41 338.86,112.28 360.56,134.97 383.72,101.69 405.42,75.97 428.57,69.92 450.28,63.87 471.99,53.28 495.14,62.36 516.85,71.44 540,51.77 540,104.72 516.85,119.85 495.14,113.79 471.99,110.77 450.28,119.85 428.57,122.87 405.42,125.9 383.72,144.05 360.56,166.74 338.86,148.59 315.71,157.67 293.99,169.77 270.84,178.85 249.14,186.41 227.43,200.03 204.28,207.59 182.58,210.62 159.42,204.56 137.72,213.64 114.56,216.67 92.85,212.13 69.7,213.64 48,215.15"
        )
      
      g(transform="translate(0 8)")
        for n, i in (new Array(23))
          - var x = 48 + i * (chart.width - 69) / 22 + 0.5; 
          if i % 2 === 1
            text.tt2.tt3(x=x y=280 text-anchor="middle")= 1995 + i
          line.st1(x1=x x2=x y1=256 y2=262)

      g
        g(data-id="2" data-link="2" transform="translate(120 0)")
          rect.st2(x=0 y=305 width=12 height=12)
          text.tt2.tt3(x=16 y=316) Western economies
        g(data-id="3" data-link="3" transform="translate(280 0)")
          rect.st3(x=0 y=305 width=12 height=12)
          text.tt2.tt3(x=16 y=316) East Asia
        g(data-id="4" data-link="4" transform="translate(380 0)")
          rect.st4(x=0 y=305 width=12 height=12)
          text.tt2.tt3(x=16 y=316) Rest of world

      style
        :sass
          text
            font-family: Source Sans Pro, sans-serif
            font-size: 17px
            &[text-anchor="middle"]
              text-align: center
            &[text-anchor="end"]
              text-align: right
          .st1 
            fill: none
            stroke: #e4e8ea
          .st2 
            fill: #002b45
          .st3 
            fill: #f7931e
          .st4 
            fill: #b2c6d4
          .tt2
            fill: #666
          .tt3
            font-size: 14px

          .st2,.st3,.st4,.st5
            stroke: #fff
            stroke-opacity: 0

          .inactive
            opacity: 0.5
            fill: #bbb
            stroke-opacity: 1
            > rect
              fill: #bbb
          .active
            opacity: 1
            stroke-opacity: 1
          [data-id],
          rect
            transition: all 300ms
