extend /partials/layout

block append config
  - page.title = "Figure 1: East Asia’s exports are now driven by non-Western demand"
  - var chart = { height: 320, width: 560, inset: { x: 20, y: 20 } }

block page
  .wrapper
    svg(
      width=`${chart.width}px`
      height=`${chart.height}px`
      viewBox=`0 0 ${chart.width} ${chart.height}`
      data-view="match"
    )
      g
        for n, i in (new Array(7))
          - var y = (chart.inset.y + i * (chart.height - 20 - 64) / 6)
          text.tt2.tt3(text-anchor="end" x=56 y=y + 4)
            = written.prettyNumber((6 - i) * 1000000)
          line.st1(
            x1=60
            x2=(chart.width - chart.inset.x)
            y1=(y - 0.5)
            y2=(y - 0.5)
          )

      g
        polygon.st3(
          data-link="2"
          data-id="2"
          points="61.41,231.79 82.52,231.79 105.04,230.28 126.16,230.28 148.68,227.26 169.79,224.23 192.32,227.26 213.43,225.74 235.95,221.21 257.07,213.64 278.18,207.59 300.7,201.54 321.82,193.97 344.34,190.95 365.45,203.05 387.98,192.46 409.09,184.9 431.61,183.38 452.73,183.38 473.84,177.33 496.36,177.33 517.48,178.85 540,171.28 540,256 517.48,256 496.36,256 473.84,256 452.73,256 431.61,256 409.09,256 387.98,256 365.45,256 344.34,256 321.82,256 300.7,256 278.18,256 257.07,256 235.95,256 213.43,256 192.32,256 169.79,256 148.68,256 126.16,256 105.04,256 82.52,256 61.41,256"
        )
        polygon.st2(
          data-link="3"
          data-id="3"
          points="61.41,215.15 82.52,213.64 105.04,212.13 126.16,216.67 148.68,213.64 169.79,204.56 192.32,210.62 213.43,207.59 235.95,200.03 257.07,186.41 278.18,178.85 300.7,169.77 321.82,157.67 344.34,148.59 365.45,166.74 387.98,144.05 409.09,125.9 431.61,122.87 452.73,119.85 473.84,110.77 496.36,113.79 517.48,119.85 540,104.72 540,171.28 517.48,178.85 496.36,177.33 473.84,177.33 452.73,183.38 431.61,183.38 409.09,184.9 387.98,192.46 365.45,203.05 344.34,190.95 321.82,193.97 300.7,201.54 278.18,207.59 257.07,213.64 235.95,221.21 213.43,225.74 192.32,227.26 169.79,224.23 148.68,227.26 126.16,230.28 105.04,230.28 82.52,231.79 61.41,231.79"
        )
        polygon.st4(
          data-link="4"
          data-id="4"
          points="61.41,207.59 82.52,206.08 105.04,204.56 126.16,209.1 148.68,204.56 169.79,197 192.32,203.05 213.43,198.51 235.95,189.44 257.07,172.79 278.18,162.21 300.7,147.08 321.82,127.41 344.34,112.28 365.45,134.97 387.98,101.69 409.09,75.97 431.61,69.92 452.73,63.87 473.84,53.28 496.36,62.36 517.48,71.44 540,51.77 540,104.72 517.48,119.85 496.36,113.79 473.84,110.77 452.73,119.85 431.61,122.87 409.09,125.9 387.98,144.05 365.45,166.74 344.34,148.59 321.82,157.67 300.7,169.77 278.18,178.85 257.07,186.41 235.95,200.03 213.43,207.59 192.32,210.62 169.79,204.56 148.68,213.64 126.16,216.67 105.04,212.13 82.52,213.64 61.41,215.15"
        )
      g
        for n, i in (new Array(23))
          - var x = 60 + i * (chart.width - 81) / 22 + 0.5; 
          if i % 2 === 1
            text.tt2.tt3(x=x y=280 text-anchor="middle")= 1995 + i
          line.st1(x1=x x2=x y1=256 y2=262)

      g
        g(data-id="2" data-link="2" transform="translate(120 0)")
          rect.st3(x=0 y=305 width=12 height=12)
          text.tt2.tt3(x=16 y=316) Western economies
        g(data-id="3" data-link="3" transform="translate(280 0)")
          rect.st2(x=0 y=305 width=12 height=12)
          text.tt2.tt3(x=16 y=316) East Asia
        g(data-id="4" data-link="4" transform="translate(380 0)")
          rect.st4(x=0 y=305 width=12 height=12)
          text.tt2.tt3(x=16 y=316) Rest of world

      style
        :sass
          text
            font-family: Source Sans Pro, sans-serif
            font-size: 17px
            &[text-anchor="middle"]
              text-align: center
            &[text-anchor="end"]
              text-align: right
          .st1 
            fill: none
            stroke: #e4e8ea
          .st2 
            fill: #002B45
          .st3 
            fill: #f7931e
          .st4 
            fill: #539ed4
          .st5 
            fill: #9DB4C4
          .tt2
            fill: #666
          .tt3
            font-size: 14px

          .st2,.st3,.st4,.st5
            stroke: #fff
            stroke-opacity: 0

          .inactive
            opacity: 0.5
            fill: #bbb
            stroke-opacity: 1
            > rect
              fill: #bbb
          .active
            opacity: 1
            stroke-opacity: 1
          [data-id],
          rect
            transition: all 300ms
