extend /partials/layout

block append config
  - page.title = "Figure 4: Chinese exports are still reliant on the West"
  - var chart = { height: 320, width: 560, inset: { x: 20, y: 20 } }

block page
  .wrapper
    svg(
      width=`${chart.width}px`
      height=`${chart.height}px`
      viewBox=`0 0 ${chart.width} ${chart.height}`
      data-view="match"
    )
      g
        for n, i in (new Array(6))
          - var y = (chart.inset.y + i * (chart.height - 20 - 64) / 5)
          text.tt2.tt3(text-anchor="end" x=chart.inset.x * 2 y=y + 4)
            | #{100 - i * 20}%
          line.st1(
            x1=48
            x2=(chart.width - chart.inset.x)
            y1=y
            y2=y
          )

      g.bars
        g(data-link="2" data-id="2")
          rect.st2(x="156" y="194.82" width="96" height="61.18")
          text.tt1.tt3(text-anchor="middle" y=(5 + 194.82 + (61.68 / 2)) x=204) 26.3%
        g(data-link="3" data-id="3")
          rect.st3(x="156" y="141.18" width="96" height="53.64")
          text.tt1.tt3(text-anchor="middle" y=(5 + 141.18 + (53.64 / 2)) x=204) 22.3%
        g(data-link="4" data-id="4")
          rect.st4(x="156" y="130.45" width="96" height="10.73")
          text.tt1.tt3(text-anchor="middle" y=(5 + 130.45 + (10.73 / 2)) x=204) 5.4%
        g(data-link="5" data-id="5")
          rect.st5(x="156" y="79.5" width="96" height="50.95")
          text.tt1.tt3(text-anchor="middle" y=(5 + 79.5 + (50.95 / 2))  x=204) 21.2%
        g(data-link="6" data-id="6")
          rect.st6(x="156" y="20" width="96" height="59.5")
          text.tt1.tt3(text-anchor="middle" y=(5 + 20.5 + (59 / 2))  x=204) 24.8%

        text.tt2.tt3(text-anchor="middle" y=280 x=204) 2007

      g.bars
        g(data-link="2" data-id="2")
          rect.st2(x="348" y="197.5" width="96" height="58.5")
          text.tt1.tt3(text-anchor="middle" y=(5 + 197.5 + (59 / 2)) x=396) 24.9%
        g(data-link="3" data-id="3")
          rect.st3(x="348" y="154.59" width="96" height="42.91")
          text.tt1.tt3(text-anchor="middle" y=(5 + 154.59 + (42.91 / 2)) x=396) 18.1%
        g(data-link="4" data-id="4")
          rect.st4(x="348" y="141.18" width="96" height="13.41")
          text.tt1.tt3(text-anchor="middle" y=(5 + 141.18 + (13.41 / 2)) x=396) 5.5%
        g(data-link="5" data-id="5")
          rect.st5(x="348" y="90.23" width="96" height="50.95")
          text.tt1.tt3(text-anchor="middle" y=(5 + 90.23 + (50.95 / 2)) x=396) 22.4%
        g(data-link="6" data-id="6")
          rect.st6(x="348" y="20" width="96" height="70.23")
          text.tt1.tt3(text-anchor="middle" y=(5 + 20.5 + (69.73 / 2)) x=396) 29.2%
          
        text.tt2.tt3(text-anchor="middle" y=280 x=396) 2017

      g
        g(data-link="2" data-id="2" transform="translate(80 0)")
          rect.st2(x=0 y=305 width=12 height=12)
          text.tt2.tt3(x=16 y=316) US
        g(data-link="3" data-id="3" transform="translate(128 0)")
          rect.st3(x=0 y=305 width=12 height=12)
          text.tt2.tt3(x=16 y=316) EU
        g(data-link="4" data-id="4" transform="translate(176 0)")
          rect.st4(x=0 y=305 width=12 height=12)
          text.tt2.tt3(x=16 y=316) Other Western economies
        g(data-link="5" data-id="5" transform="translate(360 0)")
          rect.st5(x=0 y=305 width=12 height=12)
          text.tt2.tt3(x=16 y=316) East Asia
        g(data-link="6" data-id="6" transform="translate(444 0)")
          rect.st6(x=0 y=305 width=12 height=12)
          text.tt2.tt3(x=16 y=316) Rest of world

    style
      :sass
        .st1 
          fill: none
          stroke: #e4e8ea
        .st2 
          fill: #002B45
        .st3 
          fill: #f7931e
        .st4 
          fill: #539ed4
        .st5 
          fill: #9DB4C4
        .st6
          fill: #64869c
        .tt1
          fill: #fff
        .tt2
          fill: #666
        .tt3
          font-size: 14px

        .bars
          .st2,.st3,.st4,.st5
            stroke: #fff
            stroke-opacity: 0
            transition: inherit

        .inactive
          opacity: 0.5
          rect
            fill: #bbb
            .bars &
              stroke-opacity: 1
        .active
          opacity: 1
          rect
            .bars &
              stroke-opacity: 1
        [data-id]
          transition: all 300ms
