extend /partials/layout

block append config
  - page.title = "Military Expenditure"
  - var chart  = data.getOne("static/charts/api/gdp-vs-ppp/data")
  - var byValue = function(e){return -e.gdp[0]};
  - var inOrder = _.sortBy(chart.countries, byValue);

block page
  script
    != `window.chart = ${JSON.stringify(chart)};`
  #wrapper(data-view="time-series")
    #chart-title
      h1.chart-title-main GDP at current prices<br>the top 25 countries

    ul#axis-countries.list-bare
      for country in chart.countries
        - var p = country.gdp[0] / inOrder[0].gdp[0];
        - var r = inOrder.indexOf(country);
        li.country(style=`transform: translate3d(0, ${r * 100}%, 0)`)
          label.country-name= country.aka || country.name
          .country-bar
            for key, i in chart.keys
              .country-bar-block(
                style=`transform: translate3d(${-100 + p * 100}%, 0, 0)`
                class=key
              )
                if i === 0
                  .country-bar-label

    #ranks
      #rank-list
        for n, i in new Array(25)
          .rank
            .rank-label(style={opacity: (50 - i) / 50})= i + 1

    #scale
      #scale-strokes
        for n, i in new Array(25)
          .scale-stroke(style={opacity: (25 - i) / 50})
            span.scale-stroke-label $#{i}T

    #controls
      a#btn-reset.btn(tabindex="0")
        svg.btn-icon(viewBox="0 0 24 24")
          rect.btn-icon-shape(x="0"  y="0" width="8" height="24")
          polygon.btn-icon-shape(points="24,24 24,0 8,12 ")

      a#btn-play.btn(tabindex="0")
        svg.btn-icon(viewBox="0 0 24 24")
          polygon.btn-icon-shape(points="0,24 0,0 24,12 ")

      a#btn-pause.btn(tabindex="0")
        svg.btn-icon(viewBox="0 0 24 24")
          rect.btn-icon-shape(x="0"  y="0" width="8" height="24")
          rect.btn-icon-shape(x="16" y="0" width="8" height="24")
      
      a#btn-end.btn(tabindex="0")
        svg.btn-icon(viewBox="0 0 24 24")
          rect.btn-icon-shape(x="16" y="0" width="8" height="24")
          polygon.btn-icon-shape(points="0,0 0,24 16,12 ")

      #axis-years.list-bare
        ul#axis-years-list
          for year, i in chart.scale
            li.year
              a.year-link(data-index=i)= year

    small#chart-source
      | Source: IMF World Economic Outlook, October 2018

    a#chart-logo(href="https://www.lowyinstitute.org/")
      img(src="/img/lowyinstitute-logo.png")

    legend#chart-legend
      label.chart-title-label.gdp
        | US Dollars
      label.chart-title-label.ppp
        | Purchasing Power Parity

block css
  link(
    type="text/css"
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Montserrat:500,700"
    media="all"
  )

  style
    include:sass style.sass
