extend /partials/layout

block append config

block page

  .wrapper
    
    .chart-title.txt-semi New Caledonia votes for independence
  
    object(type="image/svg+xml" data="inset.svg" class="inset")
    svg(xmlns='http://www.w3.org/2000/svg' version='1.2' baseprofile='tiny' viewbox='0 0 800 582' stroke-linecap='round' stroke-linejoin='round')
      g#labels(font-family='sans-serif' text-anchor='middle')
        g(text-anchor='end')
          circle(cx='634.5246' cy='256.3208' r='1')
          text(y='-20' x='-29' transform='translate(634.5246 256.3208)') Lifou
        g(text-anchor='start')
          circle(cx='523.0529' cy='199.9217' r='1')
          text(y='-18' x='18' transform='translate(523.0529 199.9217)') Ouv&eacute;a
        g(text-anchor='end')
          circle(cx='768.6874' cy='350.8672' r='1')
          text(y='11' x='-30' transform='translate(768.6874 350.8672)') Mar&eacute;
        g(text-anchor='start')
          circle(cx='15.8713' cy='30.6081' r='1')
          text(y='0' x='18' transform='translate(15.8713 30.6081)') B&eacute;lep
        g(text-anchor='start')
          circle(cx='427.8813' cy='357.3549' r='1')
          text(y='-22' x='7' transform='translate(427.8813 357.3549)') Canala
        g(text-anchor='end')
          circle(cx='231.3773' cy='264.8866' r='1')
          text(y='29' x='-31' transform='translate(231.3773 264.8866)') Kon&eacute;
        g(text-anchor='end')
          circle(cx='383.0316' cy='368.7418' r='1')
          text(y='44' x='-21' transform='translate(383.0316 368.7418)') Farino
        g(text-anchor='start')
          circle(cx='683.2678' cy='539.533' r='1')
          text(y='-19' x='11' transform='translate(683.2678 539.533)') l&apos;&Icirc;le des Pins
        g(text-anchor='end')
          circle(cx='405.7325' cy='385.3937' r='1')
          text(y='38' x='-14' transform='translate(405.7325 385.3937)') La Foa
        g(text-anchor='start')
          circle(cx='243.8408' cy='221.6949' r='1')
          text(y='-32' x='-10' transform='translate(243.8408 221.6949)') Hiengh&egrave;ne
        g(text-anchor='start')
          circle(cx='344.9674' cy='316.0922' r='1')
          text(y='-16' x='29' transform='translate(344.9674 316.0922)') Houa&iuml;lou
        g(text-anchor='end')
          circle(cx='168.9261' cy='204.5543' r='1')
          text(y='27' x='-30' transform='translate(168.9261 204.5543)') Kaala-Gomen
        g(text-anchor='start')
          circle(cx='392.9743' cy='341.84' r='1')
          text(y='-28' x='12' transform='translate(392.9743 341.84)') Kouaoua
        g(text-anchor='end')
          circle(cx='130.6611' cy='171.7391' r='1')
          text(y='15' x='-27' transform='translate(130.6611 171.7391)') Koumac
        g(text-anchor='middle')
          circle(cx='155.4249' cy='157.2725' r='1')
          text(y='-40' x='-4' transform='translate(155.4249 157.2725)') Ou&eacute;goa
        g(text-anchor='start')
          circle(cx='280.6944' cy='247.4663' r='1')
          text(y='-6' x='32' transform='translate(280.6944 247.4663)') Poindimi&eacute;
        g(text-anchor='end')
          circle(cx='208.2699' cy='234.8369' r='1')
          text(y='37' x='-31' transform='translate(208.2699 234.8369)') Voh
        g(text-anchor='end')
          circle(cx='456.0503' cy='408.444' r='1')
          text(y='38' x='-32' transform='translate(456.0503 408.444)') Boulouparis
        g(text-anchor='start')
          circle(cx='310.7823' cy='280.4888' r='1')
          text(y='-10' x='25' transform='translate(310.7823 280.4888)') Pon&eacute;rihouen
        g(text-anchor='start')
          circle(cx='176.1409' cy='158.6205' r='1')
          text(y='-10' x='11' transform='translate(176.1409 158.6205)') Pou&eacute;bo
        g(text-anchor='end')
          circle(cx='250.591' cy='288.3122' r='1')
          text(y='25' x='-34' transform='translate(250.591 288.3122)') Pouembout
        g(text-anchor='end')
          circle(cx='99.4005' cy='128.2643' r='1')
          text(y='7' x='-38' transform='translate(99.4005 128.2643)') Poum
        g(text-anchor='end')
          circle(cx='287.3129' cy='303.1962' r='1')
          text(y='30' x='-35' transform='translate(287.3129 303.1962)') Poya Nord
        g(text-anchor='start')
          circle(cx='273.8166' cy='223.8605' r='1')
          text(y='-10' x='16' transform='translate(273.8166 223.8605)') Touho
        g(text-anchor='end')
          circle(cx='515.3571' cy='456.7803' r='1')
          text(y='32' x='-36' transform='translate(515.3571 456.7803)') Dumb&eacute;a
        g(text-anchor='end')
          circle(cx='328.4423' cy='348.548' r='1')
          text(y='30' x='-24' transform='translate(328.4423 348.548)') Bourail
        g(text-anchor='end')
          circle(cx='365.1654' cy='374.1187' r='1')
          text(y='24' x='-14' transform='translate(365.1654 374.1187)') Moindou
        g(text-anchor='end')
          circle(cx='554.2905' cy='486.389' r='1')
          text(y='44' x='29' transform='translate(554.2905 486.389)') Mont-Dore
        g(text-anchor='middle')
          circle(cx='505.9504' cy='478.1355' r='1')
          text(y='26' x='-22' transform='translate(505.9504 478.1355)') Noum&eacute;a
        g(text-anchor='end')
          circle(cx='488.3958' cy='441.8263' r='1')
          text(y='30' x='-30' transform='translate(488.3958 441.8263)') Pa&iuml;ta
        g(text-anchor='end')
          circle(cx='290.2181' cy='325.6572' r='1')
          text(y='23' x='-24' transform='translate(290.2181 325.6572)') Poya Sud
        g(text-anchor='start')
          circle(cx='395.6598' cy='364.731' r='1')
          text(y='-10' x='70' transform='translate(395.6598 364.731)') Sarram&eacute;a
        g(text-anchor='start')
          circle(cx='468.1978' cy='380.685' r='1')
          text(y='-8' x='31' transform='translate(468.1978 380.685)') Thio
        g(text-anchor='start')
          circle(cx='562.046' cy='451.2053' r='1')
          text(y='-21' x='24' transform='translate(562.046 451.2053)') Yat&eacute;
      g#map
        path(
          data-id='1'
          d='M 777.9175 339.4065 780.9781 340.3781 784.9619 338.3865 791.2271 337.9979 796.3263 334.8886 799 336.6861 799 338.2407 797.0575 340.0382 796.3237 343.9106 797.5911 345.2358 797.5911 346.7901 796.2783 347.6997 795.4058 349.5108 795.7927 353.9792 794.5305 358.8369 794.9201 363.2087 796.1342 366.8033 795.3551 368.989 792.4412 369.086 789.5274 369.7664 787.5849 371.4665 784.3295 371.1263 782.9206 373.8954 780.2976 374.381 776.9302 374.1812 775.7802 373.2636 773.0611 373.8467 771.1159 372.9237 768.6397 372.5352 767.5697 370.155 766.1128 369.0377 767.3269 366.7062 766.1128 364.1316 764.4131 364.6926 761.2564 364.277 759.6047 363.2087 756.4774 363.8251 752.0266 363.5005 749.0141 364.0345 749.6945 362.1884 750.9593 361.9943 752.0747 359.3713 754.0172 357.9144 754.5029 355.2424 752.8031 353.6394 751.8319 351.7932 750.1802 350.9677 748.2856 346.4015 746.4899 343.4867 747.6559 338.4832 746.6846 335.0834 745.5666 332.8003 741.9243 329.9342 741.4867 326.9227 740.6115 325.854 744.6914 324.0082 748.5792 324.8821 753.7264 328.8172 756.5922 329.2058 758.001 327.6515 758.001 325.6599 759.6608 325.1439 761.7421 325.5141 762.7133 324.3481 766.2595 323.134 768.3969 322.9882 770.5342 319.8306 771.9431 320.0734 771.6015 322.065 768.5436 324.2994 767.5697 326.6312 768.5436 329.3999 769.8538 330.663 772.5968 335.6161 775.6841 338.8718 777.9175 339.4065 Z')
        path(
          data-id='0'
          d='M 646.5287 241.3559 646.1578 243.246 648.6874 244.725 651.5399 243.5943 653.7626 244.5939 654.5391 246.3106 656.8178 247.7936 659.6889 248.4159 662.1598 248.0867 665.3832 249.7681 667.1656 251.2784 667.9208 252.9154 668.2836 256.051 667.0882 258.3638 667.7473 261.4914 669.4977 262.3173 672.6544 264.8916 674.7917 264.4059 676.4914 265.086 678.0471 268.1463 678.8236 267.3691 681.0089 268.0492 681.2518 270.332 679.8856 271.498 678.0951 271.7895 675.1306 273.7328 672.7104 275.9925 671.9259 277.5211 673.3828 281.8445 673.5776 284.3704 673.14 287.7712 669.7886 289.1794 669.303 290.6367 667.8941 291.0252 665.3191 289.6167 663.6194 291.5109 660.1692 290.8311 658.6163 289.5193 655.9933 286.0221 656.0894 283.7393 655.1181 282.5733 648.562 281.2618 647.492 280.0954 648.2204 277.3757 647.6868 275.7237 646.1311 274.6553 642.5369 274.704 640.7891 274.2668 638.5531 274.8982 632.093 273.4893 627.8664 273.6354 624.8565 272.6151 623.1568 271.2065 620.1923 267.4662 617.9108 266.4942 616.7928 264.9406 616.0644 261.297 613.975 259.2084 612.761 258.8198 610.3514 256.2769 611.9338 253.8167 610.9118 251.0279 609.8578 249.7921 605.922 248.7528 604.2917 247.2689 602.8854 244.2787 608.9452 243.4498 609.0813 244.4721 611.747 246.0144 613.7803 246.3843 615.5787 245.8987 617.6173 244.0042 619.3064 243.9938 622.6952 242.2935 624.7471 239.2022 625.166 237.2056 628.7603 234.2534 630.0438 230.9007 632.0397 229.1452 632.3732 226.4369 630.927 222.8853 628.5335 222.8716 626.5989 220.8867 623.9893 220.4581 621.964 221.4041 620.4804 218.9228 618.7647 217.8735 613.879 218.8581 610.6156 219.1937 607.3843 220.3938 605.9247 217.3899 607.7045 215.3473 607.5951 212.4248 611.4375 209.3852 614.1111 208.3159 616.0297 208.9093 618.2657 208.0304 624.6857 210.563 626.6443 210.5053 629.3126 208.4857 629.1659 204.5549 633.0616 202.6677 637.886 202.7624 640.4049 203.4275 644.4101 205.6452 646.7102 208.2288 647.9403 208.6774 648.4206 210.4559 650.8728 211.4475 653.4317 211.3931 653.5651 214.4217 652.255 216.0467 649.8561 216.7755 649.2584 217.7218 649.3038 224.4803 648.6234 227.2404 649.3705 230.4024 650.4592 232.0487 651.7613 235.8831 651.5745 237.6762 647.492 241.1384 646.5287 241.3559 Z M 742.0684 273.5867 744.4966 274.8011 746.1963 277.9584 747.8214 279.5734 746.9328 280.6724 744.8382 281.4559 743.7201 279.6101 740.8543 277.0842 739.6883 274.8498 742.0684 273.5867 Z M 696.8455 281.4076 700.293 284.0789 699.3217 284.759 697.1844 282.6217 696.8455 281.4076 Z')
        path(
          data-id='2'
          d='M 529.1434 169.7701 529.6904 168.5777 529.9599 162.4496 529.3035 160.8015 526.7632 158.315 522.5072 157.0542 522.2164 154.7711 527.8812 153.6958 529.4129 152.2185 532.3187 152.8866 535.2752 158.7759 537.6527 160.955 540.2543 162.2468 542.8106 164.9231 540.5638 167.4554 537.4579 165.5041 531.729 167.0491 531.5849 169.2094 529.1887 171.4155 526.7098 175.3289 527.8839 177.1781 525.872 180.0115 526.7739 183.4737 525.8373 184.9319 525.7359 187.0603 526.8513 189.0889 529.8692 189.3474 534.2239 188.1136 532.5535 191.7065 530.0479 194.5636 529.01 198.0798 527.3316 199.8669 526.9687 201.4779 525.1782 204.3591 522.5179 204.9538 519.9376 206.4314 518.5714 205.903 514.4408 207.502 511.4657 207.386 510.2222 205.7216 515.679 201.8815 519.0757 198.4327 521.085 195.774 523.1263 191.7062 524.1456 186.9185 524.2763 180.7627 525.7466 175.6368 526.8059 173.1209 529.1434 169.7701 Z M 519.46 153.8118 521.2157 154.7027 521.4799 156.729 517.8136 156.5272 517.6082 154.0613 519.46 153.8118 Z M 504.4266 210.1273 503.6741 211.1623 500.7416 211.3628 498.8684 212.4351 495.3302 210.2194 495.5891 209.1657 498.3828 210.2474 501.7903 209.7538 504.7174 208.5484 504.4266 210.1273 Z')
        path(
          data-id='4'
          d='M 410.8374 330.635 412.2997 331.2113 416.4383 335.3072 417.3829 337.5203 416.9773 340.2977 414.5544 338.8465 412.5265 340.2637 415.8806 342.1902 420.3661 344.2745 421.5588 347.1907 423.2292 347.4562 425.057 345.9125 424.614 343.4807 421.6762 341.6615 423.3973 340.1219 420.1366 338.3698 420.3394 336.0524 418.4929 332.8821 417.9566 330.3258 419.1706 329.5566 421.8577 330.7797 423.1892 333.3267 427.8614 337.9002 431.1648 338.8071 432.1681 340.2667 434.2948 339.5035 436.4108 340.3357 433.8572 342.1272 432.9819 343.4867 436.2533 343.951 437.1872 346.0953 437.0752 347.9044 438.2786 348.8784 438.2946 351.8412 440.8135 351.3336 441.4512 348.6716 444.0582 349.1219 447.0707 348.8304 448.9573 351.5207 452.1192 353.7351 449.6777 354.8838 447.2308 355.124 445.3417 356.0565 443.2417 358.9807 441.5633 360.2945 439.2926 360.8365 437.8917 362.0269 435.6022 367.1438 427.9548 367.454 422.2206 366.0645 418.8238 363.7197 415.7472 363.5149 412.5852 363.9365 410.8321 364.6859 405.885 365.2189 402.691 361.7011 400.6844 360.499 402.0133 357.4497 408.1558 352.5367 409.2098 349.7339 409.095 346.5736 407.6434 342.7169 407.4967 339.1043 408.6921 335.6208 409.1004 332.7566 410.8374 330.635 Z')
        path(
          data-id='8'
          d='M 264.6501 264.5597 258.9719 269.9694 257.2375 271.1441 251.5833 271.8286 249.5206 272.7118 245.9798 272.7465 243.2314 271.7522 241.4836 271.8136 237.9214 273.4823 234.3698 275.6746 230.5648 276.3331 228.2887 277.9791 222.5571 280.8772 219.5899 276.1616 217.5513 276.9388 216.484 276.1072 217.6821 273.6571 214.0531 273.2468 213.4688 272.5667 216.2038 269.91 213.6155 268.9725 212.1186 269.8907 212.2547 272.2752 209.8078 273.8749 207.2996 272.6638 206.87 271.6438 208.6711 270.6212 209.6531 269.0408 211.2274 263.3823 213.845 260.2653 217.1137 258.7998 221.2897 258.16 225.615 254.7222 228.5208 253.3357 235.4372 254.2589 237.852 253.7746 240.4723 251.2004 244.2373 251.2224 247.9837 249.9536 252.181 253.6652 254.5131 255.0704 256.549 255.438 261.4107 258.0583 262.5821 259.0679 263.492 263.0888 264.6501 264.5597 Z')
        path(
          data-id='23'
          d='M 389.0798 372.0549 385.8138 374.5861 381.4004 374.8833 375.5701 371.1236 374.2359 369.5773 374.3346 367.9983 376.6027 365.902 379.5592 364.2296 382.2009 361.9889 386.4409 361.1027 387.4949 363.8941 389.9337 366.7802 390.3046 369.3528 389.0798 372.0549 Z')
        path(
          data-id='24'          
          d='M 678.7755 527.2482 682.3218 528.4142 687.469 531.4742 689.7531 530.9885 691.3487 534.6648 693.2993 534.4373 694.4227 536.5783 696.4079 537.5463 698.692 541.5778 697.163 545.8115 696.117 544.0067 694.7855 544.1301 693.454 541.1502 691.4982 541.306 691.0152 544.8565 692.1813 545.3668 692.4721 547.4555 689.8438 548.9204 687.1781 551.8275 685.1875 551.7302 680.4272 550.1755 678.1912 550.6615 678.0471 547.9414 674.5969 547.1156 673.8685 545.2698 675.8591 544.2014 675.0345 541.335 674.0152 539.7317 675.1813 536.6717 674.21 535.2148 673.5296 532.3974 674.0633 530.4542 676.1526 529.4342 675.9578 527.7822 678.482 528.1227 678.7755 527.2482 Z M 693.9317 546.8244 697.1363 548.2813 698.5933 550.9046 696.3599 555.2277 692.5228 554.6933 689.5129 554.721 690.4335 553.2361 693.6382 553.9649 697.4459 551.2402 696.4079 549.933 694.9029 550.3216 692.384 552.0387 691.3567 552.0217 691.8424 548.5241 693.9317 546.8244 Z')
        path(
          data-id='25'          
          d='M 407.0377 411.4068 403.1233 409.4969 400.2281 408.9936 398.5898 410.6183 397.3757 410.181 394.5473 411.5245 394.1604 409.7081 392.3726 408.2668 392.8956 406.8933 396.5031 407.9466 396.287 405.2089 394.5819 403.0809 389.2533 401.2805 389.4721 399.2762 390.953 398.4123 389.7656 396.7406 388.0979 397.909 388.3407 400.1744 387.759 401.5833 385.8645 400.4176 384.2128 398.4747 383.5164 395.3014 385.4456 394.7694 385.6937 393.042 382.0248 390.914 379.4605 390.1862 378.2918 388.9491 378.8201 387.1079 378.66 384.2909 381.0108 378.1343 381.4004 374.8833 385.8138 374.5861 389.0798 372.0549 391.983 374.5574 394.9235 375.8126 396.271 375.7348 398.2642 373.2263 401.7464 371.721 404.1479 370.083 404.9618 368.7388 405.885 365.2189 410.8321 364.6859 412.5852 363.9365 415.7472 363.5149 418.8238 363.7197 422.2206 366.0645 427.9548 367.454 435.6022 367.1438 436.0692 371.2821 435.0953 373.8133 434.5536 376.9963 433.15 378.5326 430.5057 379.9812 429.2863 381.3523 428.283 383.9093 424.9182 383.9757 423.512 385.1894 421.7509 390.0625 420.342 391.6541 416.2248 393.529 414.8399 395.121 413.3003 398.3026 410.7761 400.0267 409.1217 404.6219 408.8042 409.1784 407.0377 411.4068 Z M 385.3308 400.7088 384.4076 403.5262 382.5398 402.2344 383.4176 400.4786 385.3308 400.7088 Z')
        path(
          data-id='5'
          d='M 262.0485 212.4792 261.2853 216.2372 262.0458 218.3738 262.0618 220.6453 259.7057 226.9465 259.2387 230.4511 258.6517 231.5181 254.9534 234.0596 253.3897 237.2703 249.4993 242.2711 249.0857 248.4603 247.9837 249.9536 244.2373 251.2224 240.4723 251.2004 237.8734 248.6251 234.0123 238.1389 231.7896 235.5159 229.9457 232.2475 229.6469 224.6568 229.236 221.9858 227.635 220.1413 219.3791 212.9058 217.6287 211.6596 213.9624 211.2527 206.0001 211.2574 204.1616 210.2574 201.592 207.896 202.4886 204.8911 202.2217 202.3692 198.7769 197.7616 195.7697 194.9485 194.2434 194.3425 190.4357 195.5065 186.169 195.3851 184.7388 194.2945 180.1546 186.2918 179.7891 184.8596 182.7376 182.331 185.4219 181.7309 187.77 179.9782 194.2941 173.778 198.953 176.0837 201.6454 176.6835 206.0828 178.6337 208.1294 178.8975 213.9571 177.1834 215.1979 178.1247 216.2252 180.5702 219.1256 181.9224 225.8498 193.03 228.1419 194.1264 229.3827 193.4016 231.4667 194.7761 236.0936 196.9915 240.5897 201.2081 239.501 202.5136 243.202 203.7357 245.5555 202.6774 247.506 203.3188 256.7998 209.3699 257.5256 210.7637 259.2761 210.633 262.0485 212.4792 Z')
        path(
          data-id='6'          
          d='M 391.6228 321.2294 388.21 326.3283 387.2334 329.3529 385.7551 330.8301 383.6204 331.9071 380.9174 334.5258 379.9995 337.5503 377.0777 340.4528 375.474 341.1422 369.3208 341.5161 365.2436 342.8473 362.9809 344.1197 361.5827 345.4382 356.0725 340.3347 354.202 337.6757 352.046 336.3772 349.6979 335.9323 346.696 334.6788 343.1445 332.3901 340.1052 331.137 334.7659 331.0673 330.4966 332.3864 326.3206 332.5385 324.6983 332.193 323.0332 330.6083 320.9466 325.9441 317.902 321.4629 319.0921 320.3315 321.9019 314.9799 321.8325 313.7481 317.9767 309.5628 317.5418 307.183 317.347 296.1838 324.6502 296.0444 327.9376 296.4266 332.3404 298.4242 334.4324 298.5519 336.0467 297.8408 343.3126 290.8661 343.9476 288.0127 343.6675 281.8865 345.0443 281.7458 348.5212 284.2237 353.5216 288.6854 357.8683 290.4802 359.3573 294.421 358.4901 295.1355 356.1152 295.0654 351.0321 292.5345 349.0255 290.8751 348.1209 292.2397 350.5224 293.7393 353.1294 296.002 355.3121 297.1364 356.817 299.7544 358.7115 301.809 359.1838 303.393 361.2358 305.015 361.8682 306.4239 364.1016 306.4719 368.9046 308.8961 372.2533 308.5779 374.1532 309.5702 376.0317 311.8573 380.0982 310.7215 383.6231 310.9504 387.7297 314.8328 389.1279 318.3793 391.6228 321.2294 Z')
        path(
          data-id='7'          
          d='M 132.6022 194.7964 133.9391 192.4937 137.3412 192.7658 141.0635 190.5878 142.1789 189.5225 142.8166 185.493 145.1434 184.1868 147.094 184.9096 148.9751 184.7068 152.6548 182.881 154.616 182.8863 158.7039 186.093 161.1961 186.3748 163.168 185.3078 165.9111 182.4791 167.0024 180.6623 171.8774 182.1078 175.357 182.5578 179.7891 184.8596 180.1546 186.2918 184.7388 194.2945 186.169 195.3851 190.4357 195.5065 194.2434 194.3425 195.7697 194.9485 198.7769 197.7616 202.2217 202.3692 202.4886 204.8911 201.592 207.896 197.6962 207.5074 196.1326 208.1041 194.6383 210.4009 192.6905 212.3554 187.8901 213.333 183.9917 216.6761 183.4874 217.8879 183.2632 221.7369 182.6975 223.3126 176.6591 229.2606 174.5511 232.3696 171.0289 235.8177 170.4579 239.4383 173.3157 241.9339 171.6373 241.7615 170.7914 240.3739 168.4967 240.7695 166.5728 239.4794 164.5475 234.0183 162.9385 234.4532 161.0307 233.3082 157.1803 232.3492 156.2197 230.8286 156.257 229.1689 152.9349 227.3771 151.2993 224.9249 148.8204 222.347 148.3588 220.5008 145.3969 219.0476 143.449 219.2117 141.752 217.8168 143.6598 216.7622 146.2294 216.7528 148.7243 215.6134 148.6843 214.2399 149.9517 212.5542 148.8631 209.564 144.3723 208.954 140.5325 207.5204 139.2144 202.9655 136.7782 200.557 135.4867 198.2059 132.6022 194.7964 Z')
        path(
          data-id='9'
          d='M 383.9807 353.2591 381.0935 349.6425 378.3878 349.4394 374.6148 350.7019 370.3321 350.7032 362.9809 344.1197 365.2436 342.8473 369.3208 341.5161 375.474 341.1422 377.0777 340.4528 379.9995 337.5503 380.9174 334.5258 383.6204 331.9071 385.7551 330.8301 387.2334 329.3529 388.21 326.3283 391.6228 321.2294 394.59 320.3716 396.7833 321.9476 394.8488 323.164 395.3317 324.5709 394.5766 325.9767 396.6072 327.5547 397.1195 330.2618 399.449 332.2713 400.3162 331.7974 397.9841 327.0741 398.9687 323.8938 401.9465 323.8051 403.745 327.7839 405.4394 324.9111 405.5088 320.8592 407.9183 323.9281 411.3124 329.597 410.8374 330.635 409.1004 332.7566 408.6921 335.6208 407.4967 339.1043 407.6434 342.7169 409.095 346.5736 409.2098 349.7339 408.1558 352.5367 402.0133 357.4497 400.6844 360.499 397.7519 358.3246 396.1483 356.0138 394.3071 354.679 387.9805 351.9877 386.2274 351.974 383.9807 353.2591 Z')
        path(
          data-id='10'
          d='M 167.0024 180.6623 165.9111 182.4791 163.168 185.3078 161.1961 186.3748 158.7039 186.093 154.616 182.8863 152.6548 182.881 148.9751 184.7068 147.094 184.9096 145.1434 184.1868 142.8166 185.493 142.1789 189.5225 141.0635 190.5878 137.3412 192.7658 133.9391 192.4937 132.6022 194.7964 131.7991 190.5091 130.6037 189.6696 129.2695 186.5043 126.4517 184.1494 124.4024 185.9186 124.5812 182.836 122.2971 183.1582 118.0652 180.5916 117.5688 178.2528 113.7425 175.8486 112.6564 173.4694 109.6172 171.5332 107.1463 168.8179 107.4959 167.2706 106.6874 165.5635 106.4552 162.9879 103.5734 157.4207 100.6276 156.6172 100.1259 155.3231 98.3088 154.2718 98.6984 151.1655 101.7003 151.0995 103.2452 152.8082 105.3078 153.2431 105.7375 151.7442 109.0035 154.3859 111.9947 155.9969 114.4229 157.9861 116.7497 158.7506 122.5266 158.4477 124.0822 156.2193 122.7241 152.8499 122.7481 150.6375 126.0221 147.3905 127.1722 150.3747 132.3167 155.179 135.7189 159.4857 140.2737 162.2001 147.3981 168.4583 150.0958 170.1764 153.2712 171.129 155.5099 174.1505 159.3656 177.636 162.17 179.4815 167.0024 180.6623 Z')
        path(
          data-id='11'
          d='M 167.0024 180.6623 162.17 179.4815 159.3656 177.636 155.5099 174.1505 153.2712 171.129 150.0958 170.1764 147.3981 168.4583 140.2737 162.2001 135.7189 159.4857 132.3167 155.179 127.1722 150.3747 126.0221 147.3905 129.547 143.2479 129.7445 141.2176 129.4189 133.8103 130.8438 131.3251 129.6617 128.8736 129.9046 126.4958 129.3229 124.1673 133.6963 124.6586 136.0444 125.7466 138.6594 125.1586 141.5785 127.5848 142.5471 128.964 144.0494 129.3272 144.3936 134.2386 146.4295 136.528 148.3881 136.8966 152.3719 139.156 156.281 140.8354 158.4104 143.3536 159.9607 144.3849 163.7364 145.6471 166.6875 148.6499 167.4213 152.4473 171.0903 161.3365 173.9561 163.8718 175.2395 164.4401 180.5922 164.8327 183.3966 165.7109 185.8702 165.9081 187.8101 166.7739 192.477 171.211 194.2941 173.778 187.77 179.9782 185.4219 181.7309 182.7376 182.331 179.7891 184.8596 175.357 182.5578 171.8774 182.1078 167.0024 180.6623 Z')
        path(
          data-id='12'
          d='M 264.6501 264.5597 263.492 263.0888 262.5821 259.0679 261.4107 258.0583 256.549 255.438 254.5131 255.0704 252.181 253.6652 247.9837 249.9536 249.0857 248.4603 249.4993 242.2711 253.3897 237.2703 254.9534 234.0596 258.6517 231.5181 261.7309 233.5356 264.4713 234.698 267.8894 234.8281 269.7066 234.1394 272.2655 232.1798 275.0859 231.6835 277.9144 230.0451 281.4366 230.4134 286.8293 230.5458 289.7591 231.7802 292.4621 237.0138 295.4267 238.4887 299.8134 237.5338 300.9314 239.494 303.4797 240.3125 304.1121 243.13 306.2948 244.5989 306.8525 246.1369 309.8463 247.7178 316.3517 247.3559 321.112 247.8903 323.3961 249.1047 324.0285 250.9992 322.7637 252.5539 322.4996 254.5037 321.5016 255.6625 321.4162 257.6654 322.8625 260.0829 320.557 260.9354 320.6264 262.2819 314.8735 262.5228 309.8303 265.108 301.9454 265.6794 299.2104 266.6977 296.6941 266.7107 294.8023 265.8305 291.5496 263.2032 288.569 261.8423 285.4791 261.7763 282.5519 263.1675 278.8456 266.2638 276.6202 267.0806 271.457 267.0513 267.1476 264.7415 264.6501 264.5597 Z')
        path(
          data-id='19'
          d='M 173.3157 241.9339 170.4579 239.4383 171.0289 235.8177 174.5511 232.3696 176.6591 229.2606 182.6975 223.3126 183.2632 221.7369 183.4874 217.8879 183.9917 216.6761 187.8901 213.333 192.6905 212.3554 194.6383 210.4009 196.1326 208.1041 197.6962 207.5074 201.592 207.896 204.1616 210.2574 206.0001 211.2574 213.9624 211.2527 217.6287 211.6596 219.3791 212.9058 227.635 220.1413 229.236 221.9858 229.6469 224.6568 229.9457 232.2475 231.7896 235.5159 234.0123 238.1389 237.8734 248.6251 240.4723 251.2004 237.852 253.7746 235.4372 254.2589 228.5208 253.3357 225.615 254.7222 221.2897 258.16 217.1137 258.7998 213.845 260.2653 211.2274 263.3823 209.6531 269.0408 208.6711 270.6212 206.87 271.6438 207.3049 269.6442 204.8234 268.1463 203.6093 270.0408 202.0056 270.4781 203.4625 274.6553 201.1304 274.1697 199.7722 267.4662 197.0985 266.1057 196.6262 262.403 195.204 262.4144 193.2134 260.4228 195.4975 259.111 198.9931 259.1597 195.5055 256.3996 193.1494 256.6511 190.337 255.5117 191.3056 253.1539 193.0427 251.4999 191.4523 248.8059 187.6686 247.5567 185.8889 247.9493 184.6881 247.0441 185.3365 244.1346 183.2659 243.8408 182.4174 246.7029 177.7451 245.6549 176.2802 244.3074 176.8032 242.6257 175.9627 240.7558 173.9054 240.6561 173.3157 241.9339 Z')
        path(
          data-id='20'
          d='M 505.0883 415.3576 499.9038 416.6444 494.986 418.3778 493.7132 421.382 492.355 422.994 489.7374 424.2315 485.0038 425.7418 482.0499 426.087 476.6759 426.151 474.8588 426.4555 463.9907 431.53 461.6532 432.1101 457.0983 434.5466 455.8923 436.3724 455.6708 439.0351 453.6268 435.4895 452.8984 436.3634 450.665 435.8781 451.4922 434.199 449.8858 433.2061 449.7417 430.9714 451.8337 427.1169 450.3848 425.5083 446.3103 423.4363 444.1543 424.6567 441.8141 424.3069 441.1764 422.7139 438.5694 423.7822 440.5413 420.1383 439.7115 418.4392 438.0785 418.7434 437.3313 416.2331 434.1667 416.1861 431.6504 417.4923 431.1728 419.0856 432.2055 421.2563 432.2055 423.1508 430.7592 423.4043 429.9134 421.6992 428.4564 421.7229 427.4452 423.7338 428.4645 424.7051 426.135 426.695 422.1992 424.1708 421.3106 422.2786 419.3334 420.5278 417.3909 420.722 414.373 419.4201 414.1355 417.662 413.0628 416.8125 410.9789 413.1929 407.0377 411.4068 408.8042 409.1784 409.1217 404.6219 410.7761 400.0267 413.3003 398.3026 414.8399 395.121 416.2248 393.529 420.342 391.6541 421.7509 390.0625 423.512 385.1894 424.9182 383.9757 428.283 383.9093 430.479 386.4886 431.2502 390.3253 433.5423 392.8269 435.6903 394.1897 441.1951 395.6596 445.806 395.3468 448.9332 393.8615 451.4975 388.764 453.4374 388.0292 459.8174 392.001 466.4322 395.0025 472.0143 395.4722 476.892 397.5205 480.4249 398.5995 483.3494 401.6327 485.9137 402.211 488.7448 405.307 491.1036 406.6832 494.0441 409.7634 500.2533 411.9365 501.4407 413.86 505.0883 415.3576 Z M 441.9689 425.531 443.2497 427.4055 441.7581 430.3243 439.3459 431.5057 439.442 429.7573 441.0456 428.8337 441.9689 425.531 Z M 422.1992 427.0369 425.2118 427.814 427.736 429.2229 428.4164 430.2426 426.183 431.7488 422.6848 432.6718 422.1512 431.0691 423.48 430.3326 420.9371 427.9598 422.1992 427.0369 Z M 416.3689 427.1827 419.9631 427.5712 420.6436 428.8337 419.771 430.5828 417.3909 429.4171 416.3689 427.1827 Z M 429.5345 430.7772 435.5569 432.6231 437.5982 432.526 437.0138 434.3718 434.5376 436.0235 434.0519 437.5778 431.3783 438.5978 430.2149 435.732 430.359 433.3031 429.5345 430.7772 Z')
        path(
          data-id='13'
          d='M 276.5055 294.5107 278.1065 290.2137 277.298 286.871 276.9298 283.2617 276.6202 267.0806 278.8456 266.2638 282.5519 263.1675 285.4791 261.7763 288.569 261.8423 291.5496 263.2032 294.8023 265.8305 296.6941 266.7107 299.2104 266.6977 301.9454 265.6794 309.8303 265.108 314.8735 262.5228 320.6264 262.2819 321.9392 264.3085 321.6911 266.7297 322.3208 268.6706 323.7857 269.6035 324.4234 271.6441 326.7956 273.2948 329.608 276.5645 335.1822 278.2993 337.8372 281.9662 339.2567 282.5036 343.6675 281.8865 343.9476 288.0127 343.3126 290.8661 336.0467 297.8408 334.4324 298.5519 332.3404 298.4242 327.9376 296.4266 324.6502 296.0444 317.347 296.1838 310.7242 296.2031 308.0212 294.6912 301.4491 288.7842 298.8902 287.1245 296.4433 287.2696 291.0159 291.9381 287.4563 293.6599 281.658 295.3536 279.1391 295.2776 276.5055 294.5107 Z')
        path(
          data-id='14'
          d='M 213.9571 177.1834 208.1294 178.8975 206.0828 178.6337 201.6454 176.6835 198.953 176.0837 194.2941 173.778 192.477 171.211 187.8101 166.7739 185.8702 165.9081 183.3966 165.7109 180.5922 164.8327 175.2395 164.4401 173.9561 163.8718 171.0903 161.3365 167.4213 152.4473 166.6875 148.6499 163.7364 145.6471 159.9607 144.3849 158.4104 143.3536 156.281 140.8354 152.3719 139.156 148.3881 136.8966 146.4295 136.528 144.3936 134.2386 144.0494 129.3272 148.7857 129.6454 150.9684 131.8791 155.3978 132.8257 158.2289 134.9794 164.27 136.2112 168.3606 139.1133 171.1463 142.4477 172.766 142.6689 174.3056 144.9149 178.3909 147.9718 179.1193 152.8989 179.8451 154.1454 184.6428 155.7194 185.614 157.3484 189.243 158.0378 192.7999 161.2124 193.6137 162.7648 198.6302 165.8247 204.1083 167.0678 209.2395 171.1443 210.1334 173.5645 213.9571 177.1834 Z')
        path(
          data-id='15'
          d='M 222.5571 280.8772 228.2887 277.9791 230.5648 276.3331 234.3698 275.6746 237.9214 273.4823 241.4836 271.8136 243.2314 271.7522 245.9798 272.7465 249.5206 272.7118 251.5833 271.8286 257.2375 271.1441 258.9719 269.9694 264.6501 264.5597 267.1476 264.7415 271.457 267.0513 276.6202 267.0806 276.9298 283.2617 277.298 286.871 278.1065 290.2137 276.5055 294.5107 273.2475 295.6711 270.9874 297.1684 268.2443 299.7914 266.1364 300.9111 260.6903 301.1042 258.4729 302.338 256.5544 305.2781 254.7559 306.9302 251.2817 308.9014 249.9396 310.2783 249.027 313.1277 247.6661 312.7872 246.1132 315.1186 247.6661 318.0815 246.308 320.2191 242.711 321.4823 241.497 320.8509 239.896 318.4701 241.9826 316.5762 239.7492 315.5072 241.2995 313.8635 242.1774 310.7469 241.3582 309.8223 234.8928 307.5409 234.9302 305.9849 233.7081 304.8642 232.446 301.6732 230.2766 299.6233 227.9925 298.7 226.3435 294.5228 221.9167 291.0369 221.2416 289.4709 221.9701 287.4307 221.1456 282.7818 222.8133 282.2638 222.5571 280.8772 Z')
        path(
          data-id='16'
          d='M 69.9284 84.0452 70.913 84.5909 72.6981 87.8823 72.7595 89.6637 75.3211 92.3998 76.1456 96.2859 73.9122 98.5206 71.5321 96.2859 70.2193 97.7431 67.8658 96.1044 68.2767 92.0112 67.647 90.6517 68.8984 88.2539 67.9859 85.3564 69.9284 84.0452 Z M 43.8081 88.9516 46.2229 90.6057 46.4898 92.4792 45.0729 94.5978 46.3056 96.5841 45.8307 97.6848 43.8641 97.062 43.4799 95.7822 39.3813 92.5896 39.6588 90.6237 41.1851 89.3819 43.8081 88.9516 Z M 105.1184 95.461 106.2738 95.0368 108.3417 96.1645 108.2564 98.0313 110.4817 100.182 112.6271 101.356 114.2147 103.3313 114.6257 105.3292 117.6569 109.7033 114.6577 108.9204 112.6218 109.1913 107.9095 105.7955 105.476 102.6735 104.6381 99.9272 105.1184 95.461 Z M 129.4189 133.8103 129.7445 141.2176 129.547 143.2479 126.0221 147.3905 122.7481 150.6375 122.7241 152.8499 124.0822 156.2193 122.5266 158.4477 116.7497 158.7506 114.4229 157.9861 111.9947 155.9969 109.0035 154.3859 105.7375 151.7442 106.5486 149.5945 107.8081 148.9625 106.031 146.4479 107.4265 144.3179 105.3612 141.344 104.1231 138.6834 102.4474 137.9102 101.5081 136.503 95.459 135.0701 91.7794 136.5934 90.8135 134.839 92.0916 132.6152 91.6246 130.0543 89.8449 128.7075 87.4407 131.2601 89.1351 132.6983 86.5201 135.1141 82.9979 136.6478 81.549 135.7679 82.5203 133.7333 81.3169 132.0032 76.2017 127.4023 77.5438 125.2493 82.04 123.5216 84.2627 124.7767 87.422 124.8864 88.2545 122.8475 85.8824 119.9223 85.5488 117.8093 86.6402 117.2036 86.6775 114.6967 88.0944 112.5404 86.5548 109.4047 83.8678 107.5526 82.9525 106.2338 80.7725 106.5046 80.6978 109.4284 79.473 109.3907 79.1982 107.2447 80.2335 104.553 79.1795 102.2256 76.7033 103.6231 75.9028 98.6173 76.9595 97.1364 80.3216 98.3562 82.048 97.8702 83.6757 99.3945 84.6283 101.329 86.2106 102.7416 87.2379 101.8454 88.9216 105.3762 90.5333 107.3264 92.82 111.3166 96.8359 113.8609 99.4082 114.568 100.3261 116.8184 101.8337 117.6779 102.917 120.0614 104.5447 121.3842 106.0176 124.8664 107.9975 126.6118 111.2049 126.8973 113.8919 128.6684 114.156 129.7975 116.9258 129.5153 119.6288 130.2324 119.7569 131.9011 121.2565 134.1562 126.8413 133.2293 129.4189 133.8103 Z M 62.7746 109.1062 67.0519 113.3352 63.7112 113.2311 62.7746 109.1062 Z M 114.6417 120.0621 116.4241 121.0343 119.7595 121.7181 120.0664 122.8461 117.2326 122.7491 115.2847 121.5874 114.6417 120.0621 Z M 125.339 122.2648 126.5051 122.629 128.8319 129.3405 127.0815 129.6467 124.5919 124.6763 125.339 122.2648 Z M 93.2096 139.5623 93.4685 141.4504 91.0189 141.6175 91.1123 139.6276 92.4678 136.959 93.8447 138.8371 93.2096 139.5623 Z')
        path(
          data-id='17'
          d='M 317.902 321.4629 316.1116 319.8603 309.2513 316.8594 305.9292 315.8948 302.2309 313.8048 299.0156 312.7325 287.4403 312.6794 284.8147 312.9473 281.3832 314.3942 279.937 315.734 277.2046 316.9664 275.4889 317.1809 272.0867 318.7416 269.3944 320.7115 266.7821 321.3192 265.0023 322.6757 263.5 326.0885 262.2859 324.4228 258.6623 327.5471 257.3842 326.1632 257.7498 323.4785 259.7297 324.3204 261.1946 322.7317 259.108 319.1181 257.5496 318.8903 256.1808 317.2726 254.0968 319.3249 252.6212 317.9861 254.868 316.4551 253.5925 314.4872 252.3464 314.7587 250.9215 317.7419 248.9469 317.0692 248.2505 315.3618 249.027 313.1277 249.9396 310.2783 251.2817 308.9014 254.7559 306.9302 256.5544 305.2781 258.4729 302.338 260.6903 301.1042 266.1364 300.9111 268.2443 299.7914 270.9874 297.1684 273.2475 295.6711 276.5055 294.5107 279.1391 295.2776 281.658 295.3536 287.4563 293.6599 291.0159 291.9381 296.4433 287.2696 298.8902 287.1245 301.4491 288.7842 308.0212 294.6912 310.7242 296.2031 317.347 296.1838 317.5418 307.183 317.9767 309.5628 321.8325 313.7481 321.9019 314.9799 319.0921 320.3315 317.902 321.4629 Z M 250.2411 319.7822 252.9014 321.4893 251.7834 323.757 250.097 324.1539 248.4933 321.2395 250.2411 319.7822 Z')
        path(
          data-id='18'
          d='M 262.0485 212.4792 263.5507 213.3043 271.7612 215.976 275.4035 215.6361 283.1283 217.1417 286.0902 217.1417 288.2195 218.58 289.5403 217.7738 290.605 220.2977 292.9878 219.182 296.438 221.7563 297.2625 224.6711 295.8056 226.3225 296.582 228.1199 296.0484 232.7832 297.1904 235.5873 299.8134 237.5338 295.4267 238.4887 292.4621 237.0138 289.7591 231.7802 286.8293 230.5458 281.4366 230.4134 277.9144 230.0451 275.0859 231.6835 272.2655 232.1798 269.7066 234.1394 267.8894 234.8281 264.4713 234.698 261.7309 233.5356 258.6517 231.5181 259.2387 230.4511 259.7057 226.9465 262.0618 220.6453 262.0458 218.3738 261.2853 216.2372 262.0485 212.4792 Z')
        path(
          data-id='22'
          d='M 511.6604 473.2998 509.8887 475.3878 507.1056 475.4775 504.5387 473.2765 505.6994 473.6697 506.2837 471.2409 502.8336 470.8032 499.749 468.8333 502.4467 466.723 500.4054 464.8288 497.9212 464.9186 498.4895 463.2212 500.5175 460.4715 500.8137 457.9072 502.2572 453.1996 505.6674 449.4396 511.028 446.8349 515.5535 443.2971 518.7262 445.5788 520.7461 445.9821 523.7587 447.7779 531.6116 451.1827 533.2686 453.4134 533.2099 462.0201 530.3921 464.6614 528.2922 465.8091 523.8654 467.1827 518.7689 467.3861 517.1199 467.8437 514.198 471.2235 511.6604 473.2998 Z')
        path(
          data-id='21'
          d='M 339.1046 377.0076 336.9966 376.2752 332.9648 371.4178 335.401 370.2451 331.8494 369.5233 331.4305 367.985 332.3751 366.0304 331.217 364.8597 327.8176 364.6172 327.5134 366.6058 326.31 367.2889 319.8499 365.9774 315.5272 364.3257 314.3612 363.5005 311.2232 362.8008 308.6643 361.3702 305.521 360.6337 301.4304 359.1191 297.8148 356.0809 296.4299 351.9523 296.977 350.7472 296.1097 347.644 294.6448 348.6769 291.675 347.0189 288.0674 345.8325 285.5218 343.6625 289.6897 341.5121 293.1933 338.7167 297.3212 338.0483 300.2617 334.6725 304.6431 332.5842 307.5622 329.1591 312.2158 326.2713 315.2604 325.4644 316.8267 323.8638 317.902 321.4629 320.9466 325.9441 323.0332 330.6083 324.6983 332.193 326.3206 332.5385 330.4966 332.3864 334.7659 331.0673 340.1052 331.137 343.1445 332.3901 346.696 334.6788 349.6979 335.9323 352.046 336.3772 354.202 337.6757 356.0725 340.3347 361.5827 345.4382 361.2598 349.4191 360.2512 352.4249 360.5927 361.9789 360.0244 364.9111 358.378 366.8883 356.1873 368.1704 353.2628 368.4636 350.6105 369.9792 347.1069 374.5177 345.3485 376.0687 343.6461 376.6147 339.1046 377.0076 Z')
        path(
          data-id='26'
          d='M 381.4004 374.8833 381.0108 378.1343 378.66 384.2909 377.0857 385.9425 373.4407 391.8399 372.1172 392.9853 371.6183 395.1023 370.1267 395.0739 370.2014 392.7178 369.1687 392.1995 367.5037 389.6826 369.4462 387.205 365.3157 386.3305 364.2003 388.322 362.7914 389.3277 361.7508 387.4585 360.0697 387.1563 358.9624 385.3018 355.1653 383.3676 353.519 384.0854 350.0768 382.2546 346.0423 381.6282 342.5361 380.4044 339.0379 377.8298 339.1046 377.0076 343.6461 376.6147 345.3485 376.0687 347.1069 374.5177 350.6105 369.9792 353.2628 368.4636 356.1873 368.1704 358.378 366.8883 360.0244 364.9111 360.5927 361.9789 360.2512 352.4249 361.2598 349.4191 361.5827 345.4382 362.9809 344.1197 370.3321 350.7032 374.6148 350.7019 378.3878 349.4394 381.0935 349.6425 383.9807 353.2591 385.4029 355.3227 386.7984 359.0061 386.4409 361.1027 382.2009 361.9889 379.5592 364.2296 376.6027 365.902 374.3346 367.9983 374.2359 369.5773 375.5701 371.1236 381.4004 374.8833 Z')
        path(
          data-id='27'
          d='M 597.0178 494.2245 595.7583 494.897 594.1066 493.7796 592.5537 495.6258 594.3014 496.6941 590.7072 499.803 587.8414 502.8149 584.538 502.8149 582.7902 501.2116 585.0236 500.3861 585.1704 499.22 581.1866 498.4915 583.5187 496.6941 581.5254 494.5084 579.4388 493.1482 579.292 490.088 577.9819 490.671 576.3195 490.0119 575.7458 491.7877 577.4936 493.9741 574.9693 494.9453 574.6785 492.0795 573.7552 491.8367 572.88 488.6791 570.4999 489.7961 569.6247 491.7877 569.8195 496.5 571.762 497.2771 571.5699 498.7344 573.3176 499.9975 571.9088 501.5518 570.0142 499.6089 567.4393 498.8801 565.6435 500.5802 563.0205 502.0378 561.0273 502.1832 560.1521 501.1632 555.7333 500.6772 553.596 498.9769 553.692 497.3258 556.2376 494.7512 556.219 493.2453 552.9876 494.0791 548.6889 492.4198 549.5641 488.1447 548.2513 488.4366 547.7176 490.4282 545.7271 490.2341 545.5803 487.7078 543.3469 487.2705 541.938 485.6675 539.5098 485.1816 538.9735 483.773 536.6467 481.7057 535.0884 483.3844 531.737 484.8904 529.4049 484.9391 525.7146 481.4419 523.2837 481.15 522.9929 478.5271 524.7913 477.6525 522.2644 475.2724 518.5234 475.758 517.6509 474.2037 512.477 474.2294 511.6604 473.2998 514.198 471.2235 517.1199 467.8437 518.7689 467.3861 523.8654 467.1827 528.2922 465.8091 530.3921 464.6614 533.2099 462.0201 538.1063 464.1201 542.5331 465.3445 546.9865 464.3089 551.2372 464.2245 555.5065 465.3762 557.6385 465.5473 563.1593 466.9922 566.0784 469.4687 570.6893 477.854 571.3004 479.952 573.0054 481.2891 579.8417 482.9885 581.6268 483.685 586.155 484.3647 588.0975 485.8927 589.325 487.7855 592.1214 489.6961 594.8938 492.8627 597.0178 494.2245 Z M 563.2127 506.7494 561.7557 504.9519 563.5062 503.3973 566.0304 505.0006 567.3432 502.8149 569.091 502.4263 572.784 503.2519 573.7552 504.4179 574.2889 506.7007 573.2189 507.7693 570.0623 509.1295 569.4325 510.5381 566.7108 509.8583 567.3432 511.9957 570.8388 511.6071 571.714 512.7241 569.043 515.3471 566.7589 514.4729 562.631 514.5216 560.9793 510.8783 563.3114 509.4694 563.2127 506.7494 Z')
        path(
          data-id='28'
          d='M 512.477 474.2294 513.619 475.2724 512.2101 476.5839 513.5683 477.9924 511.8552 479.1905 509.0508 479.3042 509.9741 482.5102 508.0315 483.8217 506.3798 483.3844 506.7694 487.3192 504.3892 487.9993 501.6195 484.9391 503.2232 483.3844 502.4467 480.9072 495.7919 481.0533 494.5938 480.1434 493.6545 477.1669 498.0733 480.0327 500.3093 480.3729 501.8143 478.43 500.3574 476.341 497.7824 476.2443 497.4436 474.3982 500.1146 473.6697 501.1819 472.5036 504.5387 473.2765 507.1056 475.4775 509.8887 475.3878 511.6604 473.2998 512.477 474.2294 Z')
        path(
          data-id='29'
          d='M 455.6708 439.0351 455.8923 436.3724 457.0983 434.5466 461.6532 432.1101 463.9907 431.53 474.8588 426.4555 476.6759 426.151 482.0499 426.087 485.0038 425.7418 489.7374 424.2315 492.355 422.994 493.7132 421.382 494.986 418.3778 499.9038 416.6444 505.0883 415.3576 507.3111 416.044 510.6758 417.8008 510.2169 418.7017 510.6705 424.1784 512.4796 429.7533 515.0492 431.3903 516.2713 432.7808 516.5782 434.4942 516.6155 440.2828 515.5535 443.2971 511.028 446.8349 505.6674 449.4396 502.2572 453.1996 500.8137 457.9072 500.5175 460.4715 498.4895 463.2212 497.9212 464.9186 492.7793 463.1284 490.642 464.1484 492.4885 467.0145 491.4185 469.0058 489.1851 468.8607 488.1151 471.9643 486.3193 473.135 484.6195 472.552 486.7569 469.7833 486.4287 467.5522 484.326 468.2286 482.4315 463.1284 482.9678 461.5741 480.7798 460.7483 478.6932 461.914 476.8947 461.2826 476.2623 462.6431 473.2044 463.517 471.7448 462.0114 466.2561 459.0486 464.4123 458.9508 464.7992 456.2795 461.1569 453.3163 458.0002 452.1506 455.8629 452.0045 455.4733 450.062 452.9464 448.1671 450.713 449.4299 450.1287 450.9845 448.2848 451.276 447.8953 450.0133 446.1475 448.8959 447.9433 447.3899 448.6237 444.4264 451.4415 446.6128 453.384 446.953 454.454 445.5441 453.288 443.5525 454.5021 442.6787 453.2373 440.9779 451.0039 440.2492 448.8665 440.8325 446.6812 440.0067 447.0707 438.5978 450.4702 440.1037 451.3934 439.1808 454.0645 440.0067 455.6708 439.0351 Z M 445.3684 447.3899 444.4451 450.1587 441.7741 449.4789 445.3684 447.3899 Z')
        path(
          data-id='30'
          d='M 285.5218 343.6625 284.0942 344.1187 281.9863 342.851 280.4813 342.7075 277.4447 339.8437 275.206 336.6841 275.15 333.817 274.3735 332.3841 272.6844 331.4892 272.8739 329.9332 270.6912 329.6911 272.6071 327.5331 271.2942 323.0329 267.7774 323.717 265.7681 327.0367 263.5 326.0885 265.0023 322.6757 266.7821 321.3192 269.3944 320.7115 272.0867 318.7416 275.4889 317.1809 277.2046 316.9664 279.937 315.734 281.3832 314.3942 284.8147 312.9473 287.4403 312.6794 299.0156 312.7325 302.2309 313.8048 305.9292 315.8948 309.2513 316.8594 316.1116 319.8603 317.902 321.4629 316.8267 323.8638 315.2604 325.4644 312.2158 326.2713 307.5622 329.1591 304.6431 332.5842 300.2617 334.6725 297.3212 338.0483 293.1933 338.7167 289.6897 341.5121 285.5218 343.6625 Z')
        path(
          data-id='31'
          d='M 389.0798 372.0549 390.3046 369.3528 389.9337 366.7802 387.4949 363.8941 386.4409 361.1027 386.7984 359.0061 385.4029 355.3227 383.9807 353.2591 386.2274 351.974 387.9805 351.9877 394.3071 354.679 396.1483 356.0138 397.7519 358.3246 400.6844 360.499 402.691 361.7011 405.885 365.2189 404.9618 368.7388 404.1479 370.083 401.7464 371.721 398.2642 373.2263 396.271 375.7348 394.9235 375.8126 391.983 374.5574 389.0798 372.0549 Z')
        path(
          data-id='32'
          d='M 510.6758 417.8008 507.3111 416.044 505.0883 415.3576 501.4407 413.86 500.2533 411.9365 494.0441 409.7634 491.1036 406.6832 488.7448 405.307 485.9137 402.211 483.3494 401.6327 480.4249 398.5995 476.892 397.5205 472.0143 395.4722 466.4322 395.0025 459.8174 392.001 453.4374 388.0292 451.4975 388.764 448.9332 393.8615 445.806 395.3468 441.1951 395.6596 435.6903 394.1897 433.5423 392.8269 431.2502 390.3253 430.479 386.4886 428.283 383.9093 429.2863 381.3523 430.5057 379.9812 433.15 378.5326 434.5536 376.9963 435.0953 373.8133 436.0692 371.2821 435.6022 367.1438 437.8917 362.0269 439.2926 360.8365 441.5633 360.2945 443.2417 358.9807 445.3417 356.0565 447.2308 355.124 449.6777 354.8838 452.1192 353.7351 454.3073 355.3878 456.2498 357.7196 458.1443 358.9827 460.2443 359.3293 464.3135 363.4515 466.7417 364.3744 467.9078 366.1719 470.0931 366.5237 476.9908 370.3978 482.6823 372.2056 483.6456 370.7864 486.2205 372.6319 488.9102 373.5685 487.1198 375.1568 484.0912 373.5598 485.855 377.5673 491.5946 381.3197 493.5558 381.3273 496.2268 382.1532 497.8785 379.6273 502.6388 379.0933 502.348 381.376 498.3641 382.3473 501.0191 385.115 500.9391 386.3245 503.8556 386.9622 508.3224 390.411 509.0508 392.0627 508.4157 394.1477 510.7532 395.9972 514.5396 399.7859 514.1767 401.2461 517.6002 402.0206 518.3793 403.4782 522.5553 406.8296 523.5239 409.021 522.2537 408.5914 519.0597 409.5276 518.1018 410.3261 516.8664 413.7302 515.9324 414.5344 511.2388 416.6968 510.6758 417.8008 Z')
        path(
          data-id='33'
          d='M 597.0178 494.2245 594.8938 492.8627 592.1214 489.6961 589.325 487.7855 588.0975 485.8927 586.155 484.3647 581.6268 483.685 579.8417 482.9885 573.0054 481.2891 571.3004 479.952 570.6893 477.854 566.0784 469.4687 563.1593 466.9922 557.6385 465.5473 555.5065 465.3762 551.2372 464.2245 546.9865 464.3089 542.5331 465.3445 538.1063 464.1201 533.2099 462.0201 533.2686 453.4134 531.6116 451.1827 523.7587 447.7779 520.7461 445.9821 518.7262 445.5788 515.5535 443.2971 516.6155 440.2828 516.5782 434.4942 516.2713 432.7808 515.0492 431.3903 512.4796 429.7533 510.6705 424.1784 510.2169 418.7017 510.6758 417.8008 511.2388 416.6968 515.9324 414.5344 516.8664 413.7302 518.1018 410.3261 519.0597 409.5276 522.2537 408.5914 523.5239 409.021 525.373 411.9785 527.7532 413.5328 529.6957 414.0188 533.8743 417.3218 533.9704 418.9732 537.9622 420.1079 538.6346 422.2279 543.6858 423.491 542.6185 421.1592 544.0754 420.1393 546.0739 422.438 549.4174 424.0047 552.0163 426.3124 549.8843 427.0849 547.1786 429.4104 546.3381 431.3693 550.4047 430.1315 553.0623 430.2426 557.2383 432.0887 559.1328 431.7488 558.5511 434.6146 562.8738 436.2667 567.4873 436.8977 569.8195 438.2582 572.2476 438.1122 573.9981 438.8893 575.4069 438.5007 577.9312 439.4236 580.5542 441.2211 582.4487 443.2614 584.586 444.4264 584.9756 445.8356 589.2022 448.2648 589.9787 449.9159 591.8252 451.1303 592.4069 453.7533 591.4837 455.0164 591.6304 459.4852 592.6497 461.1369 595.9051 464.2942 596.3427 465.7514 599.0617 468.3747 599.4513 469.929 601.055 472.3092 602.5119 473.038 606.8346 477.0698 605.4737 477.8473 603.5792 476.9241 603.5792 479.4013 605.1349 482.1217 603.4832 484.9871 602.656 487.9019 603.1416 489.2134 600.2758 493.5368 597.2659 492.9538 597.0178 494.2245 Z M 605.946 480.1881 607.7098 481.4899 605.9914 482.5102 605.946 480.1881 Z')
        g
          path(data-id='3' d='M 2.6997 3.604 4.5462 7.441 7.9457 11.7647 9.5013 12.736 5.3734 14.825 3.671 13.0762 3.671 10.4045 1 6.2269 2.6997 3.604 Z' fill='none' stroke='black' id='fn617nd6147.4')
          path(data-id='3' d='M 10.035 17.059 12.706 19.3058 13.0182 20.1907 17.7091 26.58 19.0219 28.8634 19.6036 31.9233 19.118 35.4695 21.7917 38.1412 23.8783 39.404 24.7535 41.1998 24.3533 43.6543 21.8877 43.0469 19.118 44.1159 15.6225 40.9586 15.4757 38.0435 13.3384 35.4208 14.4084 34.061 12.9488 33.1864 11.3958 29.5919 14.4084 26.4833 13.4851 24.8803 13.0956 22.354 10.4726 19.4886 10.035 17.059 Z')
        g
          // Dumbea
          line(x1='510' y1='465' x2='481' y2='481')
          // Sarraméa
          line(x1='395' y1='364' x2='463' y2='351')
          // Farino
          line(x1='383' y1='368' x2='360' y2='405')
    
    .fixed-bl
      ul.legend.txt-nowrap.flex.flex-cv.list-bare
        for item, i in ["#de333e", "#ff8F91","#9EACB3","#3661B6","#09306B"]
          li.legend-item
            span.legend-item-box(style=`background:${item}`)
            span.legend-item-label!= `${i*20}&ndash;${20+i*20}%`
      .input.flex.flex-cv
        .row
          input(type="radio" id="pop" name="select" value="pop" checked)
          label(for="pop") % population Kanak
        .row
          input(type="radio" id="vote" name="select" value="vote")
          label(for="vote") % population voted for independence
    
    //.fixed-br.txt-cond.txt-muted Source: Author's calculations
    
  .tooltip
    .tt-title.txt-bold
    .tt-item-box
    span.tt-item
    span % Kanak population<br>
    .tt-item-box
    span.tt-item
    span % vote for independence
      
  
  script(src="script.js")

    

block append css

  style
    :sass

      .wrapper
        max-width: 800px
        height: 640px
        overflow: hidden
        position: relative
      
      .chart-title
        line-height: 1
        margin-bottom: 12px
        font-weight: 500
        color: black
        font-size: 1.8rem
      
      .inset
        position: absolute
        top: 0
        right: 0
        width: 130px
      
      .fixed-br
        position: absolute
        bottom: 0
        right: 0  
        
      .fixed-bl
        position: absolute
        bottom: 0
        left: 0  
        
      .legend
        font-size: 15px
        max-width: 320px
        margin: auto
        margin-bottom: 18px

      .legend-item
        margin: 4px 8px 0
        padding-left: 28px
        position: relative

      .legend-item-box
        position: absolute
        left: 0
        top: 5px
        height: 10px
        width: 20px
      
      .tooltip
        position: absolute
        background: #fffe
        padding: .75em
        opacity: 0
        border-radius: .2em
        box-shadow: 0 0 5px 0 #0004
        transition-duration: 0.5s
        pointer-events: none
        font-size: 14px
        box-sizing: border-box

      .tt-item-box
        display: inline-block
        height: 10px
        width: 20px
        margin-right: 10px
        
      .fade
        opacity: 0.2
      
      text
        font-size: 12px
        font-family: 'Sans', sans-serif

      line
        stroke: black
        stroke-width: 0.5px

      #map path
        fill: grey
        stroke: white
        stroke-width: 0.5px
        transition-duration: 0.3s

      circle
        display: none
        
      @media (max-width: 570px)
      
        .chart-title
          font-size: 1.5rem
      
      @media (max-width: 500px)
        
        .chart-title
          text-align: center
          
        .inset
          margin: auto
          position: relative
          display: block
          width: 100px
          
        .fixed-bl
          width: 100%
          
          > *
            text-align: center
            
        .legend
          max-width: 140px
            
        label
          font-size: 17px
          
        .row:first-child
          margin-bottom: 10px
