extend /partials/layout

block append config
  script.
    console.warn("Remember to update the metadata before publishing.")
  - page.url = "https://interactives.lowyinstitute.org/features/australia-votes-2019/"
  - page.class = "page-0 page-menu"
  - page.title = "Australia's Election"
  - page.metaTitle = `${page.title} - Lowy Institute`
  - page.description = "";
  - page.image = "./img/thumbnail.png"
  - page.robots = "noindex, nofollow"
  - page.feature = data.getOne("static/features/australia-votes-2019/data")

block page
  include partials/header

  mixin item(index)
    .scroll-item(
      id=`scroll-item-${index}`
      class=(index == "index" ? "active" : null)
    )
      block

  #scroller(
    data-view="scroller" 
    data-pager=".pager-page" 
    data-index=".pager-index"
    data-min="1"
    data-max="12"
  )
    +item("intro")
      .row
        .col-1-2.num-lf
          .txt-center
            .txt-sm.txt-tu.ph-sm.pv-xs Lowy Institute

            .txt-xxl.ph-sm.pv-xs(style="max-width: 440px") 
              | Australian election 2019: Where the parties&nbsp;stand
            
            .pv-sm
              .stripe-lt

            .ph-sm.intro-description.txt-sans.mxw.pv-xs(style="max-width: 400px") 
              :marked
                How do Australia’s major parties compare on critical areas of
                our foreign policy, defence policy, foreign aid, trade and
                immigration? What do Lowy Institute experts say about the
                strengths and weaknesses of these policies? And what is
                Australian public opinion on these issues?

                Discover what government, opposition, experts, and the
                Australian public say about the key policies shaping
                Australia’s place in the world.

        .col-1-2.bg-dk.txt-ff
          .block
            .txt-sm.txt-tu.ph-sm.pv-xs.txt-hl The Issues
            .pv-xs
              ul.list-bare.txt-links
                for issue in page.feature.issues
                  li
                    a.txt-bare(href=`issues/${issue.href}`)
                      != issue.title

  .container
    footer#footer


block append css
  style
    include:sass _styles.sass

block append scripts
  script
    include:coffee coffee/scroller.coffee
    include:coffee coffee/counter.coffee
