mixin readmore(label, hide=false)
  a.readmore-label.strong.txt-bare(
    onclick='readmore()'
    class=hide ? 'hide no-ptr-ev' : ''
  )!= label + "&ensp;"
    svg(
      transform=hide ? "rotate(-90)" : ""
      width="15" height="15" viewBox="0 0 15 15" fill="white" xmlns="http://www.w3.org/2000/svg"
    )
      path(d="M7.34185 0.358246C6.88568 0.835907 6.88568 1.60798 7.34185 2.08564L10.017 4.88687H1.16667C0.522668 4.88687 0 5.43416 0 6.10851C0 6.78285 0.522668 7.33015 1.16667 7.33015H10.017L7.34185 10.1314C6.88568 10.609 6.88568 11.3811 7.34185 11.8588C7.56935 12.097 7.86802 12.2167 8.16669 12.2167C8.46535 12.2167 8.76402 12.097 8.99152 11.8588L14.483 6.10851L8.99152 0.358246C8.53535 -0.119415 7.79802 -0.119415 7.34185 0.358246Z")
