extend /partials/layout

block append config
  - var datapath = "static/charts/templates/grouped-bar-chart/data"
  - var colorpath = "static/charts/templates/colors/data"
  - _.extend(page, data.getOne(datapath))
  - _.extend(page, data.getOne(colorpath))
  - toPercent = (n) => (n * 100).toFixed(2) + "%"
  - chart = page
  - colors = []
  
block page
  .wrapper.flex
    .txt-center.flex.flex-grow.flex-col
      .chart-title= chart.title
      .chart-subtitle.txt-muted.txt-sm.p-sm!= chart.subtitle
      .chart.flex-grow: .chart-content
        - scale = chart.scale
        - ln = chart.axes[1].values.length
        - fx = (i) => (i + 0.6) / (ln + 0.75)
        - fy = (y) => (y - scale.minY) / (scale.maxY - scale.minY)
        
        svg(height="100%" width="100%")
        
          // Y-Axis labels
          svg(height="100%")
            - let steps = chart.scale.steps-1
            for n, i in new Array(steps+1)
              - y = 1 - (i / (steps))
              svg(y=toPercent(y))
                text(text-anchor="end" transform="translate(-8 4)")
                  = chart.scale.minY + (i/steps) * (chart.scale.maxY - chart.scale.minY) + "%"
                
          // Y-Axis minor lines
          if chart.scale.minorLines
            svg(height="100%")
              for n, i in new Array(steps)
                - y = (i / steps)
                svg
                  line(
                    x1="0%"
                    y1=toPercent(y)
                    x2="100%"
                    y2=toPercent(y)
                    stroke="#5552"
                    stroke-dasharray=(chart.scale.dotted.includes(steps-i) ? 5 : "")
                  ) 

          g
            for y1, i in chart.axes[1].values
              - y2 = chart.axes[2].values[i]
              - label = chart.axes[0].values[i]
              - colors.push(chart.colors[chart.axes[i].color])
              - console.log(colors)

              svg(
                x=toPercent(fx(i))
                y=toPercent(0)
                width=toPercent(fx(0))
                height="100%"
              )
                g.bars
                  rect(
                    width="50%"
                    y=toPercent(fy(chart.scale.maxY - y1))
                    height=toPercent(fy(y1))
                    fill=`black`
                  )
                  
                  text.chart-value(
                    x="50%"
                    y=toPercent(fy(chart.scale.maxY - y1))
                    text-anchor="middle"
                    transform="translate(-25 -8)"
                  )
                    = y1+'%'

                  rect(
                    width="50%"
                    x="50%"
                    y=toPercent(fy(chart.scale.maxY - y2))
                    height=toPercent(fy(y2))
                    fill="#394754"
                  )
                  text.chart-value(
                    x="100%"
                    y=toPercent(fy(chart.scale.maxY - y2))
                    text-anchor="middle"
                    transform="translate(-25 -8)"
                  )
                    = y2+'%'

                // X-Axis labels
                svg(x="50%" y="100%")
                  text.x-label(
                    text-anchor="middle"
                    transform="translate(0 20)"
                  )
                    =label
      
      .row
        ul.legend.list-bare.txt-left.flex.flex-ch
          for ax, i in new Array(chart.axes.length)
            if i
              li.legend-item
                span.legend-item-box(style=`background: ${chart.colors[chart.axes[i].color]}`)
                span.legend-item-label= chart.axes[i].title

      .chart-source.txt-left.txt-muted= chart.source
      .chart-notes.txt-left.txt-muted= chart.notes
      

block append css
  style
    :sass
      .wrapper
        height: 550px

      .chart
        box-sizing: border-box
        position: relative

      .chart-content
        position: absolute
        top: 20px
        left: 50px
        right: 20px
        bottom: 40px

      .chart-content > svg
        border-bottom: 1px solid #bbb

      .chart-title
        margin: auto
        max-height: 37px
        overflow: hidden
        width: fit-content
        z-index: 1
        font-size: 20px
        user-select: none
        
      .chart-notes
        margin-left: 2em
        font-size: 15px

      li
        list-style: none
        margin: 0
        padding: 4px 16px 4px 24px
          
      .chart-subtitle
        height: 15px
        margin-top: -10px

      .legend
        font-size: 15px
        margin-bottom: .75em

      .legend-item
        margin: 4px 8px 0
        padding-right: 0
        position: relative

      .legend-item-box
        position: absolute
        left: 0
        top: 4px
        height: 1em
        width: 1em
        background: black

      text
        font-size: 14px
        fill: currentColor

      svg
        overflow: visible

      .chart-source
        font-size: 14px

      @media (max-width: 600px)
        .chart-content
          left: 40px
          right: 5px
          bottom: 80px
          top: 30px
        .chart-value
          transform: translateX('5%')
        .x-label
          transform: rotate(-40deg) translate(-8px, 14px)
          text-anchor: end
        rect
          width: 50%
        text
          font-size: 13px
          
      @media (max-width: 450px)
        .legend-item
          width: min-content
        .chart-subtitle
          font-size: 15px
        .chart-notes
          font-size: 12px
        .chart-value
          display: none
