extend /partials/layout

block append config
  - var events = data.getOne("static/charts/malaysias-political-history/events").events
  - var years = _.pluck(events, "start")

  - vals = (0).toPrecision(99).split("").map(function(e, i){return 1 + Math.pow(i,0.6)})
  - vals = vals.map(function(e){ return +(e / (_.sum(vals) * 2).toFixed(4))});
  - vals = vals.concat(vals).sort()

  - var p = function(i){return vals[i]}

block page
  .wrapper
    - max = _.last(years)
    - min = _.first(years)
    - len = max - min + 6

    #controls
      .btn.js-prev(tabindex="0")
        .icon.icon-left-arrow
      .btn.js-next(tabindex="0")
        .icon.icon-right-arrow

    #frame
      #events
        for e, i in events
          - var k = (e.start - min), left = _.sum(vals.slice(0, k));
          .event.js-year(
            tabindex="0"
            style={left: (100 * left) + "%"}
            class=[
              i == 0 ? "active" : "",
              left < 0.3 ? "right" : "left",
              i % 2 == 0 ? "top" : "bottom",
              `item-${7 - ~~(((i + 15) % 16) / 2)}`
            ].join(" ")
            data-i=i
          )
            .event-marker
            .event-content
              .event-year
                if e.end
                  | #{e.start}–#{e.end.toString().slice(2)}
                else
                  | #{e.start}

              p.event-text!= e.text

      #years
        for n, i in new Array(len - 6)
          - var j = (min + i);
          - var c = j % 100 == 0 ? "cen" : j % 10 == 0 ? "dec" : "";
          .year(
            style={left: (100 * _.sum(vals.slice(0, i))) + "%"}
            class=c
          )
          if j % 20 == 0
            .year-label(
              style={left: (100 * _.sum(vals.slice(0, i))) + "%"}
              class=c
            )
              = j


block append scripts
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/balance-text/3.2.1/balancetext.js")
  script.
    $(document).ready(function(){
      var count = 0, $events = $(".event"), $frame = $("#frame");

      $(".js-next").click(function(){count++; update()})
      $(".js-prev").click(function(){count--; update()})
      $(".js-year").click(function(){count = $(this).data("i"); update()})

      function update() {
        count = ($events.length + count) % $events.length;
        $active = $events
          .removeClass("active")
          .eq(count)
          .addClass("active")

        outer = $frame.width()
        inner = $("body").outerWidth()
        offset = $active.position().left + 40
        offset += $active.find(".event-text").position().left
        width = $active.find(".event-text").outerWidth()

        if (inner < outer) {
          if ($active.hasClass("right")) {
            offset -= 40
          } else {
            offset -= Math.max(inner - width, 0) - $active.find(".event-year").width() - 20
            offset = Math.min(offset, outer - inner)
          }

          $frame.css({
            transform: "translate3d(" + (-offset ) + "px,0,0)"
          })
        } else {
          $frame.css({
            transform: ""
          })
        }
      }
    })

block append css
  style
    include:sass _styles.sass
      
