extend /partials/layout

block append config
  - var datapath = "static/charts/indonesia-covid-policy/figure-2/data"
  - _.extend(page, data.getOne(datapath))
  - toPercent = (n) => (n * 100).toFixed(2) + "%"

block page
  .wrapper.flex.flex-col

    .page-title.txt-center= page.title

    .col-wrap.txt-center.flex-grow.flex.txt-sm
      .col-md.flex-grow.flex.flex-col
        - chart = page.charts[0]
        - scale = chart.scale
        - fx = (i, len) => (i + 0.75) / (len + 0.5)
        - fy = (y) => (y - scale.minY) / (scale.maxY - scale.minY)

        .chart-title= chart.title
        .chart-subtitle.txt-muted.txt-sm!= chart.subtitle

        .chart.flex-grow: .chart-content
          svg(height="100%" width="100%")
            svg(height="100%")
              for n, i in new Array(scale.ticks)
                - y = 1 - (i / (scale.ticks-1))
                svg(y=toPercent(y))
                  text(text-anchor="end" transform="translate(-8 4)")
                    = scale.minY + (i / (scale.ticks - 1)) * (scale.maxY - scale.minY) + "%"

            svg(width="100%" y="100%")
              for year, i in chart.axes[0].values
                svg(x=toPercent(fx(i, chart.axes[0].values.length)))
                  text(
                    text-anchor="end"
                    transform="rotate(-45) translate(-5 15)"
                  )
                    = year

            svg(
              width="100%"
              height="100%"
              viewBox="0 0 100 100"
              preserveAspectRatio="none"
            )
              for item, i in chart.legend
                polyline(
                  fill="none"
                  stroke=chart.colors[i]
                  stroke-linejoin="round"
                  stroke-width=3
                  points=(chart.axes[1].values.map((y, ix, a) => (
                    [
                      100 * fx(ix, a.length),
                      100 * fy(scale.maxY - y[i])
                    ].join(" ")
                  ))).join(",")
                )

        ul.legend.txt-nowrap.flex-wrap.list-bare.txt-left.flex.flex-ch
          for item, i in chart.legend
            li.legend-item
              span.legend-item-box(style=`background:${chart.colors[i]}`)
              span.legend-item-label!= item
      .col-md.flex-grow.flex.flex-col
        - chart = page.charts[1]
        - scale = chart.scale
        - fx = (i, len) => (i + 0.75) / (len + 0.5)
        - fy = (y) => (y - scale.minY) / (scale.maxY - scale.minY)

        - let highlight = 8
        
        .chart-title= chart.title
        .chart-subtitle.txt-muted.txt-sm!= chart.subtitle

        .chart.flex-grow: .chart-content
          svg(height="100%" width="100%")
            svg(height="100%")
              for n, i in new Array(scale.ticks)
                - y = 1 - (i / (scale.ticks-1))
                svg(y=toPercent(y))
                  text(text-anchor="end" transform="translate(-8 4)")
                    = scale.minY + (i / (scale.ticks - 1)) * (scale.maxY - scale.minY) + "%"

            svg(width="100%" y="100%")
              for year, i in chart.axes[0].values
                svg(x=toPercent(fx(i, chart.axes[0].values.length)))
                  text(
                    text-anchor="end"
                    transform="rotate(-45) translate(-5 15)"
                  )
                    = year

            svg(
              width="100%"
              height="100%"
              viewBox="0 0 100 100"
              preserveAspectRatio="none"
            )
              for item, i in chart.legend
                polyline(
                  fill="none"
                  stroke=chart.colors[i]
                  stroke-dasharray=(i==highlight ? "" : 2)
                  stroke-width=(i==highlight ? 4.5 : 1)
                  stroke-linejoin="round"
                  stroke-linecap="round"
                  points=(chart.axes[1].values.map((y, ix, a) => (
                    [
                      100 * fx(ix, a.length),
                      100 * fy(scale.maxY + scale.minY - y[i])
                    ].join(" ")
                  ))).join(",")
                )

        ul.legend.txt-nowrap.flex-wrap.list-bare.txt-left.flex.flex-ch
          for item, i in chart.legend
            li.legend-item
              span.legend-item-box(
                style=`
                  background:none; 
                  border-top: ${i==highlight ? '4.5px solid' : '2.5px dashed'};
                  border-color:${chart.colors[i]};
                  top: ${i==highlight ? "8px" : '9.5px'};
                  width: 1em`
              )
              span.legend-item-label!= item

    .col-wrap.txt-center.flex-grow.flex.txt-sm
      .col-md.flex-grow.flex.flex-col
        - chart = page.charts[2]
        .chart-title= chart.title
        .chart-subtitle.txt-muted= chart.subtitle

        .chart.flex-grow: .chart-content
          - scale = chart.scale
          - fx = (i) => (i + 0.5) / (chart.axes[1].values.length + 0.5)
          - fy = (y) => (y - scale.minY) / (scale.maxY - scale.minY)
          svg(height="100%" width="100%")
            svg(height="100%")
              for n, i in new Array(6)
                - y = 1 - (i / 5)
                svg(y=toPercent(y))
                  text(text-anchor="end" transform="translate(-8 4)")
                    = scale.minY + (i/5) * (scale.maxY - scale.minY)

            g
              for y, i in chart.axes[1].values
                - label = chart.axes[0].values[i]
                svg(
                  x=toPercent(fx(i))
                  y=toPercent(1 - fy(y))
                  width=toPercent(fx(0))
                  height=toPercent(fy(y))
                )
                  rect(
                    fill=label.highlight ? "#002a45" : "#539ed4"
                    width="100%"
                    height="100%"
                  )

                  text.chart-value(
                    x="50%"
                    y=-8
                    text-anchor="middle"
                  )
                    = y.toFixed(1)

                  svg(x="50%" y="100%")
                    text(
                      text-anchor="end"
                      transform="rotate(-45) translate(-6 12)"
                      class=label.highlight ? "txt-bold" : ""
                    )
                      =label.text  
      .col-md.flex-grow.flex.flex-col
        - chart = page.charts[3]
        - scale = chart.scale
        - fx = (i, len) => (i + 0.75) / (len + 0.5)
        - fy = (y) => (y - scale.minY) / (scale.maxY - scale.minY)
        
        - highlight = 5
                
        .chart-title= chart.title
        .chart-subtitle.txt-muted.txt-sm!= chart.subtitle

        .chart.flex-grow: .chart-content
          svg(height="100%" width="100%")
            svg(height="100%")
              for n, i in new Array(scale.ticks)
                - y = 1 - (i / (scale.ticks-1))
                svg(y=toPercent(y))
                  text(text-anchor="end" transform="translate(-8 4)")
                    = scale.minY + (i / (scale.ticks - 1)) * (scale.maxY - scale.minY) + "%"

            svg(width="100%" y="100%")
              for year, i in chart.axes[0].values
                svg(x=toPercent(fx(i, chart.axes[0].values.length)))
                  text(
                    text-anchor="end"
                    transform="translate(0 20)"
                  )
                    = year

            svg(
              width="100%"
              height="100%"
              viewBox="0 0 100 100"
              preserveAspectRatio="none"
            )
              for item, i in chart.legend
                polyline(
                  fill="none"
                  stroke=chart.colors[i]
                  stroke-width=(i==highlight ? 4.5 : 1)
                  stroke-linejoin="round"
                  stroke-linecap="round"
                  points=(chart.axes[1].values.map((y, ix, a) => (
                    [
                      100 * fx(ix, a.length),
                      100 * fy(scale.maxY + scale.minY - y[i])
                    ].join(" ")
                  ))).join(",")
                )

        ul.legend.txt-nowrap.flex-wrap.list-bare.txt-left.flex.flex-ch
          for item, i in chart.legend
            li.legend-item
              span.legend-item-box(
                style=`
                  background:none; 
                  border-top: ${i==highlight ? '4.5px solid' : '2.5px solid'};
                  border-color:${chart.colors[i]};
                  top: ${i==highlight ? "8px" : '9px'};
                  width: 1em`
              )
              span.legend-item-label!= item


    .chart-source.txt-muted
      !=page.source


block append css
  style
    :sass
      .wrapper
        height: 750px
        overflow: visible
        position: relative

      .col-wrap
        margin: .5em -1em

      .col-md
        padding: 0 1em
        width: 50%

      .chart
        box-sizing: border-box
        position: relative

      .chart-content
        position: absolute
        top: 20px
        left: 50px
        right: 50px
        bottom: 30px

      .chart-content > svg
        border-bottom: 1px solid #ccc

      .page-title
        margin-bottom: 12px

      .chart-title,
      .chart-subtitle
        padding: 0 24px

      .chart-title
        max-width: 320px
        margin: auto

      .chart-subtitle
        height: 0
        text-transform: uppercase
        font-weight: 600
        font-size: 10px

      .legend
        font-size: 14px
        margin: auto
        min-height: 3em

      .legend-item
        margin: 4px 8px 0
        padding-left: 16px
        position: relative
        flex: 1 0 0%

      .legend-item-box
        position: absolute
        left: 0
        top: 4px
        height: .8em
        width: .8em
        background: black

      text
        font-size: 13px

        &:not([fill])
          fill: currentColor

      svg
        overflow: visible

      sup
        line-height: 0

      polyline
        vector-effect: non-scaling-stroke

      .chart-notes
        padding: 16px 20px 0
        font-size: 14px
        line-height: 1.2

      .chart-source
        padding: 0 20px 0
        font-size: 14px
        max-width: max-content
        margin: 12px auto 0

      .chart-value
        opacity: 0
        transition: opacity 300ms

        &.txt-fff
          fill: #fff

        .chart:hover &
          opacity: 1

      .hover-hide
        transition: opacity 300ms

        .chart:hover &
          opacity: 0

      @media screen and (max-width: 800px)
        .wrapper
          height: 1200px
          margin: 0
        .chart-notes
          padding-top: 0
        .col-wrap
          flex-direction: column
          align-items: center
          max-height: 500px
          min-height: 500px
        .col-md
          max-width: 600px
          width: 100%
          height: 50%
          padding-bottom: 8px
