extend /partials/layout

block append config
  - page.includeFonts = false
  - page.url = "https://interactives.lowyinstitute.org/features/china-rules-based-order/"
  - page.class = ""
  - page.title = "USA and the Rules-Based Order"
  - page.metaTitle = `${page.title} - Lowy Institute`
  - page.description = ""
  - page.image = "https://interactives.lowyinstitute.org/features/china-rules-based-order/img/thumbnail.jpg"
  - page.feature = data.getOne("static/features/usa-rules-based-order/data")

block page
  
  // COMMENT-OUT THIS TO DISABLE EMBARGO
  //#embargo.fixed.flex-ch.bg-red.z20(style="width: 100vw; height: 100vh;")
    .flex-cv.mx-auto(style="max-width: 650px; padding: 0 50px;")
      .txt-center.txt-ff.pv-md The contents of this Lowy Institute digital feature are embargoed. By entering the site, you agree to not share this page or its contents until 12:01am Friday 25 September 2020.
      .bg-yel.p-sm.mx-auto.ptr(onclick="this.parentElement.parentElement.style.display = 'none'") Accept
      
  
  include partials/header
  
  .container.relative

    .landing.mx-auto.txt-ff
      
      .h-screen.flex-cv.pv-lg
                
        h1.title.txt-semi.block.flex.flex-col.txt-center
          span The United States 
          span and&nbsp;the
          span Rules&#8209;based order

        include partials/us-map

        h2.txt-semi.mx-auto.txt-center.fw-4.block Six experts debate America's approach to the rules&#8209;based international order
        
      #introduction
        .xs.txt-sans.txt-tu.fw-7(style="letter-spacing: 0.05em; margin-bottom: 10px;") Ben Scott
        
        .absolute.btn-right.txt-sans Read more
        #introduction-text.txt-semi
          include partials/introduction

    .list.bxsh-yel.bg-ff.mx-auto.pv-sm.hide.fade-in.delay-duration-homepage
      .preamble.txt-center
        .txt-sans.sm.fw-6.txt-tu.txt-red.pv-xs Debate Threads
        p.md.txt-semi Select an argument or response to<br>see how the debates thread together.
        hr

      .flex
        .col-1-2.txt-right
          h4.label.label-l.txt-semi.txt-red Arguments
          .bracket.bracket-left.hide
          for article in page.feature.articles
            .list-item.ptr.ease-out(data-map=article.map)
              h4.fw-6.xs.txt-tu.txt-mute= article.author
              h2.md.txt-semi
                a.no-ptr-ev.txt-bare.ease-out(href=`articles/${article.href}`)!= article.title
              p.sm.txt-semi!= article.quote
              h4.read-more.hide.no-ptr-ev.xs.ease-out: a.txt-red(href=`articles/${article.href}`) Read article
                svg(width="12" height="10" viewBox="0 0 12 10" xmlns="http://www.w3.org/2000/svg")
                  path.ease-out(fill="currentColor" d="M6.08313 0.293243C5.70517 0.684233 5.70517 1.31622 6.08313 1.70721L8.29966 4.00015H0.966651C0.433059 4.00015 0 4.44814 0 5.00012C0 5.55211 0.433059 6.0001 0.966651 6.0001H8.29966L6.08313 8.29304C5.70517 8.68403 5.70517 9.31602 6.08313 9.70701C6.27163 9.902 6.51909 10 6.76655 10C7.01402 10 7.26148 9.902 7.44998 9.70701L12 5.00012L7.44998 0.293243C7.07202 -0.0977476 6.46109 -0.0977476 6.08313 0.293243Z")

        .col-1-2
          h4.label.label-r.txt-semi.txt-red Responses
          for response in page.feature.responses
            .list-item.ptr.ease-out(data-map=response.map)
              h4.fw-6.xs.txt-tu.txt-mute= response.author
              h2.md.txt-semi
                a.no-ptr-ev.txt-bare.ease-out(href=`responses/${response.href}`)!= response.title
              p.sm.txt-semi!= response.quote
              h4.read-more.hide.no-ptr-ev.xs.txt-red.ease-out: a.txt-red(href=`responses/${response.href}`) Read article
                svg.ease-out(width="12" height="10" viewBox="0 0 12 10" xmlns="http://www.w3.org/2000/svg")
                  path.ease-out(fill="#currentColor" d="M6.08313 0.293243C5.70517 0.684233 5.70517 1.31622 6.08313 1.70721L8.29966 4.00015H0.966651C0.433059 4.00015 0 4.44814 0 5.00012C0 5.55211 0.433059 6.0001 0.966651 6.0001H8.29966L6.08313 8.29304C5.70517 8.68403 5.70517 9.31602 6.08313 9.70701C6.27163 9.902 6.51909 10 6.76655 10C7.01402 10 7.26148 9.902 7.44998 9.70701L12 5.00012L7.44998 0.293243C7.07202 -0.0977476 6.46109 -0.0977476 6.08313 0.293243Z")

    #credits.p-md.txt-ff.sm
      .flex.mx-auto
        .col-3-5.ph-sm
          .txt-semi 
            | This debate is part of the Lowy Institute's ‘
            a(href="https://www.lowyinstitute.org/about/programs-and-projects/australias-security-and-rules-based-order" target="_blank") Australia’s Security and the Rules-Based Order Project
            | ’ and is supported by the Department of Defence’s Strategic Policy Grants Program.
        .col-2-5.flex
          .flex-1.ph-sm
            .txt-tu.xs Editing
            a.txt-semi.fw-5.txt-bare.txt-ff(href="https://twitter.com/MadeleineNyst" target="_blank") Madeleine Nyst
            span &emsp;
            a.txt-semi.fw-5.txt-bare.txt-ff(href="https://twitter.com/Ben_G_Scott" target="_blank") Ben Scott
          .flex-1.ph-sm
            .txt-tu.xs Design
            a.txt-semi.fw-5.txt-bare.txt-ff(href="https://twitter.com/__brodysmith" target="_blank") Brody Smith

block append css
  style
    include:sass _styles.sass

block append customScripts
  script(src="./scripts/base.js")
  script(src="./scripts/sort.js")
