extend /partials/layout

block append config
  - var datapath = "static/charts/pandemic-response/chart-politics/data"
  - _.extend(page, data.getOne(datapath))
  - toPercent = (n) => (n * 100).toFixed(2) + "%"

  
block page
  - charts = page.charts
  each chart, i in charts
    .wrapper.flex
      .txt-center.flex.flex-grow.flex-col
        .chart-title= chart.axes[0].title
        .chart-subtitle.txt-muted.txt-sm.p-sm!= chart.subtitle
        .chart.flex-grow: .chart-content
          - scale = chart.scale
          - ln = chart.axes[1].values.length
          - fx = (i) => (i + 0.32) / (ln + 0.5)
          - fy = (y) => (y - scale.minY) / (scale.maxY - scale.minY)
          
          svg(height="100%" width="100%")        
            
            svg(height="100%")
              - let vn = 3
              - let min = 0
              - let max = 75
              for n, i in new Array(vn+1)
                - y = 1 - (i / vn)
                svg(y=toPercent(y))
                  text(text-anchor="end" transform="translate(-8 4)")
                    = min + (i/vn) * (max - min) + "%"
                    
            svg(height="100%")
              for n, i in new Array(vn)
                - y = (i / vn)
                svg
                  line(
                    x1="0%"
                    y1=toPercent(y)
                    x2="100%"
                    y2=toPercent(y)
                    stroke="#5552"
                    stroke-dasharray=(i==1 ? "" : 5)
                  )

            g
              for y1, i in chart.axes[1].values
                - y2 = chart.axes[2].values[i]
                - label = chart.axes[0].values[i]
                svg(
                  x=toPercent(fx(i))
                  y=toPercent(0)
                  width="20%"
                  height="100%"
                )
                  g.bars
                    rect.value-bg(
                      y=toPercent(fy(chart.scale.maxY - y1))
                      height="26px"
                      width="45%"
                      transform="translate(0 -26)"
                      fill="#fff"
                    )
                    rect.value-bg(
                      y=toPercent(fy(chart.scale.maxY - y2))
                      x="50%"
                      height="26px"
                      width="45%"
                      transform="translate(0 -26)"
                      fill="#fff"
                    )                    
                    text.chart-value(
                      x="22.5%"
                      y=toPercent(fy(chart.scale.maxY - y1))
                      text-anchor="middle"
                      transform="translate(0 -8)"
                    )
                      = y1 + "%"
                    text.chart-value(
                      x="72.5%"
                      y=toPercent(fy(chart.scale.maxY - y2))
                      text-anchor="middle"
                      transform="translate(0 -8)"
                    )
                      = y2 + "%"

                    rect(
                      width="45%"
                      y=toPercent(fy(chart.scale.maxY - y1))
                      height=toPercent(fy(y1))
                      fill="#f80"
                    )
                    rect(
                      width="45%"
                      x="50%"
                      y=toPercent(fy(chart.scale.maxY - y2))
                      height=toPercent(fy(y2))
                      fill="#002b45"
                    )

                  svg(x="50%" y="100%")
                    text.x-label(
                      text-anchor="middle"
                      transform="rotate(0) translate(-8 24)"
                    )
                      =label

        .row
          ul.legend.list-bare.txt-left.flex.flex-ch
            li.legend-item
              span.legend-item-box(style="background:#f80")
              span.legend-item-label= chart.axes[1].title
            li.legend-item
              span.legend-item-box(style="background:#002b45")
              span.legend-item-label= chart.axes[2].title


block append css
  style
    :sass
      .wrapper
        height: 500px

      .chart
        box-sizing: border-box
        position: relative

      .chart-content
        position: absolute
        top: 20px
        left: 50px
        right: 20px
        bottom: 40px

      .chart-content > svg
        border-bottom: 1px solid #bbb

      .chart-title
        margin: auto
        max-height: 37px
        overflow: hidden
        width: fit-content
        z-index: 1
        font-size: 20px
        user-select: none

      li
        list-style: none
        margin: 0
        padding: 4px 16px 4px 24px
          
      .chart-subtitle
        height: 15px
        margin-top: -10px

      .legend
        font-size: 15px

      .legend-item
        margin: 4px 8px 0
        padding-right: 0
        position: relative

      .legend-item-box
        position: absolute
        left: 0
        top: 4px
        height: 1em
        width: 1em
        background: black

      text
        font-size: 14px
        fill: currentColor

      svg
        overflow: visible

      .chart-source
        font-size: 14px

      @media (max-width: 600px)
        .chart-content
          left: 40px
          right: 5px
          bottom: 80px
          top: 30px
        .chart-value
          transform: translateX('5%')
        .x-label
          transform: rotate(-40deg) translate(-8px, 14px)
          text-anchor: end
        rect
          width: 50%
        text
          font-size: 13px
          
      @media (max-width: 450px)
        .legend-item
          width: min-content
        .chart-subtitle
          font-size: 15px
  
