.slide.bg-lt
  .posr.fw.fh.flex-cv(data-view="in-viewport")
    img.fade-in.posa.fw.fh(data-src="./img/commission-for-discipline-inspection.jpg")

    .slide-inner.type.txt-mono.flex-end.posr.z1
      .txt-lg.pv-sm(
        data-view="in-viewport, type"
        data-duration=1500
        data-delay=300
    )
        span.line.bg-dk.txt-ff The Commission for Discipline
        span.line.bg-dk.txt-ff Inspection and Supervision covers…

      - list =["Anti-corruption,​​​​​​​​​​ deploying groups of ","inspectors at all levels of government ","to oversee party officials and government ","officials,​​​​ ​​SOE executives and anyone with","public authority,​ including universities,​​​​​​​​​​","the media and think tanks."]
      .txt-md.pv-sm.txt-dk
        for item, i in list
          .fl-l(
            data-view="in-viewport, type"
            data-duration=800
            data-delay=(1200 + i * 100)
            style="margin: 2px"
          )
            span.line.pv-xs.ph-sm.bg-ff= item
