.slide.bg-hl
  .posr.fw.fh
    .posa.flex.fw.fh
      .slide-inner.mx-auto
        .type.txt-lg.txt-dk.mx-auto.pv-lg(
          data-view="type, in-viewport"
          data-duration=600
        )
          span.line.txt-mono.bg-ff Private Business

    .flex.fw.fh.txt-center(data-view="in-viewport")
      .flex.bg-hl(style="flex: 1 1 auto;padding-top: 8em")
        .type.txt-lg.txt-ff.mx-auto.undo(
          data-view="type, in-viewport"
          data-duration=1800
          data-delay=800
          style="transform: translate(380px, 0);transition-delay: 500ms"
        )
          span.line.bg-dk.hide.txt-mono Let some
          span.line.bg-dk.hide.txt-mono people get
          span.line.bg-dk.hide.txt-mono rich first.

          cite.txt-roman.txt-sm.txt-sans.fade-in.delay-10(
            style="margin-top: 3em"
          )
            strong.txt-sans.pv-xs.ph-sm.bg-dka.txt-tu.txt-ff Deng Xiaoping

      .flex.fade-in.delay-18(style="flex: 1 1 auto;padding-top: 8em")
        .type.txt-lg.txt-ff.mx-auto(
          data-view="type, in-viewport"
          data-duration=2200
          data-delay=3500
        )
          span.line.bg-dk.hide.txt-mono Stay close to the
          span.line.bg-dk.hide.txt-mono government, but far
          span.line.bg-dk.hide.txt-mono away from politics.

          cite.txt-roman.txt-sm.txt-sans(
            style="margin-top: 3em"
          )
            strong.txt-sans.pv-xs.ph-sm.bg-dka.txt-tu.txt-ff.fade-in.delay-27
              | Wang Jianlin
            span.ph-sm.pv-xs.bg-lta.txt-ff.fade-in.delay-29
              | Chairman of Wanda Group
