- chart = data.getOne("static/features/chinas-communist-party-under-xi-jinping/data/gdp").series[1]


.slide.bg-dk
  .slide-inner(data-view="in-viewport")
    .type.txt-md.txt-ff.txt-left.posa(
      data-view="slide, in-viewport"
      data-duration=1800
    )
      span.line.bg-hl.txt-mono US vs. USSR GDP

    svg(
      width="100%" 
      height="100%" 
      viewBox="0 0 1080 520" 
      data-view="line, in-viewport"
      data-duration=6000
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    )
      svg(width="100%" height="100%")
        - nb = (_.last(chart.scale) - chart.scale[0])
        for n, i in new Array(nb)
          if i > 0 && (chart.scale[0] + i) % 10 == 5
            - x = i / nb * 100 + "%"
            g.fade-in(class=("delay-" + ~~(i * 3 / 10)))
              rect.fill-v(x=x width=2 y=0 height="100%")
              g
                rect.fill-dk(
                  x=x
                  y="30%"
                  transform="translate(-24 -12)"
                  width=48 height=26
                )
                text.fade.fill-ff(
                  x=x
                  y="30%"
                  text-anchor="middle"
                  transform="translate(0 7)"
                )
                  = chart.scale[0] + i

        - nb = 4
        for n, i in new Array(nb)
          - y = (i + 1) / (nb + 1) * 100 + "%"
          g.fade-in(class=("delay-" + i * 2))
            rect.fill-h(
              x=0
              y=y
              width="100%"
              height=2
              _class=(i == nb - 1 ? "fill-ff fill-a" : "")
            )

            g
              rect.fill-dk(
                x="2.5%"
                y=y
                transform="translate(-24 -12)"
                width=48 height=24
              )
              text.fade.fill-ff(
                x="2.5%"
                y=y
                text-anchor="middle"
                transform="translate(0 7)"
              )
                | $#{8 - i * 2}&thinsp;T

      svg.fade-in.delay-1(
        x="0"
        width="100%"
        height="100%"
        viewBox="0 0 100 100"
        preserveAspectRatio="none"
      )
        polyline.line(points="0,99 100,99.001" stroke="#fff" stroke-width=1)

        for country, i in chart.countries
          polyline.line(
            class=[country.code, country.dashed ? "dashed" : ""].join(" ")
            stroke-width=4
            points=(
              country.gdp.map((e,i,a)=>[i/(a.length - 1)*100, 100-(e/100000)].map((e)=>e.toFixed(2)).join(",")).join(" ")
            )
          )

      svg
        for country, i in chart.countries
          - w = country.name.length * 12 + 13
          g.fade-in(
            transform="translate(8 " + (
              (100 - country.gdp[3] * 1/100000) * 5.20
            ) + ")"

          )
            path(
              d="M-8,-12l" + w + ",0l8,12l-8,12l-" + w + ",0Z"
              class=country.code == "us" ? "fill-ff" : "fill-hl"
            )
            text.txt-bold.txt-sans.txt-tu.fill-dk(
              x=0
              y=6
              text-anchor="start"
            )= country.name

    .posa.txt-muted.fade-in.delay-24(style="top: 0; right: 0")
      | Source: Maddison (1990 International Geary-Khamis dollars)
