.slide.bg-lt
  .slide-inner(data-view="in-viewport")
    .type.txt-lg.txt-dk.txt-left.posa.fade-in(
      data-view="slide, in-viewport"
      data-duration=1000
    )
      span.line.bg-ff.txt-mono Gender

    .bars.txt-mid.fh.txt-sm
      .bar-group.flex-cv(style={"padding-top": "40px"})
        .bar-group-label.txt-center.txt-mid.fade-in.delay-8
          | Male

        - values = [73.3, 85.3]
        for value, i in values
          .bar(
            style={margin: "20px 0"}
            data-view="bars, in-viewport"
            data-duration=(2400 - i * 800)
            data-delay=(i * 500)
            data-value=value
            data-direction=-1
            data-suffix="%"
          )
            .bar-bg.txt-ff.r0(
              style=`width: ${value * 1/0.853}%`
              class=["bg-hl","bg-dk"][i]
            )
              .bar-value(class=value < 5 ? "bar-value-outside txt-mid" : "")
                = value

      .bar-group.flex-cv(style={"padding-top": "40px"})
        .bar-group-label.txt-center.txt-mid.fade-in.delay-10
          | Female
        - values = [26.7, 14.7]
        - labels = ["CCP Membership","Central committee"]
        - sizes  = ["89M members", "204 members"]
        for value, i in values
          .bar(
            style={margin: "20px 0"}
            data-view="bars, in-viewport"
            data-duration=(2400 - i * 800)
            data-delay=(i * 500)
            data-value=value
            data-suffix="%"
          )
            .bar-bg.bar-bg-fade.txt-ff(
              style=`width: ${value * 1/0.853}%`
              class=["bg-hl","bg-dk"][i]
            )
              .bar-value.bar-value-right.bar-value-outside.txt-mid= value
            strong.bar-label.txt-right.txt-tu.txt-sans(
              class=["txt-hl","txt-dk"][i]
              style="line-height: 1"
            )=labels[i]
              br
              span.txt-normal.txt-muted=sizes[i]

    .posa.txt-muted.fade-in.delay-8(style="top: 0; right: 0")
      | Source: CCP Organization Department (2017)
