.slide.bg-hl
  .slide-inner.flex(data-view="in-viewport")
    .mx-auto
      .type.undo.txt-lg.txt-dk.pv-md(
        data-view="type, in-viewport"
        data-duration=600
        style="transform: translate3d(0, 160px, 0)"
      )
        span.line.bg-ff.hide.txt-mono History

      .type.txt-lg.txt-ff.pv-sm(
        data-view="type, in-viewport"
        data-duration=4000
        data-delay=800
      )
        span.line.bg-dk.hide.txt-mono Who controls the past
        span.line.bg-dk.hide.txt-mono controls the future.
        span.line.bg-dk.hide.txt-mono Who controls the present
        span.line.bg-dk.hide.txt-mono controls the past.

        cite.txt-roman.txt-sm.txt-sans(
          style="margin-top: 3em"
        )
          strong.txt-sans.pv-xs.ph-sm.bg-ff.txt-tu.txt-dk.fade-in.delay-26
            | George Orwell

.slide.bg-dk
  .posr.fw.fh.flex-cv(data-view="in-viewport")
    img.fade-in.posa.fw.fh(data-src="./img/great-leap-forward.jpg")
    .slide-inner.flex.flex-jc
      .mx-auto
        .type.undo.txt-lg.txt-dk.pv-md(
          data-view="type, in-viewport"
          data-duration=1200
          style="transform: translate3d(0, 160px, 0)"
        )
          span.line.bg-ff.hide.txt-mono Great Leap Forward
          span.line.bg-ff.hide.txt-mono 1958–1961

        .type.txt-md.txt-ff.pv-md(
          data-view="type, in-viewport"
          data-duration=4000
          data-delay=2000
        )
          span.line.bg-dk.hide.txt-mono “With Mao Zedong and other prominent
          span.line.bg-dk.hide.txt-mono leaders feeling arrogant, the campaign
          span.line.bg-dk.hide.txt-mono greatly disrupted the national economy,
          span.line.bg-dk.hide.txt-mono wasted manpower and resources and
          span.line.bg-dk.hide.txt-mono severely damaged the construction
          span.line.bg-dk.hide.txt-mono of a socialist society.”

.slide.bg-dk
  .posr.fw.fh.flex-cv(data-view="in-viewport")
    img.fade-in.posa.fw.fh(data-src="./img/cultural-revolution.jpg")
    .slide-inner.flex.flex-jc
      .mx-auto
        .type.undo.txt-lg.txt-dk.pv-md(
          data-view="type, in-viewport"
          data-duration=1200
          style="transform: translate3d(0, 160px, 0)"
        )
          span.line.bg-ff.hide.txt-mono Cultural Revolution
          span.line.bg-ff.hide.txt-mono 1966–1976

        .type.txt-md.txt-ff.pv-md(
          data-view="type, in-viewport"
          data-duration=4000
          data-delay=2000
        )
          span.line.bg-dk.hide.txt-mono “Mao mistakenly believed that revisionist
          span.line.bg-dk.hide.txt-mono and capitalist agents had infiltrated the CCP,
          span.line.bg-dk.hide.txt-mono government and the military at all levels.
          span.line.bg-dk.hide.txt-mono The Gang of Four manipulated Mao’s mistake
          span.line.bg-dk.hide.txt-mono to commit severe crimes that caused a severe
          span.line.bg-dk.hide.txt-mono internal chaos to the CCP and the country.”

.slide.bg-dk
  .posr.fw.fh.flex-cv(data-view="in-viewport")
    img.fade-in.posa.fw.fh(data-src="./img/mao-zedong.jpg")
    .slide-inner.flex.flex-jc
      .mx-auto
        .type.undo.txt-lg.txt-dk.pv-sm(
          data-view="type, in-viewport"
          data-duration=300
          style="transform: translate3d(0, 180px, 0)"
        )
          span.line.bg-ff.hide.txt-mono Mao Zedong
        .type.txt-md.txt-ff.pv-sm(
          data-view="type, in-viewport"
          data-duration=5000
          data-delay=1000
        )
          span.line.bg-dk.hide.txt-mono “Mao is a great Marxist, revolutionary,
          span.line.bg-dk.hide.txt-mono strategist, patriot and theoretician. His
          span.line.bg-dk.hide.txt-mono contribution greatly exceeds his mistakes. We
          span.line.bg-dk.hide.txt-mono should distinguish Mao’s mistakes at his old age
          span.line.bg-dk.hide.txt-mono and Mao Zedong thought which is applicable in
          span.line.bg-dk.hide.txt-mono studying new situations and resolving new issues.”

.slide.bg-dk
  .posr.fw.fh.flex-cv(data-view="in-viewport")
    img.fade-in.posa.fw.fh(data-src="./img/1989.jpg")
    .slide-inner.flex.flex-jc
      .mx-auto
        .type.undo.txt-lg.txt-dk.pv-sm(
          data-view="type, in-viewport"
          data-duration=300
          style="transform: translate3d(0, 180px, 0)"
        )
          span.line.bg-ff.hide.txt-mono 1989

        .type.txt-lg.txt-ff.pv-sm(
          data-view="type, in-viewport"
          data-duration=3000
          data-delay=1000
        )
          span.line.bg-dk.hide.txt-mono “Political turbulence
          span.line.bg-dk.hide.txt-mono and an anti-revolutionary
          span.line.bg-dk.hide.txt-mono riot, supported by foreign
          span.line.bg-dk.hide.txt-mono enemies to subvert the
          span.line.bg-dk.hide.txt-mono socialist system.”

.slide.bg-dk
  .posr.fw.fh.flex-cv(data-view="in-viewport")
    img.fade-in.posa.fw.fh(data-src="./img/fall-of-bo-xilai-and-zhou-yongkang.jpg")
    .slide-inner.flex.flex-jc
      .mx-auto
        .type.undo.txt-lg.txt-dk.pv-md(
          data-view="type, in-viewport"
          data-duration=1200
          style="transform: translate3d(0, 120px, 0)"
        )
          span.line.bg-ff.hide.txt-mono Fall of Bo Xilai and
          span.line.bg-ff.hide.txt-mono Zhou Yongkang 2012–2013

        .type.txt-md.txt-ff.pv-md(
          data-view="type, in-viewport"
          data-duration=4000
          data-delay=2000
        )
          span.line.bg-dk.hide.txt-mono “They were ambitious conspiracists and disloyal
          span.line.bg-dk.hide.txt-mono double-faced people who caused losses to the Party
          span.line.bg-dk.hide.txt-mono and the country. In China, no one can be above the law
          span.line.bg-dk.hide.txt-mono and no party members can be above party discipline.”
