.slide.bg-ff
  .posr.fw.fh(data-view="in-viewport")
    img.fade-in(data-src="./img/org-buro.jpg")

.slide.bg-lt
  .posr.fw.fh.flex-cv(data-view="in-viewport")
    img.fade-in.posa.fw.fh(data-src="./img/org-buro-front.jpg")

    .slide-inner.type.txt-mono.flex-end.posr.z1(style="width: 830px")
      .txt-lg.pv-sm(
        data-view="in-viewport, type"
        data-duration=1500
        data-delay=300
      )
        span.line.bg-dk.txt-ff The Organisation
        span.line.bg-dk.txt-ff Department covers…

      .txt-md.pv-sm.txt-dk
        .fl-l(
          data-view="in-viewport, type"
          data-duration=800
          data-delay=(800 + 400)
          style="margin: 2px"
        )
          span.line.pv-xs.ph-sm.bg-ff
            | Ministers
        .fl-l(
          data-view="in-viewport, type"
          data-duration=800
          data-delay=(900 + 400)
          style="margin: 2px"
        )
          span.line.pv-xs.ph-sm.bg-ff
            | Governors
        .fl-l(
          data-view="in-viewport, type"
          data-duration=800
          data-delay=(1000 + 400)
          style="margin: 2px"
        )
          span.line.pv-xs.ph-sm.bg-ff
            | Mayors
        .fl-l(
          data-view="in-viewport, type"
          data-duration=800
          data-delay=(1100 + 400)
          style="margin: 2px"
        )
          span.line.pv-xs.ph-sm.bg-ff
            | Regulators
        .fl-l(
          data-view="in-viewport, type"
          data-duration=800
          data-delay=(1200 + 400)
          style="margin: 2px"
        )
          span.line.pv-xs.ph-sm.bg-ff
            | Senior Executives in State-Owned Businesses
        .fl-l(
          data-view="in-viewport, type"
          data-duration=800
          data-delay=(1300 + 400)
          style="margin: 2px"
        )
          span.line.pv-xs.ph-sm.bg-ff
            | Judges
        .fl-l(
          data-view="in-viewport, type"
          data-duration=800
          data-delay=(1400 + 400)
          style="margin: 2px"
        )
          span.line.pv-xs.ph-sm.bg-ff
            | Heads of Think Tanks
        .fl-l(
          data-view="in-viewport, type"
          data-duration=800
          data-delay=(1500 + 400)
          style="margin: 2px"
        )
          span.line.pv-xs.ph-sm.bg-ff
            | University Chiefs
        .fl-l(
          data-view="in-viewport, type"
          data-duration=800
          data-delay=(1600 + 400)
          style="margin: 2px"
        )
          span.line.pv-xs.ph-sm.bg-ff
            | Newspaper and Television bosses 
