- provinces = data.getOne("static/features/chinas-communist-party-under-xi-jinping/data/provinces").provinces
- years = ["1982", "1992-1996", "2001-2007", "2008-2011", "2011-2017", "2017-", "2002-"]
- roles = ["Member of 16th, 17th, 18th and 19th  Central Committee","Party Secretary of Heilongjiang Province","Vice Party Secretary and Governor of Hebei Province","Chairman of China Commercial Aircraft Co., Ltd","Secretary of China Aerospace Science and Technology Corporation","Deputy Chief Designer of China Aviation Industry Corporation","Graduated from Northwestern Polytechnical University"]
- locs = ["Shaanxi", "Beijing", "Beijing", "Shanghai", "Hebei", "Heilongjiang", "Beijing"]
.slide.bg-lt.flex-stretch
  .flex-cv(
    data-view="in-viewport, page" 
    data-pages=roles.length
  )

    .posa.txt-tu.txt-bold.txt-sans.txt-xs.fade-in.delay-4
      svg(width="954" height="720")
        g
          for province, i in provinces
            use.fill-ff(
              href="#" + province.id
              stroke="#ebebed"
            )
        g
          for province, i in provinces
            text.fill-dka(
              x=province.x
              y=province.y + 4
              text-anchor="middle"
            )
              = province.name

        g(opacity=0.2)
          for loc, i in _.clone(locs).reverse()
            - p = _.find(provinces, {name: loc})
            circle.fill-dk.build(
              cx=p.x cy=p.y r=20 + (locs.length - 1 - i) * 4
            )

        g
          - p = _.find(provinces, {name: locs[0]})
          circle.fill-dk(
            r=20 cx=p.x cy=p.y
            style="transition: 300ms"
            data-attributes=JSON.stringify(
              locs.map((l,i) => ((p = _.find(provinces, {name: l})) && {cx: p.x, cy: p.y, r: i*4 + 20}))
            )
          )

        rect.item-0(
          width="100%"
          height="100%"
          fill="url(#gradient)"
        )

    .slide-inner(style="transform:translateZ(0)")
      .posa
        .clearfix
          .type.txt-md.txt-ff.fl-l(
            data-view="slide, in-viewport"
            data-duration=1000
          )
            span.line.txt-mono.bg-dk Zhang Qingwei
          .type.txt-md.txt-ff.fl-l(
            data-view="slide, in-viewport"
            data-duration=700
            data-delay=100
          )
            span.line.txt-mono.bg-hl.txt-sc 张庆伟

        img.item-0(src="./img/path-zhang-qingwei.png" width=300)

    .slide-sub.bg-dk.ph-.txt-center(style="transform:translateZ(0)")
      .txt-md.ph-md
        .posr.fade-in.delay-3
          for role, i in _.clone(roles).reverse()
            .posa.txt-mono(class="item-"+i)
              .txt-hl= years[i]
              .txt-ff.path-role(class=role.length > 50 ? "txt-sm" : "")
                != role

      .posa.bg-hl.path-roles
        .path-roles-mask
          for role, i in roles.slice(1)
            .txt-sans.txt-ff.txt-tu.txt-bold.ph-sm.pv-xs.build
              != role



