extend /partials/layout

block append config
  - var datapath = "static/charts/chinese-australians-in-aps/figure-1/data"
  - var colorpath = "static/charts/templates/colors/data"
  - _.extend(page, data.getOne(datapath))
  - _.extend(page, data.getOne(colorpath))
  - toPercent = (n) => (n * 100).toFixed(2) + "%"
  - chart = page
  
block page
  .wrapper.flex
    .flex.flex-grow.flex-col
      .chart-title= chart.title
      .chart-subtitle.txt-muted.txt-tu.pv-sm!= chart.subtitle
      .chart.flex-grow: .chart-content
        - ln = chart.series[0].values.length
        - axes = chart.axes
        - minX = axes.minX
        - maxX = axes.maxX
        - range = maxX - minX
        - fx = (x) => (x - minX) / range
        - fy = (i) => (i + 0.7) / ln
        
        svg(height="100%" width="100%")

          // Chart rects
          g.bars
            - const n = chart.series[0].values.length
            for undef, i in new Array(n)
              svg(
                y=toPercent(fy(i)-fy(-0.15) )
                height=toPercent(fy(0))
                width="100%"
              )   
                - vals = chart.series.filter( (s, i) => i ).map( s => s.values[i] )
                - vals = axes.reverse ? vals.reverse() : vals
                - x0 = 0

                for v, j in vals
                  - ci = axes.reverse ? vals.length-j : j+1

                  if v > 0
                    rect(
                      x=toPercent(x0)
                      width=toPercent(fx(v))
                      height="100%"
                      fill=chart.colors[chart.series[ci].color]
                      data-v=v
                      data-c=i
                      data-s=j
                    )
                    text.chart-value(
                      x=toPercent(fx(v) + 0.01)
                      y="50%"
                      text-anchor="start"
                      transform="translate(0 4.5)"
                      style=`color: ${chart.colors[chart.series[ci].color]}`
                    )
                      = v.toFixed(1) + (axes.percentage ? "%" : "")

                  - x0 += fx(v)
                    
                // Y-Axis labels
                - let label = chart.series[0].values[i].split('-')
                svg.y-label(x="0%" y="50%")
                  text(
                    text-anchor="end"
                    class=label[1] ? "fixed-transform" : ""
                    transform=label[1] ? "translate(-16, -4)" : "translate(-16, 5)"
                  )
                    = label[0]

                    if label[1]
                      tspan(
                        x=0
                        dy=18
                      )= label[1]

          g.reference-lines
            line(
              y1="0" y2="104%"
              x1=toPercent(fx(3.7))
              x2=toPercent(fx(3.7))
            )
            line(y1="104%" y2="104%" x1=toPercent(fx(3.7)) x2=toPercent(fx(3.65)))
            text(y="103%" x=toPercent(fx(3.7)) text-anchor="end" transform="translate(-8 8)")
              | % of Australians who speak Chinese at home
            line(
              y1="0" y2="109%"
              x1=toPercent(fx(5.6))
              x2=toPercent(fx(5.6))
            )
            line(y1="109%" y2="109%" x1=toPercent(fx(5.6)) x2=toPercent(fx(5.55)))
            text(y="108%" x=toPercent(fx(5.6)) text-anchor="end" transform="translate(-8 8)")
              | % of Australians with Chinese heritage

            text.chart-value(y="0%" x=toPercent(fx(3.7)) text-anchor="end" transform="translate(-8 10)")
              | 3.7%
            text.chart-value(y="0%" x=toPercent(fx(5.6)) text-anchor="end" transform="translate(-8 10)")
              | 5.6%
            
      .chart-source.txt-left.txt-muted.txt-semi!= chart.source
      .chart-source.txt-left.txt-muted.txt-semi!= chart.notes

  
block append css
  style
    :sass
  
      .wrapper
        height: 630px

      .chart
        box-sizing: border-box
        position: relative

      .chart-content
        position: absolute
        top: 0
        left: 140px
        right: 15px
        bottom: 60px

      .chart-title
        font-size: 28px
        
      .chart-subtitle
        font-weight: 600
        height: 10px
        margin-top: -10px
        margin-bottom: 1rem
        font-size: 15px
        
      .tooltip
        position: absolute
        left: 0
        background: #fffe
        padding: .75em
        opacity: 0
        border-radius: .2em
        box-shadow: 0 0 5px 0 #0004
        transition-duration: 0.5s
        pointer-events: none
        font-size: 14px
        max-width: 180px
        box-sizing: border-box

      li
        list-style: none
        margin: 0
        padding: 4px 16px 4px 24px

      .legend
        font-size: 15px
        margin: 8px 0

      .legend-item
        margin: 4px 8px
        padding-right: 0
        position: relative
        white-space: nowrap

      .legend-item-box
        position: absolute
        left: 0
        top: .5em
        height: 1em
        width: 1em
        background: black

      text
        font-size: 14px
        fill: currentColor

      svg
        overflow: visible
        
      .chart-notes, .chart-source
        margin-left: 2em
        font-size: 15px
        
      .chart-value
        font-size: 20px
        font-weight: 400
        
      .reference-lines
        color: #002b45
        line
          stroke: currentColor
          stroke-width: 0.75
          stroke-dasharray: 1.75
        text
          text-transform: uppercase
          font-size: 11px
          letter-spacing: 0.00em
          font-weight: 400
          
        .chart-value
          font-size: 14px
          
      @media (max-width: 400px)
        text
          font-size: 14px
        .chart-content
          bottom: 60px
          left: 95px
        .chart-title
          font-size: 24px
          font-weight: 500
        .chart-subtitle
          font-size: 14px
        .chart-notes,
        .chart-source
          font-size: 13px
        .y-label text
          transform: translate(-10px, 6px)
        .y-label text.fixed-transform
          transform: translate(-10px, -4px)
        .chart-value
          transform: translate(4px, 4.5px)
        .reference-lines 
          text
            text-transform: none
            font-size: 10px
          .chart-value
            display: none
