extend /partials/layout

block append config
  - var datapath = "static/charts/pandemic-response/table-country-lists/data"
  - _.extend(page, data.getOne(datapath))
  - toPercent = (n) => (n * 100).toFixed(2) + "%"

block page
  .wrapper
    .tabs
      each theme, i in page.table
        - let chk = !i ? true : false
        input(
          id=`tab-${i}` type='radio' name='primary' checked=chk
        )
        label.txt-tu.txt-xs.txt-cond.txt-b.txt-center(
          for=`tab-${i}`
          onclick=`checkInner('tab-${i}')`
        )= theme.name
        .tab.primary
          .tabs
            each category, j in theme.categories
              - let chk = !i && !j ? true : false
              input(id=`tab-${i}-${j}` type='radio' name='secondary' checked=chk)
              label.txt-tu.txt-xs.txt-b.txt-center(
                for=`tab-${i}-${j}`
                style=(i==1 && j==3 ? "flex: 1.25" : "")
              )= category.title
              .tab.secondary
                .grid
                  each country in category.countries
                    p= country

    .notes.txt-muted *Taiwan is included in the Index as a self-governing territory


block append css
  style
    :sass
      
      ::-webkit-scrollbar 
        -webkit-appearance: none
        -webkit-overflow-scrolling: auto
      ::-webkit-scrollbar:vertical 
        width: 9px
      ::-webkit-scrollbar-thumb
        background-color: rgba(0, 0, 0, .5)
        border-radius: 10px
        border: 2px solid #f5f5f5
      ::-webkit-scrollbar-track 
        border-radius: 10px
        background-color: #f5f5f5
      
      .txt-xs
        font-size: 14px
      .txt-b
        font-weight: 600
    
      .wrapper
        justify-content: center
        position: relative
        height: 515px
        max-width: 700px
        user-select: none
        
      .grid
        display: grid
        grid-template-columns: repeat(auto-fill,minmax(160px, 160px))
      
      .grid > p
        padding: 0 .2em
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
        font-size: 15px
        margin-bottom: 1em

      .tabs
        display: flex
        flex-wrap: wrap 
      
      .tabs label
        order: 1
        flex: 1
        display: block
        padding: 1rem .5rem
        cursor: pointer
        background: #d4e2e8
        transition: background ease 0.3s  
      
      .tab .tabs label
        background: #e5e5e5
      
      .tabs .tab
        order: 99 
        width: 100%
        flex-grow: 1
        display: none
        &.primary
          background: #fff
          border: 1px solid #002b45
        &.secondary
          background: #f5f5f5
          padding: 1.25rem 0 1rem 2em
          max-height: 320px
          min-height: 320px
          position: relative
          overflow-y: auto
      
      .show-more
        position: absolute
        background-image: linear-gradient(#f5f5f5, #e5e5e5)
        left: 0
        bottom: 0
        width: 100%
        padding: .22em 0
        text-align: center
        &.hidden
          display: none
      
      .tabs input[type="radio"] 
      	display: none
      .tabs input[type="radio"]:checked + label
        background: #002b45
        color: white
      .tabs input[type="radio"]:checked + label + .tab
        display: block
    
      .tab .tabs input[type="radio"]
        display: none
      .tab .tabs input[type="radio"]:checked + label
        background: #f5f5f5
        color: #4b4f56
      .tab .tabs input[type="radio"]:checked + label + .tab
        display: block

        
      .notes
        font-size: 0.8em
        margin-top: 5px
        text-align: center
        
      @media (max-width: 515px) 
        .tabs .tab.secondary
          max-height: 400px
          min-height: 400px
        .tabs label
          padding: 1rem 2rem
          border: .5px solid #002b4588
        .tab .tabs label
          border: .5px solid #fff8
        .tab .tabs input[type="radio"]:checked + label
          background: #d0d0d0
          color: #4b4f56
          
        .wrapper
          height: 670px

      @media (max-width: 380px) 
        .tabs .tab.secondary
          max-height: 320px
          min-height: 320px
          


           
  script.
    function checkInner(tab) {
      document.querySelector(`#${tab}-0`).checked = true;
    }
    
