.lazy-line-painter

  svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 272.9 189.6')
      animate#animateMap( 
        attributeType="XML" xlink:href="#lineartMap"
        attributeName="stroke-dashoffset"
        begin=".5s"
        from="0" to="1100"
        dur="2.25s"
      )
      animate(
        attributeType="XML" xlink:href="#lineartMap"
        attributeName="opacity"
        begin="2s"
        from="1" to="0"
        dur="1s"
      )
      path#lineartMap(
        stroke-dasharray="0 1060 1060 0"
        fill="none" 
        d='M132.5 177.6 129 177.5 126.6 178.7 124.3 179.4 125 184.8 122.7 184.7 122.3 183.6 122.1 181.6 118.9 183 113.7 180.4 115 176.4 112.2 175.5 111.1 171.1 106.4 171.8 107 166.1 111.2 162 111.3 158 111.2 154.2 109.3 153 107.8 150.1 105.2 150.5 100.4 149.7 101.9 147.6 99.9 144.5 96.7 146.6 93 145.4 87.9 148.6 83.9 152.3 80.3 152.9 78.4 151.6 76 151.4 72.9 150.3 70.5 151.5 67.5 155.2 67.2 151.3 64.5 152.4 59.3 151.9 54.3 150.7 50.7 148.5 47.3 147.6 45.8 145.1 43.3 144.4 38.8 141.1 35.3 139.5 33.5 140.8 27.3 137.2 23 133.9 21.7 128.2 24.9 128.9 25 126.2 23.3 123.5 23.7 119.2 19 112.9 11.7 110.7 10.4 106.5 7.1 103.9 6.3 102.4 5.7 99.2 5.8 97 3.1 95.7 1.7 96.3 0.5 91 1.8 89.7 1.2 88.4 5.4 85.7 8.5 84.5 13.2 85.3 14.8 81.6 20.5 80.9 22.1 78.6 29.1 75.4 29.7 74 29.3 70.6 32.4 69 28.4 58.4 37.1 55.9 39.4 54.5 42.6 43 51.4 45.1 53.8 42.2 54.1 35.6 57.7 35 61.1 30.5 62.8 30 64 34.6 67.7 38.2 74 40.6 77.1 45.9 75.4 53.3 77 56.1 82.2 57.1 88.2 58 93.5 61.9 96.3 62.6 98.3 68.2 100.9 71.8 105.8 71.6 114.9 73 120.8 72.1 125.1 73 131.7 76.6 137 76.6 139 78.5 144.2 75.3 151.3 73.2 157.9 73 163.1 70.9 166.3 67.7 169.4 65.6 168.7 63.6 167.3 61.2 169.6 57.2 176.6 59 181 55.7 187.8 53.3 191 49.1 194.1 47.3 200.6 46.4 204.1 47.1 204.5 44.8 200.5 40.3 197 38.2 193.6 40.6 189.2 39.6 186.7 40.4 185.6 37.7 188.7 31.1 190.8 25.9 196.2 28.5 202.4 24.2 202.4 21.1 206.3 13.7 208.8 11.4 208.8 7.4 206.3 5.7 210 2 215.5 0.7 221.3 0.5 228 2.7 231.9 5.4 234.6 12.7 236.2 15.7 237.8 20 239.4 26.8 247.1 29 252.4 33.8 254.2 40 260.9 40 264.7 37.4 272 35.5 269.7 41.4 268 43.8 266.5 50.8 263.5 57 258.1 55.8 254.3 58.1 255.5 63.4 254.9 70.5 252.6 70.7 252.6 73.7 249.8 70.2 248 73.6 241.2 76.1 241.9 79.2 238 79 235.9 77.2 232.9 81.4 228 84.5 224.4 88.2 218.2 89.9 215 92.5 210.2 94.1 212.6 91.4 211.6 89.2 215.1 85.3 212.8 82.3 208.9 84.3 203.9 88.4 201.2 92.1 196.9 92.3 194.6 95 197 98.8 200.6 99.7 200.7 102.2 204.2 103.8 209.2 99.8 213.1 102 216 102.2 216.7 105.1 210.4 106.6 208.4 109.6 204.1 112.3 201.8 116.1 206.5 119 208.3 124.2 211 129 214 133 213.9 136.8 211.1 138.2 212.2 141 214.8 142.5 214.1 146.7 213 150.6 210.5 151.1 207.3 156.5 203.7 162.9 199.6 168.7 193.5 173.2 187.4 177.2 182.4 177.7 179.7 179.9 178.1 178.3 175.6 180.7 169.4 183 164.8 183.8 163.3 188.7 160.8 189 159.6 185.6 160.7 183.8 154.8 182.3 152.7 183 148.2 181.8 146.1 179.9 146.8 177.1 142.8 176.3 140.6 174.5 136.8 177 132.9 177.5'
      )
  
  //svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 166.2 178.8')
      animate#animateXi(
        attributeType="XML" xlink:href="#lineartXi"
        attributeName="stroke-dashoffset" 
        begin="2.25s"
        from="0" to="850"
        dur="1.75s"
      )
      animate(
        attributeType="XML" xlink:href="#lineartXi"
        attributeName="opacity"
        begin="3.5s"
        from="1" to="0"
        dur="0.5s"
      )
      path#lineartXi(
        stroke-dasharray="0 810 810 0"
        fill="none"
        d='M142.5,169.3c-.1.7-.7,4.2-.7,4.8s.1,2.8.2,4.2H43.4c.1-.4.1-.8.2-1.2,1.5-5.7,3.1-11.4,4.4-17.1a75.7,75.7,0,0,0,2-12.5c.2-7-.1-14-.3-21,0-2.1-.4-2.3-2.5-2.1l-8.8.6a104.4,104.4,0,0,1-20.9-1.2,69.3,69.3,0,0,1-10.2-2.6C2.2,119.4,0,115.4.6,108.7A61.7,61.7,0,0,1,3.2,96.8C5,90.3,7.4,84.1,12,78.9c1.4-1.7,2.5-3.8,4-5.6a2.9,2.9,0,0,0,.7-2.7,25.2,25.2,0,0,1-.8-5.4c-.1-5.9-.1-11.8-.1-17.7,0-.9.1-1.9,1.3-2s1.5.8,1.7,1.7.6,2.5.9,3.7a2.1,2.1,0,0,0,.4.6,1.5,1.5,0,0,0,.3-.7c.8-3,1.5-6.1,2.2-9.2a9.6,9.6,0,0,1,.7-1.8,1.5,1.5,0,0,1,2.8,0,4.2,4.2,0,0,1,.3,1.2l.3.5L27,41c.3-1,.6-2.1,1-3.2s.6-1.6,1.7-1.5a1.9,1.9,0,0,1,1.7,1.9c0,1.4,0,2.7-.1,4.1s-.4,2.6-.5,3.9a5.2,5.2,0,0,0,.2,1.1,4.1,4.1,0,0,0,.5-.9,16.6,16.6,0,0,1,.6-2.1c.4-1.1.8-2.3,1.3-3.4a2.2,2.2,0,0,1,1.5-1c.5,0,1.1.7,1.3,1.2a5.9,5.9,0,0,1,.5,2.2c-.1,3.1-.4,6.1-.4,9.2s.3,4.2.5,6.3c.1.5.6.9.9,1.3l1-1.1c1-1.5,1.9-3.1,3-4.6s1.5-1.5,2.6-.9,1,1.7.8,2.7A59.4,59.4,0,0,1,43,63.4c-2.1,5.2-4.5,10-9.7,12.9a3.5,3.5,0,0,0-.9,1.6L30,89.7a7.8,7.8,0,0,1-.2,1.4c.7-1.7,2.2-2.3,3.8-2.6a8.6,8.6,0,0,0,5.3-4c.6-.7,1-1.4,2.2-1s.8-.4.8-.7c.5-2.2.7-2.5,2.8-2.3s1.5-.3,1.5-1.4a4.9,4.9,0,0,1,5.3-5h1.2l16.4-5.3c2.5-.8,5-1.3,7.6-1.9s3.1-.5,1.1-3.1-4.2-5.1-4.9-8.5a49.4,49.4,0,0,1-.7-13.3,45.6,45.6,0,0,0,0-6.4,5.7,5.7,0,0,0-2-4.5,2.4,2.4,0,0,1-.6-1.1c-.4-2.9-.8-5.9.3-8.7s2.7-6,4-9.1,4.4-5,7.1-6.5,5.8-3.3,9.1-4.1C91.8,1,93.4.3,95.3.6s5.8.5,8.7.8c1.2.1,2.6,0,3.4.6s3,1.1,4.3,1.8a6.3,6.3,0,0,1,1.7,1.9l1,1.1c.6.7,1.4,1.1,1.9,1.8,3,4.4,3.8,9.4,3.6,14.5-.1,2.6-.7,5.2-.8,7.8a16.8,16.8,0,0,0,.6,4.5c.7,4-.5,7.5-2,11-.4.9-1.5,1.5-2.3,2.3s-1,.7-1.1,1.2a14.4,14.4,0,0,0-.4,4.6,6,6,0,0,0,2.6,4.1,11.5,11.5,0,0,1,3,2.8,19.6,19.6,0,0,0,9.4,7.4l5.3,2.2,20.1,9.4c2.9,1.3,4.3,3.6,5.2,6.5,1.9,6.5,2.4,13.3,4.5,19.7a45,45,0,0,1,1.5,10.3c.3,5.1.3,10.1.2,15.2s-.5,10.1-.6,15.2,0,10.9,0,16.4-.1,9.7-.1,14.6H143.1c-.2-2.1-.4-6.9-.6-9h0'
      )

  //svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 325 277.8')
      animate#animateFlag( 
        attributeType="XML" xlink:href="#lineartFlag"
        attributeName="stroke-dashoffset"
        begin="3.75s"
        from="0" to="1550"
        dur="1.75s"
      )
      animate(
        attributeType="XML" xlink:href="#lineartFlag"
        attributeName="opacity"
        begin="5s"
        from="1" to="0"
        dur="0.5s"
      )
      path#lineartFlag(
        stroke-dasharray="0 1530 1530 0"
        fill="none" 
        d='M41,252.8a11.7,11.7,0,0,1,.5-1.1c.1-.2.4-.2.6-.4l2.5-1.9a11,11,0,0,1-2.6-1.5,2.8,2.8,0,0,1-.8-2.1c.5-3.7,1.6-7.5-.6-11.1-1.9.6-2.7,2.1-3.4,3.9a12.9,12.9,0,0,1-2.9,4.6c-1.9,1.9-3.2,1.5-5.7-1.6l-2.5,3.5c-3.3,4.7-2.6,9.3-.4,14.4a39.6,39.6,0,0,0,4.7,7.7c1.6,2.1.6,4-.5,5.8s-1.8.5-2.5.2a76.4,76.4,0,0,1-9.2-5.4c-4.6-3.5-9-7.3-13.4-11A44.4,44.4,0,0,1,1,253.1c-.4-.6-.7-1.9-.3-2.3,2.1-2.6,4.1-5.6,6.8-7.5a40.4,40.4,0,0,0,8.9-8.6l1.7-2.3a13.3,13.3,0,0,1-2.6.2c-.4-.1-.7-.7-1.1-1.1s.7-1,1.1-1a31.8,31.8,0,0,1,3.4.4,22.7,22.7,0,0,1,1.4-5.1c.4-.7,2-.7,3.3-1.1a5.6,5.6,0,0,1,.9-1.7c2.2-2.3,4.5-4.5,6.7-6.7s2.5-2.4,2.4-4.5a3.4,3.4,0,0,1,1.8-2.3c1.3-.6,1.7-1.3,1.4-2.6-1.4-5.5-2.6-11.1-3.9-16.6a18.8,18.8,0,0,1-.8-5.2,9.6,9.6,0,0,0-2.7-7.3c-3-3.3-3.2-7.3-4.2-11.2-.3-1.1-1.1-2-1.4-3.1a35.8,35.8,0,0,1-.4-4.5L17,163.2c-.7.3-1.9.7-2.2.4-1.8-1.7-2.9-.3-4.1.6S6.8,167,5,168.5s-2.1.3-3-.7-.8-2,.5-2.8l7.3-5.3c-.5-1.8-.9-3.3-1.4-4.9s-.1-.8-.3-.9c-3-1.5-2.3-4.4-2.5-6.8-.8-7.7-1.6-15.3-2.2-23a5.7,5.7,0,0,1,.7-3.1c1.5-3,3.2-5.8,4.9-8.6s4.1-6.3,6.2-9.4a25,25,0,0,0,2.1-3.5A89.3,89.3,0,0,1,29,79.2c1.4-1.9,1.7-4.5,2.7-6.7s-.4-4.4-1.6-6.4l-3.6-6.3c-1.5-2.7-.7-5.4,1.6-7.5s6.9-5.5,11.4-6a44.2,44.2,0,0,1,8.9.3c.9.1,1.9,1.3,2.3,2.3,1.8,4.8,5,6.6,10,5a4.8,4.8,0,0,1,1.7,0c-1,1.8-1.4,1.9-8.3,2.6-.7,2.7.6,4.6,2.2,6.5s1.9,2.2-.5,2.7A1.7,1.7,0,0,0,55,67c0,2,.2,4,.1,5.9a2.7,2.7,0,0,1-1.1,2,32.4,32.4,0,0,1-3.2,1.7c-.5.2-1.4.5-1.4.8,0,2-.6,4.7.4,6.1,3.6,4.3,6.4,8.9,7.5,14.5.3,1.1,1.2,2,1.7,3.1,1.5,3.5,2.9,7,4.4,10.4a47.1,47.1,0,0,0,2.9,4.8c4.4-3.2,4-3.7,6.7-1l57.3-36.7c33.8-21.7,67.5-43.6,101.4-65C239.4,8.7,248,5.1,256.1.9a6.6,6.6,0,0,1,2.5-.4c-5.7,7.2-14.2,10.4-21.5,15.6,29.1,44.6,58.1,88.9,87.2,133.6L243,202.8,154.7,67.7l-13.9,8.7q-32,20.8-64,41.6c-1.1.8-1.2,1.5-1.3,2.9s-.9,5.3-1.3,7.9c-.1.8-1.7,1.6-2.6,1.7-2.8.2-5.5.1-8.7.1,0,.2-.1,1.2-.2,2.1-1.2,5.8,1.6,11,2.1,16.6a42.1,42.1,0,0,0,1.6,9.3c.7,2.5.1,3.5-2.3,3.7l-.8.2v12.6c0,1.1.3,2.2.3,3.3-.3,5-.8,9.9-.8,14.8a73.2,73.2,0,0,0,.9,9.3c.5,4.6,1.2,9.1,1.7,13.7.2,2.1-1.1,3.6-2.9,4.7s-2.8,1.9-1,4.6,1.9,6.4,1.2,9.6-1.8,4.8-2.5,6.5l5,7-6,1.4c.1.7.3,1.5.5,2.3a24.5,24.5,0,0,0,1.1,4.1,14.1,14.1,0,0,0,3.4,4.5c4.7,3.3,9.5,6.3,15.4,7.3a4.9,4.9,0,0,1,4.1,4.9,3.3,3.3,0,0,1-1.7,2c-6,2.6-12.3,2.5-18.6,1.5-1.3-.2-2.7-.7-4-.8a11.7,11.7,0,0,0-2.5.7,6.7,6.7,0,0,1-1.9.5l-7.9-.7c-1.7-.2-2.3-1-2.1-2.6.5-4,1.2-7.9,1.3-11.9s-.6-6.4-.9-9.6h-.9c-.3.5-.4,1-.7,1.4a20,20,0,0,1-1.4,1.6,11.4,11.4,0,0,1-1.5-1.7'
      )
      
  
      
    
