extend /partials/layout

block append config
  - page.title = "What is the first thing you would do if..."
  - var chart = { data: {} }

  - chart.data.a = [40,43]
  - chart.data.b = [20,62]

  - chart.data.c = [53,16]
  - chart.data.d = [41,27]

  - chart.data.e = [40,29]
  - chart.data.f = [30,42]

  - chart.data.g = [57,17]
  - chart.data.h = [41,20]

  - chart.data.axis = []
  - chart.data.axis.push( "Seek assistance from suco/aldeia chief" )
  - chart.data.axis.push( "Request assistance from PNTL" )

  - max = Math.max(...chart.data.a, ...chart.data.b)

mixin bar(v, c)
  .bar(class=c)
    .bar-inner(style=`width: ${v / max * 100}%`)
      span.bar-label.txt-muted= v + "%"

block page
  #chart(data-view="match")
    h1.txt-normal.txt-sans.txt-lg.txt-center= page.title
    .txt-sm.th.txt-bold
      | &hellip;a gang of men threatened to hurt you or your family
      | if you failed to pay them a specified sum of money?

    .chart-area
      for item, i in chart.data.axis
        .row.clearfix
          .column.column-label= item
          .column
            +bar(chart.data.a[i], "year-2018 gp")
            +bar(chart.data.b[i], "year-2018 cl")

    .txt-sm.th.txt-bold
      | &hellip;your cow was stolen?

    .chart-area
      for item, i in chart.data.axis
        .row.clearfix
          .column.column-label= item
          .column
            +bar(chart.data.c[i], "year-2018 gp")
            +bar(chart.data.d[i], "year-2018 cl")

    .txt-sm.th.txt-bold
      | &hellip;a female relative/friend was physically assaulted
      | by her husband?

    .chart-area
      for item, i in chart.data.axis
        .row.clearfix
          .column.column-label= item
          .column
            +bar(chart.data.e[i], "year-2018 gp")
            +bar(chart.data.f[i], "year-2018 cl")

    .txt-sm.th.txt-bold
      | &hellip;somebody occupied a portion of your land and insisted
      | that they are the rightful owner?

    .chart-area
      for item, i in chart.data.axis
        .row.clearfix
          .column.column-label= item
          .column
            +bar(chart.data.g[i], "year-2018 gp")
            +bar(chart.data.h[i], "year-2018 cl")

    .legend.txt-sm
      .legend-key
        .legend-key-box.gp
        span.legend-key-label General public

      .legend-key
        .legend-key-box.cl
        span.legend-key-label Community leaders

  style
    :sass
      body
        font-family: Sans, sans-serif
        display: flex
        font-size: 15px
        width: 1px
        min-width: 100%
        *width: 100%
      h1
        margin: 0 auto 0.5em
        max-width: 600px
      #chart
        margin: auto
        width: 736px
        max-width: 100%
        padding: 20px 0
      .row
        padding: 0 2em 0 0
        display: flex
        flex-direction: row
      .th
        line-height: 1.2
        margin: 1.5em auto 1em
        padding: 1.5em 0 0
        max-width: 480px
        border-top: 1px solid #ccc
        text-align: center

        .column
          margin-top: auto
          margin-bottom: auto

      .chart-area .row + .row .column-label
        border-top: 1px solid #ccc
      .column
        float: left
        padding: 0 0.5em
        width: 60%
        box-sizing: border-box
        min-height: 1px

      .column-label
        width: 40%
        min-height: 2.5em
        margin: -0.25em 0 0.25em
        padding: 0.25em 0
        line-height: 1.1
        display: flex
        flex-direction: column
        justify-content: center

      .bar
        height: 1em
        width: 100%

        .bar-inner
          height: 100%
          position: relative

        .bar-label
          position: absolute
          line-height: 17px
          margin: 0 4px
          font-size: 14px

      .gp .bar-inner,
      .gp.legend-key-box
        background: #ff7b00
      .cl .bar-inner,
      .cl.legend-key-box
        background: #ffba33


      .year-2015 .bar-inner
        margin-left: auto

      .year-2015 .bar-label
        right: 100%

      .year-2018 .bar-label
        left: 100%

      .legend
        display: flex
        flex-direction: row
        justify-content: center
        margin: 1em auto
        border-top: 1px solid #ccc
        padding-top: 1em
        flex-wrap: wrap
        max-width: 480px

      .legend-key
        padding: 0 0.5em
      .legend-key-box
        width: 1em
        height: 1em
        display: inline-block
        margin-right: 0.5em
        position: relative
        top: 0.1em

      @media (max-width: 600px)
        .txt-lg
          font-size: 20px
        .column
          width: 30%
        .column-label
          width: 70%
        .th
          margin-top: 1.2em
          padding-top: 1.2em
