extend /partials/layout

block append config
  - page.title = "Do you have any ongoing disputes with anyone living in your community/neighbourhood?"
  - var chart = { data: {} }

  - chart.data.a = [19,8,8,2,4,2,4,2,0,8,1,61]
  - chart.data.b = [29,14,12,6,5,5,2,2,1,3,1,55]

  - chart.data.axis = []
  - chart.data.axis.push( "Access to water and irrigation" )
  - chart.data.axis.push( "Non farming land dispute" )
  - chart.data.axis.push( "Over agricultural land" )
  - chart.data.axis.push( "Unsolved crimes" )
  - chart.data.axis.push( "Abandonment" )
  - chart.data.axis.push( "Over money" )
  - chart.data.axis.push( "Gangs or rapes" )
  - chart.data.axis.push( "Witchcraft" )
  - chart.data.axis.push( "Land (general)" )
  - chart.data.axis.push( "Don't know" )
  - chart.data.axis.push( "No answer" )
  - chart.data.axis.push( "No disputes" )

  - max = Math.max(...chart.data.a, ...chart.data.b)

mixin bar(v, c)
  .bar(class=c)
    .bar-inner(style=`width: ${v / max * 100}%`)
      span.bar-label.txt-muted= v + "%"

block page
  #chart(data-view="match")
    h1.txt-normal.txt-sans.txt-lg.txt-center= page.title
    .row.clearfix.txt-bold.txt-semi.txt-sm
      .column.txt-right 2015
      .column.column-label &nbsp;
      .column 2018

    .chart-area
      for item, i in chart.data.axis
        .row.clearfix
          .column
            +bar(chart.data.a[i], "year-2015")
          .column.txt-center.column-label= item
          .column
            +bar(chart.data.b[i], "year-2018")

  style
    :sass
      body
        font-family: Sans, sans-serif
        display: flex
        font-size: 15px
      h1
        margin: 0 auto 0.5em
        max-width: 600px
      #chart
        margin: auto
        width: 736px
        max-width: 100%
        padding: 20px 0
      .row
        margin: 0 -0.5em
        padding: 0 32px

      .chart-area .row + .row .column-label
        border-top: 1px solid #ccc
      .column
        float: left
        padding: 0 0.5em
        width: 36%
        box-sizing: border-box
        min-height: 1px

      .column-label
        width: 28%
        height: 2.5em
        margin: -0.25em 0 .25em
        line-height: 1.1
        display: flex
        flex-direction: column
        justify-content: center

      .bar
        height: 1em
        width: 100%
        margin: 0.5em 0

        .bar-inner
          height: 100%
          position: relative

        .bar-label
          position: absolute
          line-height: 17px
          margin: 0 4px
          font-size: 14px

      .year-2015 .bar-inner
        background: #ff7b00
      .year-2018 .bar-inner
        background: #ff7b00

      .year-2015 .bar-inner
        margin-left: auto

      .year-2015 .bar-label
        right: 100%

      .year-2018 .bar-label
        left: 100%

      .legend
        display: flex
        flex-direction: row
        justify-content: center
        margin: 1em auto
        border-top: 1px solid #ccc
        padding-top: 1em
        flex-wrap: wrap
        max-width: 480px

      .legend-key
        padding: 0 0.5em
      .legend-key-box
        width: 1em
        height: 1em
        display: inline-block
        margin-right: 0.5em
        position: relative
        top: 0.1em

      @media (max-width: 600px)
        .column
          width: 30%
        .column-label
          width: 40%
