extend /partials/layout

block append config
  - var datapath = "static/charts/ocean-of-debt/figure-1/data"
  - _.extend(page, data.getOne(datapath))
  - toPercent = (n) => (n * 100).toFixed(2) + "%"

block page
  .wrapper.flex
    .col-wrap.txt-center.flex-grow.flex
      .col-md.flex-grow.flex.flex-col
        - chart = page.charts[0]
        .chart-title= chart.title

        .chart.flex-grow: .chart-content
          - scale = chart.scale
          - fx = (x) => (x - scale.minX) / (scale.maxX - scale.minX) - 1
          - fy = (y) => -(y - scale.minY) / (scale.maxY - scale.minY)
          svg(height="100%" width="100%")
            g
              for x, i in chart.axes[1].values
                - y = chart.axes[0].values[i]
                circle(
                  r=4
                  cx=toPercent(fx(x))
                  cy=toPercent(fy(y))
                  fill="#539ed4"
                )

            - x1 = _.min(chart.axes[1].values)
            - x2 = _.max(chart.axes[1].values)
            - y1 = chart.slope * x1 + chart.intercept
            - y2 = chart.slope * x2 + chart.intercept

            line(
              x1=toPercent(fx(x1))
              x2=toPercent(fx(x2))
              y1=toPercent(fy(y1))
              y2=toPercent(fy(y2))
              stroke="#539ed4"
              stroke-dasharray="0 4"
              stroke-width=2
              stroke-linecap="round"
            )

            svg(y="50%")
              text(
                text-anchor="middle"
                y=-16
                transform="rotate(-90)"
              )
                = chart.axes[0].title

            svg(x="50%" y="100%")
              text(
                text-anchor="middle"
                y=24
              )
                = chart.axes[1].title

      .col-md.flex-grow.flex.flex-col
        - chart = page.charts[1]
        .chart-title= chart.title
        .chart-subtitle.txt-muted= chart.subtitle

        .chart.flex-grow: .chart-content
          - scale = chart.scale
          - fx = (i) => (i + 0.5) / (chart.axes[1].values.length + 0.5)
          - fy = (y) => (y - scale.minY) / (scale.maxY - scale.minY)
          svg(height="100%" width="100%")
            svg(height="100%")
              for n, i in new Array(6)
                - y = 1 - (i / 5)
                svg(y=toPercent(y))
                  text(text-anchor="end" transform="translate(-8 4)")
                    = scale.minY + (i/5) * (scale.maxY - scale.minY)

            g
              for y, i in chart.axes[1].values
                - label = chart.axes[0].values[i]
                svg(
                  x=toPercent(fx(i))
                  y=toPercent(1 - fy(y))
                  width=toPercent(fx(0))
                  height=toPercent(fy(y))
                )
                  rect(
                    fill=label.highlight ? "#002a45" : "#539ed4"
                    width="100%"
                    height="100%"
                  )

                  svg(x="50%" y="100%")
                    text(
                      text-anchor="end"
                      transform="rotate(-45) translate(-6 12)"
                      class=label.highlight ? "txt-bold" : ""
                    )
                      =label.text

block append css
  style
    :sass
      .wrapper
        height: 400px

      .col-wrap
        margin: 0 -1em

      .col-md
        padding: 0 1em
        width: 50%

      .chart
        position: relative

      .chart-content
        position: absolute
        top: 20px
        left: 32px
        right: 32px
        bottom: 72px

      .chart-content > svg
        border-bottom: 1px solid #ccc
        height: 20px
        min-height: 100%

      .chart-title,
      .chart-subtitle
        padding: 0 24px

      .chart-title
        max-width: 320px
        margin: auto

      .chart-subtitle
        height: 0

      text
        font-size: 14px
        fill: #4b4f56

      svg
        overflow: visible

      @media screen and (max-width: 600px)
        .col-wrap
          display: block
        .col-md
          width: 100%
          height: 50%
