extend ../../partials/issue

block append config
  - page.title = "Relations with China"

block intro-image
  img.bg-img(data-src="../../img/xi.jpg")

block intro-caption
  :marked
    Photo: [United Nations / Flickr ](https://www.flickr.com/photos/un_photo/21766728656)

block intro-description
  :marked
    Australia’s relationship with China is strained. The decision to bar the
    Chinese tech company Huawei from future Australian 5G infrastructure
    because of security concerns has angered Beijing. Despite a reset in
    relations late last year, some Chinese ports are delaying imports of
    Australian coal. The People’s Republic of China (PRC) is our largest
    trading partner, and its influence in our region is increasing. Whichever
    party wins government will be keen to improve the relationship.

block scroller
  +item(1)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Government

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-md.txt-border.ph-md.txt-left(style="max-width: 420px")
          :marked
            The Liberal–National Coalition anticipates increasing US–China
            competition and tension, particularly in the Pacific. However, it
            also calls for a continued partnership with China while recognising
            that the PRC is altering the balance of world power more than any
            other nation.<sup>[1]</sup> The Government has announced a $44
            million national foundation for Australia–China relations in a bid
            to build greater understanding of the country.<sup>[2]</sup>

            [1]: https://www.pm.gov.au/media/keynote-address-asia-briefing-live-beliefs-guide-us 
            [2]: https://www.theaustralian.com.au/nation/politics/morrison-puts-44m-into-foundation-to-improve-china-ties/news-story/5059a50d9f04ec69ab35dadf209d2e49?nk=0da178d4370d7d6f5f410eaa42bafce7-1553827420

        .txt-source
          :marked
            Scott Morrison's address on Asia *[→]*

            [→]: https://www.pm.gov.au/media/keynote-address-asia-briefing-live-beliefs-guide-us
 
    .row
      .col-fw.bg-hl.txt-ff.frame.p-md
        img.bg-img.bg-img-abs(data-src="../../img/made-in-china.jpg")
        
        .txt-lg.mx-480(style="max-width: 16em")
          span.bg-ff.bg-ffs.txt-dk
            | Nearly one-third of all Australia’s
            | exports go to China, while almost one-fifth
            | of our imports come from the PRC
            sup
              a(
                href="https://www.rba.gov.au/speeches/2018/pdf/sp-gov-2018-05-23.pdf"
                target="_blank"
                rel="noreferrer"
              ) 3
 
  +item(2)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Opposition

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-md.txt-border.ph-md.txt-left(style="max-width: 420px")
          :marked
            The Australian Labor Party stresses the importance of the
            relationship with China and has criticised the Coalition for the
            stridency of its rhetoric over Beijing. It concedes that the
            different styles of government between the two countries are likely
            to affect the nature of interactions, but Opposition Leader Bill
            Shorten has said: “We won’t view China just through the strategic
            prism of worst case scenario…We’ve got to view China as more than
            just a threat.”<sup>[4]</sup>
 
            [4]: https://www.afr.com/news/politics/national/china-is-more-than-just-a-threat-shorten-20190425-p51h8s 

        .txt-source
          :marked
            Bill Shorten's foreign policy vision *[→]*

            [→]: https://www.lowyinstitute.org/publications/foreign-policy-next-labor-government
    .row
      .col-1-2.bg-lt.frame.p-md
        img.bg-img.bg-img-abs(data-src="../../img/grads.jpg")
        .txt-md(style="max-width: 18em")
          span.bg-ff.bg-ffs.txt-dk

            | The Australia–China trade relationship is much deeper than just
            | goods. Service exports are also important, particularly education
            | and tourism. Chinese tourists spent approximately $11 billion in
            | Australia in the last financial year.
            sup
              a(
                href="https://www.abc.net.au/news/2019-01-15/china-economy-slowdown-will-affect-australia/10716240"
                target="_blank"
                rel="noreferrer"
              ) 5
            |  Chinese education-related personal travel exports were estimated
            | at around $10 billion.
            sup
              a(
                href="  https://www.austrade.gov.au/news/economic-analysis/chinese-education-exports-reach-10-billion"
                target="_blank"
                rel="noreferrer"
              ) 6

      .col-1-2.bg-ff
        .p-md.txt-lg(style="max-width: 16em")
          :marked
            In 2015 Australia and several other nations joined the Chinese-led
            Asian Infrastructure Investment Bank, a potential rival to the
            World Bank. Seventy nations are now members of the AIIB.
 
  +item(3)
    .row
      .col-1-2
        .fill
          .row
            .col-fw.bg-dk.txt-ff
              .p-md
                .pv-xs.txt-sm.txt-tu.txt-hl= page.title
                
                .txt-xxl.pv-xs What Our Expert Says

                .txt-sm.txt-tu.txt-expert-author
                  | Richard McGregor<br>
                  span.txt-mt Senior Fellow

          .row.bg-hl
            .col-fw.txt-lg.p-md
              .mx-320
                span.bg-ff.bg-ffs.txt-dk
                  | The bigger unknown is Bill Shorten,  
                  | who has had little to say
                  | on foreign&nbsp;policy

      .col-1-2.p-lg.txt-expert-content
        .block.txt-sans.txt-left
          :marked
            Superficially, Coalition and Labor policies on China and the region
            are broadly similar. After partisan tussles in 2017, both major
            parties supported the anti-foreign interference laws. Both have
            been critical of China’s policies on the South China Sea and, to a
            lesser extent, China’s suppression of the Uighurs in Xinjiang. Both
            support vigorous economic engagement with China, as would be
            expected for a country that is such a valuable trading partner. But
            they also support agreements and institutions designed to balance
            or push back against Chinese power such as the US alliance, the
            revamped Comprehensive and Progressive Agreement for Trans-Pacific
            Partnership, and other trade liberalisation deals (although Labor
            wants to modify parts of those trade agreements).

            Labor has been critical of the Coalition’s handling of China policy
            and promises to be more disciplined in its public utterances. That
            will be tested in office. Shadow Foreign Minister Penny Wong and
            Shadow Defence Minister Richard Marles have managed to work out a
            joint position on core issues in their portfolios after early
            tensions between the pair. Shadow Treasurer Chris Bowen, who
            remains close to Paul Keating, has a vision of much greater
            engagement with Asia, including China, something that will be
            difficult to push forward in office if relations with Beijing
            remain tense. The bigger unknown is Bill Shorten, who has had
            relatively little to say on foreign policy. Mr Shorten is well
            schooled in the US alliance while saying Australia should not
            pre-emptively treat China as hostile. Ultimately, he would set the
            tone and direction of foreign policy as prime minister, should he
            be elected. Mr Shorten is also a dealmaker, which is fraught
            territory when it comes to&nbsp;China.
