.top-header.fixed-tl.dark.ph-md.txt-xs.appear-fast.hidden
  a.header-logo.txt-tu.txt-bare.ptr(href="https://www.lowyinstitute.org/") Lowy Institute
  a.header-title.txt-tu.txt-bare.ptr(href=page.url) Rules-based Order
    span : The history of an idea
  .social
    a.p-xs.icon.icon-social-facebook(
	    rel="noopener noreferrer" 
      onclick="window.open(this.href, '', 'width=600, height=300');" 
      target='_blank'
      href=[
        "https://www.facebook.com/sharer.php?u=",
        encodeURIComponent(page.url),
      ].join("")
    )
    a.p-xs.icon.icon-social-twitter(
      rel="noopener noreferrer" 
      onclick="window.open(this.href, '', 'width=600, height=300');"       
      target='_blank'
      href=[
        "https://twitter.com/share?url=",
        encodeURIComponent(page.url),
        "&text=",
        encodeURIComponent(page.title),
        "&via=LowyInstitute"
      ].join("")
    )
    a.p-xs.icon.icon-mail(
      rel="noopener noreferrer" 
      onclick="window.open(this.href, '', 'width=600, height=300');"       
      href='mailto:?subject=Australia%20and%20the%20Rules-based%20Order&body=%20https://interactives.lowyinstitute.org/features/rules-based-order/'
    )
