extend /partials/layout

block append config
  - page.title = "Military Expenditure"
  - var chart  = data.getOne("static/charts/api/military-expenditure/1995-2023")
  - var byValue = function(e){return -e.me[0]};
  - var inOrder = _.sortBy(chart.countries, byValue);

block page
  script
    != `window.chart = ${JSON.stringify(chart)};`
  #wrapper(data-view="time-series")
    #chart-title
      h1.chart-title-main Military Expenditure
      small.chart-title-small.constant
        | at current prices

      small.chart-title-small.projected
        | forecast at constant 2015 prices

    ul#axis-countries.list-bare
      for country in chart.countries
        - var p = country.me[0] / inOrder[0].me[0];
        - var r = inOrder.indexOf(country);
        li.country(
          style=`transform: translate3d(0, ${r * 100}%, 0)`
          class=`country-${written.hyphenCase(country.aka || country.name)}`
        )
          label.country-name= country.aka || country.name
          .country-bar
            for key, i in chart.keys
              .country-bar-block(
                style=`transform: translate3d(${-100 + p * 100}%, 0, 0)`
                class=key
              )
                if i === 0
                  .country-bar-label(class=key)

    #ranks
      #rank-list
        for n, i in new Array(chart.limit)
          .rank
            .rank-label(style={
              opacity: ((chart.limit * 2) - i) / (chart.limit * 2)
            })= i + 1
    #scale
      #scale-strokes
        for n, i in new Array(10)
          .scale-stroke
            span.scale-stroke-label $#{i * 100}B

    #controls
      a#btn-reset.btn(tabindex="0")
        svg.btn-icon(viewBox="0 0 24 24")
          rect.btn-icon-shape(x="0"  y="0" width="8" height="24")
          polygon.btn-icon-shape(points="24,24 24,0 8,12 ")

      a#btn-play.btn(tabindex="0")
        svg.btn-icon(viewBox="0 0 24 24")
          polygon.btn-icon-shape(points="0,24 0,0 24,12 ")

      a#btn-pause.btn(tabindex="0")
        svg.btn-icon(viewBox="0 0 24 24")
          rect.btn-icon-shape(x="0"  y="0" width="8" height="24")
          rect.btn-icon-shape(x="16" y="0" width="8" height="24")
      
      a#btn-end.btn(tabindex="0")
        svg.btn-icon(viewBox="0 0 24 24")
          rect.btn-icon-shape(x="16" y="0" width="8" height="24")
          polygon.btn-icon-shape(points="0,0 0,24 16,12 ")

      #axis-years.list-bare
        ul#axis-years-list
          for year, i in chart.scale
            li.year
              a.year-link(data-index=i)= year

    small#chart-source
      | Source: US Department of State; Lowy Institute

    a#chart-logo(href="https://www.lowyinstitute.org/")
      img(src="/img/lowyinstitute-logo.png")

block css
  link(
    type="text/css"
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Montserrat:500,700"
    media="all"
  )

  style
    include:sass ../gdp-vs-ppp/style.sass

    :sass

      .country-bar-label
        right: auto
        left: 100%
        margin: 0 0 0 8px
        color: #7a8d95
        opacity: 1 !important

      .country-bar-block
        .country-united-states &,
        .country-china &,
        .country-saudi-arabia &,
        .country-india &,
        .country-russia &
          background-color: #dbde00

      .country-bar
        .country-united-states &,
        .country-china &,
        .country-saudi-arabia &,
        .country-india &,
        .country-russia &
          border-left-color: #dbde00
