//-
  This layout is used to construct the issue page. It in turn extends the
  default `layout` defined below.

extend /partials/layout

block append config
  - page.includeFonts = false
  - page.class = "page-issue page-0"
  - page.image = "http://interactives.lowyinstitute.org/features/covid-recovery/img/thumbnail.jpg"
  - page.issue = __.filepath.match(/([^\/]+)\/index.pug$/)[1]
  - page.feature = data.getOne("static/features/covid-recovery/data")

block prepend head
  - page.url = "https://interactives.lowyinstitute.org/features/covid19/"
  - page.url += "issues/" + page.issue
  - page.metaTitle = `${page.title} - COVID-19 Recovery – Lowy Insitute`

block page
  include header

  mixin item(index)
    .scroll-item(
      id=`scroll-item-${index}`
      class=(index == "index" ? "active" : null)
    )
      block

  #scroller(
    data-view="scroller"
    data-pager=".pager-page"
    data-index=".pager-index"
    data-offset="1"
  )
    +item("intro")
      .row
        .col-1-2
          .fill
            .row
              .col-fw.p-md
                //.pv-xs
                  .p-xs.txt-sm.txt-tu.bg-hl.txt-ff Topic
                .txt-xxl.pv-xs.ph-xl= page.title
                .txt-sm.txt-tu.pv-sm.txt-expert-author= page.expert
                  <br>
                  span.txt-mt= page.expertrole

            .row.bg-dk
              .col-fw.ph-xl.pv-md.txt-ff.txt-lg-lh
                block intro-description

        .col-1-2.bg-lt.txt-ff
          .col-fw.frame
            .img-pan
              block intro-image
            .caption.txt-ff
              block intro-caption

    block scroller

    +item("links")
      .container
        ul.link-grid.list-bare.txt-ff
          li.col-fw.txt-sm.txt-tu.txt-hl.pv-sm Explore more topics
          for issue, i in page.feature.issues
            if i
              if issue.href != page.issue
                li.col-1-3
                  a.txt-bare.pv-md.ph-xs(
                    href=`/features/covid-recovery/issues/${issue.href}`
                  )
                    span.txt-md!= typogr.typogrify(issue.title)
              else
                li.col-1-3(id="active")
                  .pv-md.ph-xs
                    span.txt-md!= typogr.typogrify(issue.title)

  include footer

block append css
  style
    include:sass ../_styles.sass

block append scripts
  script
    include:coffee ../coffee/scroller.coffee
    include:coffee ../coffee/counter.coffee
