- countries = data.getOne("static/features/covid-performance/data/countries")

svg#chart-countries(
  x="0" y="0"
  width="100%"
  height="100%"
  viewBox="0 0 100 100"
  preserveAspectRatio="none"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
)

  for c, i in countries
    if isValid(c.percentiles)
      
      g
  
        path.country-line.transparent(
          data-name=c.name
          data-size=c.size
          data-income=c.income
          data-region=c.region
          data-politics=c.politics
          stroke-width=15
          d=toPath(c.percentiles)
        )  
        
        path.country-line.lite(
          data-name=c.name
          data-size=c.size
          data-income=c.income
          data-region=c.region
          data-politics=c.politics
          stroke-width=1
          d=toPath(c.percentiles)
        )
