- keys = data.getOne(`static/features/covid-performance/data/key`)[0]

.slide-wrap.sandbox
  
  .type-wrap(data-view="in-viewport")
  
    h1#country-compare.rise-in Country comparisons
    p.rise-in.delay-1 To compare specific combinations of countries and territories, use the search bar to make up to five selections.
    
  //.active-category-list  
    each key, i in keys
      .category
        .txt-tu.txt-xs= i
        .items
          each item, j in key
            input.tgl(type="checkbox" id=`${i}-${j}`)
            label.tgl-btn(for=`${i}-${j}`)= item.v

  .active-country-list  
        
    label#input-label.combo-label
    span#input-remove(style='display: none') remove
    // used as descriptive text for option buttons; if used within the button text itself, it ends up being read with the input name
    ul#input-selected.selected-options
    .js-multiselect
      input#input.combo-input(
        aria-activedescendant=''
        aria-autocomplete='none'
        aria-controls='listbox3'
        aria-expanded='false'
        aria-haspopup='listbox'
        aria-labelledby='combo3-label combo3-selected'
        role='combobox'
        type='text'
        placeholder="Start typing to show countries (max 5)"
      )
      #input-listbox.combo-menu(role='listbox')
        
  .footnote.txt-lite.border
    
    p.china.opacity-0 * China was not included in this Interactive’s overall analysis due to a lack of publicly available data on daily number of tests performed in the entire country. The dashed line gives an approximate indication only of China’s experience with COVID-19 based on a limited number of indicators, and is not a reliable comparison with other countries in this Interactive.
    
    p.sweden.opacity-0 * Data on daily tests undertaken in Sweden was unavailable until 18 weeks after the country’s hundredth confirmed case of COVID-19. Due to this missing data, this Interactive is unable to assess the country’s management of the pandemic during the first half of the 36-week period examined.
    
    svg.absolute( width='22' height='22' viewbox="0 0 24 24" onclick="this.parentElement.classList.remove('open')")
      path( fill="currentColor" d="M13.41,12l4.3-4.29a1,1,0,1,0-1.42-1.42L12,10.59,7.71,6.29A1,1,0,0,0,6.29,7.71L10.59,12l-4.3,4.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0L12,13.41l4.29,4.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42Z" )


  - cat = null
  include _chart
