extends /partials/layout

block append config
  - var chart  = data.getOne("static/charts/gender-diversity-and-australias-international-relations/what-are-the-odds/data")

block page
  style
    include style.css

  .wrapper(ontouchstart="")
    #chart
      #chart-title
        h1.txt-uppercase What are the odds?
        p Explore the likelihood of women holding various roles in Australia’s IR&nbsp;sector

      ul#chart-circles.list-bare
        for fact in _.sortBy(chart.facts, "percent")
          - var style = fact.percent < 25 ? ("left:" + fact.percent * 2 + "%") : ("right:" + (100 - fact.percent * 2) + "%")
          li.circle
            label.circle-percent(
              style=style
            )
              input(type="checkbox")
              = fact.percent + "%"
            .circle-fact.flex-cv(
              style=style
              class=fact.percent < 25 ? "l" : "r"
            )
              span!= typogr.typogrify(fact.text.trim())
            if fact.addon
              .circle-addon
                span.txt-muted!= typogr.typogrify(fact.addon.trim())

      #chart-bar
        #chart-notches
          for n, i in new Array(11)
            .chart-notch(style=`left: ${i * 10}%`)

        #chart-labels
          for n, i in new Array(3)
            .chart-label(style=`left: ${i * 50}%`)
              span.txt-muted= i * 25 + "%"
              .txt-nowrap= ["No Chance", "", "Fair Chance"][i]
