extend /partials/layout

block append config
  - var chart  = data.getOne("static/charts/api/australian-aid-by-region/data")
  - var byValue = function(e){return -e.value[0]};
  - var inOrder = _.sortBy(chart.items, byValue);
  - page.title = "Australia's Offical Development Assistance: Expenditure & Estimates"

block page
  script
    != `window.chart = ${JSON.stringify(chart)};`
  #wrapper(data-view="time-series")
    #chart-title
      h1.chart-title-main
        = page.title

      small.chart-title-small
        | Reported in $ AUD, millions

    ul#axis-countries.list-bare
      for item, i in chart.items
        - var p = item.value[0] / inOrder[0].value[0];
        - var r = inOrder.indexOf(item);
        li.item.country(
          style=`transform: translate3d(0, ${r * 100}%, 0)`
          class=`country-${i}`
        )
          label.country-name= item.aka || item.name
          .country-bar
            for key, i in chart.keys
              .item-bar-block.country-bar-block(
                style={
                  "transform": `translate3d(${-100 + p * 100}%, 0, 0)`,
                  "background-color": item.color
                }
                class=key
              )
                .item-bar-label.country-bar-label(class=key)

    #ranks
      #rank-list
        for n, i in new Array(chart.limit)
          .rank
            .rank-label(style={
              opacity: ((chart.limit * 2) - i) / (chart.limit * 2)
            })= i + 1

    #breakdown
      svg.pie-chart
        for c, i in _.sortBy(chart.items, (e) => -_.last(e.value))
          path.pie-ring(data-name=c.name stroke=c.color)

      #breakdown-total

    #scale
      #scale-strokes
        for n, i in new Array(chart.ticks)
          .scale-stroke(style={opacity: (chart.ticks - i) / chart.ticks})
            span.scale-stroke-label #{i * chart.scaleFactor}&thinsp;M

    #controls
      a#btn-reset.btn(tabindex="0")
        svg.btn-icon(viewBox="0 0 24 24")
          rect.btn-icon-shape(x="0"  y="0" width="8" height="24")
          polygon.btn-icon-shape(points="24,24 24,0 8,12 ")

      a#btn-play.btn(tabindex="0")
        svg.btn-icon(viewBox="0 0 24 24")
          polygon.btn-icon-shape(points="0,24 0,0 24,12 ")

      a#btn-pause.btn(tabindex="0")
        svg.btn-icon(viewBox="0 0 24 24")
          rect.btn-icon-shape(x="0"  y="0" width="8" height="24")
          rect.btn-icon-shape(x="16" y="0" width="8" height="24")

      a#btn-end.btn(tabindex="0")
        svg.btn-icon(viewBox="0 0 24 24")
          rect.btn-icon-shape(x="16" y="0" width="8" height="24")
          polygon.btn-icon-shape(points="0,0 0,24 16,12 ")

      #axis-years.list-bare
        ul#axis-years-list
          for year, i in chart.scale
            li.year
              a.year-link(data-index=i)= year

    small#chart-source
      | Source: Department of Foreign Affairs and Trade; Lowy Institute

    a#chart-logo(href="https://www.lowyinstitute.org/")
      img(src="/img/lowyinstitute-logo.png")

block css
  link(
    type="text/css"
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Montserrat:500,700"
    media="all"
  )

  style
    include:sass style.sass
