extend ../../partials/issue

block append config
  - page.title = "Relations with the US"

block intro-image
  img.bg-img(data-src="../../img/trump-morrison.jpg")

block intro-caption
  :marked
    Photo: [Wikimedia Commons](https://commons.wikimedia.org/wiki/File:President_Donald_J._Trump_at_the_G20_Summit_%2846120553691%29.jpg)

block intro-description
  :marked
    Australia’s alliance with the United States is deep and enduring. In 2016
    an Obama administration official said: “Our allies all give us headaches,
    except for Australia. You can always count on Australia.”<sup>[1]</sup>
    President Donald Trump is sceptical of alliances, however, and he had a
    testy early phone call with Prime Minister Malcolm Turnbull. Yet as
    historian James Curran notes, “there is nothing new in leaders of the
    United States and Australia adopting contrasting positions and policies on
    how to approach challenges in Asia”.<sup>[2]</sup>

    [1]: https://www.theatlantic.com/international/archive/2016/03/obama-goldberg-world-leaders/473367/
    [2]: https://interactives.lowyinstitute.org/archive/the-prime-ministers-in-america/

block scroller  
  +item(1)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Government

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-md.txt-border.ph-md.txt-left
          :marked
            Scott Morrison’s position on the alliance is very much in the tradition of his Liberal predecessors: “A strong America — centrally engaged in the affairs of our region — is critical to Australia’s national interests.”<sup>[3]</sup> Mr Morrison has also said that Asia is entering a period of heightened competition between the United States and China.<sup>[4]</sup> The Turnbull–Morrison government was disappointed by the Trump administration’s decision to withdraw from the Trans-Pacific Partnership trade deal, and worked to revive it without the United States. 

            [3]: https://www.pm.gov.au/media/keynote-address-asia-briefing-live-beliefs-guide-us
            [4]: https://www.lowyinstitute.org/the-interpreter/scott-morrison-gets-ready-asia-summit-season

        .txt-source
          :marked
            Scott Morrison’s foreign policy *[→]*

            [→]: https://www.pm.gov.au/media/keynote-address-asia-briefing-live-beliefs-guide-us
 
    .row
      .col-1-2.bg-lt
        .txt-lg.p-md(style="max-width: 450px")
          :marked
            Robertson Barracks in Darwin currently hosts a Rotational Force of
            around 1700 Marines, part of the United States Marine Corps Forces,
            Pacific. That number is set to reach 2500 by July.<sup>[5]</sup>

            [5]: https://www.abc.net.au/news/2019-04-24/marines-us-arrive-in-darwin-largest-rotational-prime-minister/11043196;

      .col-1-2.bg-hl.txt-ff.frame
        .img-pan
          img.bg-img(data-src="../../img/robertson-barracks.jpg")
        .caption.mx-480(style="max-width: 26em")
          | U.S. troops attend an indigenous ceremony
          | at Robertson Barracks in Darwin
          | Photo: 
          a(href="https://www.flickr.com/photos/us-pacific-command/33878565894")
            | U.S. Indo-Pacific Command / Flickr
 
  +item(2)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Opposition

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-md.txt-border.ph-md.txt-left
          :marked
            Bill Shorten describes the United States as “our closest ally”. On
            the other hand, he has called for a more independent foreign
            policy<sup>[6]</sup> and he was highly critical of Trump during the
            2016 US presidential election campaign. He has also said that:
            “Australia’s interests are always best served when the United States
            is engaged in our region — and the ANZUS alliance helps anchor that
            engagement.”<sup>[7]</sup>

            [6]: https://www.lowyinstitute.org/publications/foreign-policy-next-labor-government
            [7]: https://www.lowyinstitute.org/publications/foreign-policy-next-labor-government

        .txt-source
          :marked
            Bill Shorten’s foreign policy *[→]*

            [→]: https://www.lowyinstitute.org/publications/foreign-policy-next-labor-government 
 
    .row
      .col-fw.bg-hl.txt-ff.frame
        img.bg-img.bg-img-abs(data-src="../../img/wtc.jpg")
        .txt-lg.p-md(style="max-width: 23em")
          span.bg-ff.bg-ffs.txt-dk.pv-xs(style="line-height: 1.5")
            | While the ANZUS Treaty has underpinned Australia–US relations for
            | decades, it only formally commits the two countries to “consult
            | together” and “act to meet the common danger”. The agreement has
            | been invoked only once, by Prime Minister Howard after the 
            | 9/11&nbsp;attacks.
            sup
              a(
                target="_blank"
                rel="noreferrer"
                href="https://www.abc.net.au/news/2014-07-08/does-anzus-commit-us-to-come-to-australias-aid-fact-check/5559288"
              ) 8

        .txt-source.bg-dk
          :marked
            ABC factcheck on the ANZUS Treaty *[→]*

            [→]: https://www.abc.net.au/news/2014-07-08/does-anzus-commit-us-to-come-to-australias-aid-fact-check/5559288
 
  +item(3)
    .row
      .col-1-2
        .fill
          .row
            .col-fw.bg-dk.txt-ff
              .p-md
                .pv-xs.txt-sm.txt-tu.txt-hl= page.title

                .txt-xxl.pv-xs What Our Expert Says

                .txt-sm.txt-tu.pv-sm.txt-expert-author
                  | Dr Michael Fullilove<br>
                  span.txt-mt Executive Director

          .row.bg-hl
            .col-fw.txt-lg.p-md
              .mx-480
                span.bg-ff.bg-ffs.txt-dk
                  | The result of the US presidential election 
                  | in November 2020 will have important
                  | ramifications for the&nbsp;alliance

      .col-1-2.p-lg.txt-expert-content
        .block.txt-sans.txt-left
          :marked
            An illustration of the importance of the Australia–US alliance is
            that both major Australian political parties claim its authorship.
            The Australian Labor Party dates the alliance to the aftermath of
            the attack on Pearl Harbour in 1941, when Prime Minister John Curtin
            said that “Australia looks to America”.<sup>[9]</sup> By contrast,
            the Coalition emphasises the Menzies government’s negotiation of the
            ANZUS Treaty a decade later.
            
            The alliance is remarkably popular: around three-quarters of
            Australians (76%) say it is very or fairly important for Australia’s
            security.<sup>[10]</sup>
            
            President Donald Trump has complicated the picture. Scott Morrison
            had a ‘pull-aside’ meeting with President Trump on the sidelines of
            the G20 Summit in November 2018, at which the president asked what
            had happened to Mr Morrison’s predecessor, Malcolm
            Turnbull.<sup>[11]</sup>
            
            Mr Shorten had some strong words for Donald Trump in 2016, so his
            first meeting with the president would be a point of curiosity. On
            the other hand, by now many democratic leaders have said blunt
            things about Mr Trump.<sup>[12]</sup> At the Lowy Institute, Mr
            Shorten said he would work with Mr Trump
            “professionally”.<sup>[13]</sup>
            
            The result of the US presidential election in November 2020 will
            have important ramifications for the alliance, depending on which
            combination of the Rubik’s cube clicks into place. For example, a
            Morrison–Trump relationship would be very different from a
            Shorten–Sanders one.
            
            China is the other piece of the puzzle. In Asia’s changing
            diplomatic geometry, Australia, the United States and China form a
            strategic triangle. The condition of the Australia–China and
            US–China sides of the triangle will inevitably affect the strength
            of the US–Australia alliance.

            [9]: https://www.lowyinstitute.org/the-interpreter/john-curtins-turn-america-75-years 
            [10]: https://www.lowyinstitute.org/publications/2018-lowy-institute-poll 
            [11]: https://www.afr.com/news/politics/donald-trump-thanks-scott-morrison-for-backing-on-iran-20181201-h18lbrl
            [12]: https://www.bbc.com/news/world-40528955
            [13]: https://www.lowyinstitute.org/news-and-media/multimedia/audio/address-hon-bill-shorten-mp 
