extend /partials/layout

block append config
  - var datapath = "static/charts/ocean-of-debt/figure-8/data"
  - _.extend(page, data.getOne(datapath))
  - toPercent = (n) => (n * 100).toFixed(2) + "%"

block page
  .wrapper.flex
    .txt-center.flex.flex-grow.flex-col
      - chart = page.charts[0]
      .chart-title= chart.title
      .chart-subtitle.txt-muted= chart.subtitle

      .chart.flex-grow: .chart-content
        - scale = chart.scale
        - ln = chart.axes[1].values.length
        - fx = (i) => (i + 0.5) / (ln + 0.5)
        - fy = (y) => (y - scale.minY) / (scale.maxY - scale.minY)
        svg(height="100%" width="100%")
          svg(height="100%")
            for n, i in new Array(scale.ticks)
              - y = 1 - (i / (scale.ticks - 1))
              svg(y=toPercent(y))
                text(text-anchor="end" transform="translate(-8 4)")
                  = (scale.minY + (i/(scale.ticks - 1)) * (scale.maxY - scale.minY)).toFixed(1)

          g
            for ys, i in chart.axes[1].values
              - label = chart.axes[0].values[i]
              svg(
                x=toPercent(fx(i))
                y=toPercent(0)
                width=toPercent(fx(0))
                height="100%"
              )
                g.bars
                  for y, j in ys
                    rect(
                      width="25%"
                      x=`${j * 25}%`
                      y=toPercent(fy(chart.scale.maxY - y))
                      height=toPercent(fy(y))
                      fill=chart.colors[j]
                    )

                svg(x="50%" y="100%")
                  text(
                    y=24
                    text-anchor="middle"
                  )
                    =label

      ul.legend.list-bare.txt-left.flex.flex-ch
        for item, i in chart.legend
          li.legend-item
            span.legend-item-box(style=`background:${chart.colors[i]}`)
            span.legend-item-label= item

block append css
  style
    :sass
      .wrapper
        height: 400px

      .chart
        box-sizing: border-box
        position: relative

      .chart-content
        position: absolute
        top: 20px
        left: 32px
        right: 32px
        bottom: 32px

      .chart-content > svg
        border-bottom: 1px solid #ccc

      .chart-title,
      .chart-subtitle
        padding: 0 24px

      .chart-subtitle
        height: 0

      .legend
        font-size: 15px

      .legend-item
        margin: 4px 8px 0
        padding-left: 24px
        position: relative

      .legend-item-box
        position: absolute
        left: 0
        top: 4px
        height: 1em
        width: 1em
        background: black

      text
        font-size: 14px
        fill: #4b4f56

      svg
        overflow: visible

      @media (max-width: 600px)
        .legend
          flex-wrap: wrap
          justify-content: flex-start
          max-width: 320px
          margin: auto
        .legend-item
          width: 120px
        .chart-content
          right: 0
        .bars
          transform: scaleX(1.3)
