extend /partials/layout

block append config
  - page.includeFonts = false
  - page.url = "https://interactives.lowyinstitute.org/features/rbo-debate/"
  - page.class = "page-0 page-menu"
  - page.title = "Rules-based Order Debates"
  - page.metaTitle = `${page.title} - Lowy Institute`
  - page.description = ""
  - page.image = "http://interactives.lowyinstitute.org/features/rbo-debate/img/thumbnail.jpg"
  - page.feature = data.getOne("static/features/rbo-debate/data")

block page
  
  .container
  
    header#header.txt-tu.txt-sm.num-lf
      a.txt-bare.header-logo.home(href="https://www.lowyinstitute.org/")
        | Lowy Institute
      include partials/social

    .landing.mx-auto.txt-center.txt-ff
      h1.title.txt-cond China and the Rules-Based Order
      p.mx-auto.pv-md Bespoke food truck vinyl art party franzen hell of messenger bag gastropub mustache thundercats. Tilde pork belly echo park, copper mug food truck shoreditch in tbh ramps.
        a.strong.txt-bare &emsp;Read introduction&ensp;
          svg(width="15" height="15" viewBox="0 -2 15 15" fill="white" xmlns="http://www.w3.org/2000/svg")
            path(d="M7.34185 0.358246C6.88568 0.835907 6.88568 1.60798 7.34185 2.08564L10.017 4.88687H1.16667C0.522668 4.88687 0 5.43416 0 6.10851C0 6.78285 0.522668 7.33015 1.16667 7.33015H10.017L7.34185 10.1314C6.88568 10.609 6.88568 11.3811 7.34185 11.8588C7.56935 12.097 7.86802 12.2167 8.16669 12.2167C8.46535 12.2167 8.76402 12.097 8.99152 11.8588L14.483 6.10851L8.99152 0.358246C8.53535 -0.119415 7.79802 -0.119415 7.34185 0.358246Z")

    .links.bxsh-yel.bg-ff.mx-auto
      h3.md.txt-center.txt-tu Debate Threads
      p.md.txt-center.txt-spaced Articles on the right are responses to articles on the left.<br>Select an article to see how the debates thread together.
      
      .flex
        .col-1-2.txt-right
          for article in page.feature.articles
            .link
              h4.xs.txt-tu.txt-mute= article.author
              h2.md.txt-semi 
                a.txt-bare(href=`articles/${article.href}`)= article.title
              p.sm.txt-semi Add another bit to his desire to transform the rules-based order in ways that will align it.
        .col-1-2
          for response in page.feature.responses
            .link
              h4.xs.txt-tu.txt-mute= response.author
              h2.md.txt-semi 
                a.txt-bare(href=`responses/${response.href}`)= response.title
              p.sm.txt-semi Add another bit to his desire to transform the rules-based order in ways that will align it.
  

block append css
  style
    include:sass _styles.sass
