extend /partials/layout

block append config
  - page.title = "API Slides"

block page
  #wrapper
    .slide
      iframe(
        data-view="in-viewport"
        width="100%"
        height=720
        src="../gdp-vs-ppp/"
      )
    .slide
      iframe(
        data-view="in-viewport"
        width="100%"
        height=720
        src="../military-expenditure/"
      )

    .slide
      iframe(
        data-view="in-viewport"
        width="100%"
        height=720
        src="../me-china-vs-us/gdp.html"
      )

    .slide
      img(
        width="100%"
        height=720
        src="./east-asia-exports-driven-by-non-western-demand.png"
      )

    .slide
      iframe(
        data-view="in-viewport"
        width="100%"
        height=720
        src="../me-china-vs-us/me.html"
      )

block append scripts
  script
    include:coffee slides.coffee


block css
  style
    :sass
      html, body
        background-color: #2d3440
        margin: 0
        padding: 0

      #wrapper
        height: 100vh
        width: 100vw
        overflow: scroll
        scroll-snap-type: y mandatory

      iframe
        border: none

      iframe, img
        max-width: 1280px
        margin: auto
        display: block

      .slide
        height: 100vh
        width: 100vw
        display: flex
        scroll-snap-align: start
