- let dates = card.dates
- let events = card.content
- let index = card.index
- let n = dates.length
- let dotRadius = 6

.history-title.txt-m
  svg.inline(version='1.2' baseprofile='tiny' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24')
    path(d='M12 2c-4.971 0-9 4.029-9 9s4.029 9 9 9 9-4.029 9-9-4.029-9-9-9zm2 2c0 1-.5 2-1.5 2s-1.5 1-1.5 2v3s1 0 1-3c0-.553.447-1 1-1s1 .447 1 1v3c-.552 0-1 .448-1 1s.448 1 1 1c.553 0 1-.448 1-1h1v-2l1 1-1 1c0 3 0 3-2 4 0-1-1-1-3-1v-2l-2-2v-2c-1 0-1 1-1 1l-.561-.561-2.39-2.39c.11-.192.225-.382.35-.564l.523-.678c1.468-1.716 3.644-2.807 6.078-2.807.691 0 1.359.098 2 .262v.738z')
  | Global Context
    
.history-wrap
  //
    .btnfw(onclick=`scrollHistory(this, 1)`)
      <svg version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="h-btn"><path d="M8.586 5.586c-.781.781-.781 2.047 0 2.828l3.585 3.586-3.585 3.586c-.781.781-.781 2.047 0 2.828.39.391.902.586 1.414.586s1.024-.195 1.414-.586l6.415-6.414-6.415-6.414c-.78-.781-2.048-.781-2.828 0z"/></svg>
    .btnbw(onclick=`scrollHistory(this, 0)`)
      <svg version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="h-btn"><path d="M8.586 5.586c-.781.781-.781 2.047 0 2.828l3.585 3.586-3.585 3.586c-.781.781-.781 2.047 0 2.828.39.391.902.586 1.414.586s1.024-.195 1.414-.586l6.415-6.414-6.415-6.414c-.78-.781-2.048-.781-2.828 0z"/></svg>
  .x-scroller.skinny-scrollbar(style="overflow-x:scroll" onscroll="showHideHistoryBtns(this)")
    .history-timeline
      each event, i in events
        .node
          .event
            .event-text.txt-s!= event.description
            .event-title.txt-m!= event.title
          .timeline
            .tl-date.txt-s= dates[i]
            //.dot(style=`left: calc(50% - ${dotRadius}px)`)
              .dot.over
              if i == 0 && n > 1
                .line.line-start 
              else if i==n-1  && n > 1
                .line.line-end
              else
                .line(style=`background: ${n == 1 ? 'white' : ''}`)
