
- let intro = data.getOne("static/features/rules-based-order/partials/intro").intro[0]
- let themes = data.getOne("static/features/rules-based-order/partials/intro").themes[0]

section
  .banner-wrap
    .banner.bg-ccnr(style="background-image: url('./img/banner.jpg')")
      .banner-title.txt-cond.txt-center Australia and the<br/>Rules–Based Order:<br/>The history of an idea
      p.txt-s.txt-center(style="color: #fffc; position: absolute; bottom: 25%; width: 100%") by Ben Scott, Sam Roggeveen, Madeleine Nyst
    //.ptr.txt-w.txt-xl.txt-center.icon.icon-down(
      onclick="scrollThis('html,body','.intro-wrap',0)"
      style="position: absolute; top: 30%; width: 100%"
      )
    .credits.flex.flex-cv
      strong.txt-s.txt-tu Expert Commentary From
      #experts.flex.flex-ch.txt-sm
        .txt-nowrap.txt-center(style="pointer-events: none;")
          cite.bishop.bg-ccnr
          | <br>Julie Bishop
        .txt-nowrap.txt-center(style="pointer-events: none; margin: 0 2em;")
          cite.medcalfe.bg-ccnr
          | <br>Pf. Rory Medcalf
        .txt-nowrap.txt-center(style="pointer-events: none;")
          cite.maude.bg-ccnr
          | <br>Richard Maude
          
section
  .section-wrap.intro-wrap.pv-xl
    .intro-txt!= marked(intro)    
    span.ib.reveal.faded.txt-tu.txt-w700.txt-s.ptr.txt-center.p-sm(
      onclick="readMore()"
      ) Continue reading ...
      
section.dark
  .section-wrap.pv-lg
    h1 Meanings of the RBO
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  #theme-menu.flex.theme-links
    .col-2-3
      h2.ptr Themes &emsp;
        span.icon.icon-right-sm.icon-md
      .flex.theme-links.txt-m
        .col-1-2
          ul
            each theme, i in ["Centred on multilateral organisations", "Reflecting our values", "Delivering 70 years of peace and prosperity", "Constraining power", "US dependent"]
              li= theme
        .col-1-2
          ul
            each theme, i in ["Shaping China", "Friends in the region and around the globe", "Under unprecedented pressure", "Saving and evolving", "Tangible deeds"]
              li= theme
    .col-1-3
      h2.ptr Governments &emsp;
        span.icon.icon-right-sm.icon-md
      .theme-links
        ul
          each government in ["Kevin Rudd (2007&mdash;2010)", "Julia Gillard (2010&mdash;2013)", "Tony Abbott (2013&mdash;2015)", "Malcolm Turnbull (2015&mdash;2018)", "Scott Morrison (2018&mdash; )"]
            li!= government

  //.intro-footer.flex-ch.txt-m(onclick="scrollThis('html,body', '.tile-page', 0)")
    .txt-tu.txt-w700.ptr Jump to timeline &nbsp;
    .ptr.icon.icon-down

section
  .section-wrap.pv-xl(style="max-height: none")
    .themes-txt!= marked(themes)

section
  .tile-page.flex-cv.pv-md
    .col-lg.pv-sm
      h1 Annotated Timeline
      .txt-m 
        :marked
          The timeline below highlights key moments in the evolution of the rules-based order.
          From Kevin Rudd, the first Australian Prime Minister to use the term, through to current PM Scott Morrison,
          we track how the idea has been shaped by each cabinet and significant global events.
          Expert commentators offer inside knowledge along the way.
    .tile-wrap.pv-sm: .tiles.flex-ch.flex-wrap
      #tiles-prev.btn.txt-bl.ptr.br-max.ib(onclick="next(false)") &larr;
      each pm, i in ["Kevin Rudd", "Julia Gillard", "Tony Abbott", "Malcolm Turnbull", "Scott Morrison"]
        .tile.flex.txt-center.txt-tu.txt-s.ptr.appear(class=`tile-${i} delay-${i+1}` onclick=`togglePM(${i}, true)`)
          div= pm
      #tiles-next.btn.txt-bl.ptr.br-max.ib(onclick="next(true)") &rarr;
