
- let intro = data.getOne("static/features/rules-based-order/partials/intro").intro[0]
- let themes = data.getOne("static/features/rules-based-order/partials/intro").themes[0]
- let governments = ["2007&mdash;2010 (Rudd Govt.)", "2010&mdash;2013 (Gillard Govt.)", "2013&mdash;2015 (Abbott Govt.)", "2015&mdash;2018 (Turnbull Govt.)", "2018&mdash; (Morrison Govt.)"]

//p.txt-s.txt-center(style="color: #fffc; position: absolute; bottom: 25%; width: 100%") by Ben Scott, Sam Roggeveen, Madeleine Nyst

section
  .banner-wrap
    .banner.bg-ccnr(style="background-image: url('./img/banner.jpg')").flex-ch
      .flex-cv.txt-w
        .banner-title.txt-cond.txt-center Australia's security and the<br/>Rules–based Order:<br/>An evolving concept
          <hr>      
        .txt-s.txt-tu.txt-center(style="opacity: 0.8; font-weight: 500") With Expert Contributions From
        #experts.txt-semi
          .flex-ch
            .txt-nowrap.txt-center
              cite.bishop.bg-ccnr
              | Julie Bishop
            .txt-nowrap.txt-center
              cite.medcalfe.bg-ccnr
              | Rory Medcalf
          .flex-ch
            .txt-nowrap.txt-center
              cite.charlesworth.bg-ccnr
              | Hilary Charlesworth
            .txt-nowrap.txt-center
              cite.maude.bg-ccnr
              | Richard Maude
          
section
  .section-wrap.intro-wrap.pv-xl
    .intro-txt!= marked(intro)    
    span.ib.reveal.faded.txt-tu.txt-w700.txt-s.ptr.txt-center.p-sm(
      onclick="readMore()"
      ) Continue reading ...
      
section.dark
  .section-wrap.pv-lg
    h1 The evolution of a concept
    p Explore how the rules-based order has developed over time and in meaning.
    p Scroll on, or select an item below to jump ahead.
  #theme-menu.flex.theme-links
    .col-2-3
      h2 The rules-based order ... &emsp;
        span.icon.icon-right-sm.icon-md
      .flex.theme-links.txt-m
        .col-1-2
          ul
            each theme, i in ["... is multilateral", "... reflects our values", "... has delivered peace", "... constrains power", "... is US dependent"]
              li: a= theme
        .col-1-2
          ul
            each theme, i in ["... could shape China", "... is global and regional", "... is fragile", "... needs to evolve", "... needs tangible support"]
              li: a= theme
    .col-1-3
      h2 Timeline &emsp;
        span.icon.icon-right-sm.icon-md
      .theme-links.txt-m
        ul
          each government in governments
            li: a!= government

  #side-menu.fixed-side-menu.hidden.dark.flex-cv
    .button.closed.ptr(onclick="toggleSideMenu(this)")
      span.icon.icon-menu
    .menu-body.p-md
      .txt-tu.txt-muted.txt-w700 The rules-based order... 
      ul
        each theme, i in ["Is multilateral", "Reflects our values", "Has delivered peace", "Constrains power", "Is US dependent", "Could shape China", "Is global and regional", "Is fragile", "Needs to evolve", "Needs tangible support"]
          li.ptr.txt-bare= theme
      .txt-tu.txt-muted.txt-w700 Timeline
      ul
        each government in governments
          li.ptr.txt-bare!= government
        

section
  .section-wrap.pv-xl(style="max-height: none")
    .themes-txt!= marked(themes)

section
  .tile-page.flex-cv.pv-md
    .col-lg.pv-sm
      h1 Annotated Timeline
      .txt-m 
        :marked
          The timeline below highlights key moments in the evolution of the rules-based order.
          From Kevin Rudd, the first Australian Prime Minister to use the term, through to current PM Scott Morrison,
          we track how the idea has been shaped by each cabinet and significant global events.
          Expert commentators offer inside knowledge along the way.
    .tile-wrap.pv-sm: .tiles.flex-ch.flex-wrap
      #tiles-prev.btn.txt-bl.ptr.br-max.ib(onclick="next(false)") &larr;
      each pm, i in ["2007&mdash;2010<br>(Rudd)", "2010&mdash;2013<br>(Gillard)", "2013&mdash;2015<br>(Abbott)", "2015&mdash;2018<br>(Turnbull)", "2018&mdash;<br>(Morrison)"]
        .tile.flex.txt-center.txt-tu.txt-xs.ptr.appear(class=`tile-${i} delay-${i+1}` onclick=`togglePM(${i}, true)`)
          div!= pm
      #tiles-next.btn.txt-bl.ptr.br-max.ib(onclick="next(true)") &rarr;
