
- let sections = data.getOne("static/features/rules-based-order/partials/intro").sections

section
  .banner-wrap
    .banner(style="background-image: url('./img/banner.jpg')")
      .banner-title.txt-cond Australia and the<br/>Rules–Based Order:<br/>The history of an idea
    .credits
      div(style='padding: 0 30px')
        strong.txt-s.txt-tu Research
        .txt-m Sam Roggeveen, Madeleine Nyst,<br/>Ben Scott
        p
        strong.txt-s.txt-tu Expert Commentary
        .txt-m Julie Bishop, Gareth Evans,<br>Rory Medcalfe, Julia Roberts

section
  .intro-wrap.ph-md.pv-lg
    .title.txt-l.txt-b.txt-tu.txt-w700 Introduction
    .intro-txt
      each section, i in sections
        .pv-sm(class= !!i ? 'collapse hidden' : '')
          .txt-l(class=`h-${i}`)= section.h
          p.b!= marked(`${section.b}`)
    p.reveal.faded.txt-tu.txt-w700.txt-l.ptr.txt-center.p-sm(
      onclick="readMore()"
      ) &bull; &bull; &bull;
  .intro-footer.flex-ch.txt-m(onclick="scrollThis('html,body', '.tile-page', collapsed ? 0 : 53)")
    .txt-tu.txt-w700.ptr Jump to timeline &nbsp;
    .ptr
      <svg version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" transform='rotate(90)' fill="white" width="20" height="20" viewBox="0 0 24 24" class="h-btn"><path d="M8.586 5.586c-.781.781-.781 2.047 0 2.828l3.585 3.586-3.585 3.586c-.781.781-.781 2.047 0 2.828.39.391.902.586 1.414.586s1.024-.195 1.414-.586l6.415-6.414-6.415-6.414c-.78-.781-2.048-.781-2.828 0z"/></svg>


section
  .tile-page.flex-cv.pv-md
    .col-md.pv-sm
      h1 Prime Ministers and the rules-based order
      .txt-m  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .tile-wrap.pv-sm: .tiles.flex-ch.flex-wrap
      .btn.ptr.br-max.ib(onclick="next(false)") &larr;
      each pm, i in ["Kevin Rudd", "Julia Gillard", "Tony Abbott", "Malcolm Turnbull", "Scott Morrison"]
        .tile.flex.txt-center.txt-tu.txt-s.ptr.appear(class=`tile-${i} delay-${i+1}` onclick=`togglePM(${i})`)
          div= pm
      .btn.ptr.br-max.ib(onclick="next(true)") &rarr;
