//.nav-wrapper.txt-ml
  .nav-tiles.flex-ch
    each pm, i in ["Kevin Rudd", "Julia Gillard", "Tony Abbott", "Malcolm Turnbull", "Scott Morrison"]
      .tile.txt-center.txt-tu.txt-xxs.flex.ptr(class=`tile-${i}` onclick=`togglePM(${i})`)
        div= pm 
  
  //.nav-btn Kevin Rudd
    img.nav-btnimg(src="img/dropbtn.svg")
  //.nav-drop.txt-sm
    each pm, i in ["Kevin Rudd", "Julia Gillard", "Tony Abbott", "Malcolm Turnbull", "Scott Morrison"]
      .tile.txt-center.txt-tu.txt-xs.flex.ptr(class=`tile-${i}` onclick=`togglePM(${i})`)
      if (i == 0)
        .nav-dropitem.active(id=`nav--${i}`)= pm
      else
        .nav-dropitem(id=`nav--${i}`)= pm
  
