.date.txt-sm!= card.date
.top
  img.image(src="img/quotations.svg")
  .bar
.quotation.txt-l!= card.quotation
.name.txt-l!= card.name
.supp.txt-m!= card.supp
.social-share
  a.icon.icon-social-facebook(
    target="_blank"
    href=[
      "https://www.facebook.com/sharer.php?u=",
      encodeURIComponent(page.url),
    ].join("")
  )
  a.icon.icon-social-twitter(
    target="_blank"
    href=[
      "https://twitter.com/share?url=",
      encodeURIComponent(page.url),
      "&text=",
      encodeURIComponent(card.quotation),
      " –",
      encodeURIComponent(card.name),
      "&via=LowyInstitute"
    ].join("")
  )
.quote-footer
